<div class="container-fluid bg-yellow">
    <div class="row">
        <div class="col-lg-10 mx-auto text-center">
            <h1 class="pt-5">Receitas</h1>
            <p class="pt-2">Procurando a receita de sucesso? Só aqui tem várias.</p>
            <div class="col-lg-4 buscar">
                <select class="custom-select" [formControl]="productCtrl">
                    <option value="" selected="true">Filtrar por produto</option>
                    <option *ngFor="let produto of produtoService.produtos" [value]="produto.title">
                        {{ produto.title }}
                    </option>
                </select>
            </div>
        
            <div class="dicas">
                <div class="row">
                    <div class="col-lg-3 col-md-10 text-center dicas-item mt-4" 
                    *ngFor="let receita of receitas" [routerLink]="['/receitas', receita.recipeID]">
                        <div class="dicas-content">
                            <img [src]="receita.thumbs[0].url" [alt]="receita.title" class="w-100 produto-image ">
                            <div class="space " >
                                <span>{{ receita.title }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>