@import 'helpers';
@import 'variables';
h1 {
    font-family: McCainSunshinePro;
    color: #000;
    font-size: 52px;
    letter-spacing: 1px;
}

p {
    color: #000;
    font-family: KoHoRegular;
}

span {
    color: #000;
    font-family: KoHoRegular;
}

.negocio-item {
    padding: 100px;
    cursor: pointer;
}

h3 {
    font-family: McCainSunshinePro;
    color: #fff;
    font-size: 42px;
    letter-spacing: 1px;
}

