<div class="container-fluid produto-sozinho" >
    <div class="row">
        <div class="col-lg-6 col-md-12 photo bg-default bg-cover"  *ngIf="produto.images"
        [ngStyle]="{'background-image': 'url('+ produto.images[0].url +')'}">
        </div>
        <div class="col-lg-6 col-md-12 infos bg-yellow">
            <h1>{{ produto.title }}</h1>
            <h6>{{ produto.subtitle }}</h6>
            <span [innerHTML]="produto.description">
            </span>

            <div class="row">
                <div class="col-12 text-center dados">
                    <h5 class="pb-3">Dados Técnicos</h5>
                    <div class="row">
                        <div class="col-6">
                            <p> <span class="bold-text">Código do produto:</span>
                                <br> {{ produto.code }}
                            </p>
                        </div>
                        <div class="col-6">
                            <p> <span class="bold-text">Apresentação:</span><br>
                                {{ produto.apresentation }}
                            </p>
                        </div>
                        <!-- <div class="col-4">
                            <p><span class="bold-text">Armazenagem:</span> <br>
                               {{ produto.storage }}
                            </p> 
                        </div> -->
                    </div>
                  
                    <a href="javascript:void(0)" (click)="download(produto.datasheet, produto.title )"  target="_blank"
                     class="btn btn-warning-2  text-center mx-auto text-uppercase my-4">
                     Baixe a ficha técnica do produto
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center mx-auto sugestoes bg-default"
            style="background-image:url(./assets/photos/produto-item-bg.png);">
            <h3>Nossas Sugestões</h3>
            <div class="row mx-0">
                <div class="col-10 mx-auto pt-5">
                    <div class="row">
                        <div class="col-lg-3 col-md-10 sugestoes-item mx-auto mt-2"
                            (click)="goTo('receitas')">
                             <div class="push-arrow">
                                <img src="./assets/icons/toggle-sidebar.svg" alt="">
                            </div>
                            <div class="content">
                                <h2>Receitas</h2>
                                <p>Confira receitas com esse produto.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-10 sugestoes-item mx-auto mt-2"
                        (click)="goTo('baixar')">
                            <div class="push-arrow">
                                <img src="./assets/icons/toggle-sidebar.svg" alt="">
                            </div>
                            <div class="content">
                                <h2>Baixar Fotos</h2>
                                <p>Imagens exclusivas desses produtos.</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-10 sugestoes-item mx-auto mt-2"
                        (click)="goTo('distribuidores')">
                            <div class="push-arrow">
                                    <img src="./assets/icons/toggle-sidebar.svg" alt="">
                                </div>
                            <div class="content">
                                <h2>Onde encontrar</h2>
                                <p>Encontre os distribuidores mais próximos.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>