@import 'helpers';
@import 'variables';


.infos {
    @include media-breakpoint-down(md) {
        padding: 20px;
    }

    @include media-breakpoint-up(md) {
        padding: 50px;
    }
}


.photo {
    min-height: 200px;
}

.sugestoes {
    padding: 100px 0 300px 0px;
    h3 {
        font-family: McCainSunshinePro;
        color: #fff;
        font-size: 52px;
    }
}


.sugestoes-item {
    background-color: rgba($color: #000000, $alpha: 0.5);
    position: relative;
    padding: 10px;
    cursor: pointer;
    .push-arrow {
        position: absolute;
        top: 46%;
        left: 0;
        width: 30px;
        height: 30px;
        z-index: 10;
        transition: all 1s;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 10%;
        height: 100%;
        background-color: $theme-color-2;
        transition: all 1s;
    }

    &:hover::before {
        transition: all 500ms;
        width: 100%;
    }

    .content {
        position: relative;
        z-index: 3;
    }

    &:hover {
        h2,
        p {
            color: #000000;
        }

        .push-arrow {
            left: 90%;
            transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715)
        }
    }

    h2 {
        font-family: McCainSunshinePro;
        color: $theme-color-2;
        text-align: left;
        padding: 40px 0px 0px 27px;
        transition: all 2s;
    }

    p {
        font-family: KoHoRegular;
        color: #fff;
        text-align: left;
        padding: 0px 0px 40px 27px;

    }

   
}

.btn-warning-2 {

    @include media-breakpoint-down(md) {

        padding: 20px;

    }

    @include media-breakpoint-up(md) {

        padding: 25px;

    }

    @include media-breakpoint-up(lg) {}
}