@import 'helpers';
@import 'variables';

// .cover{
//     @include bg-default;

// }

nav {
    background-color: $theme-color-1;
    position: relative;
    z-index: 999;
    @include media-breakpoint-down(md) {
        padding: 5px;
    }

    @include media-breakpoint-up(md) {
        padding: 10px;
    }

    @include media-breakpoint-up(lg) {
        padding: 10px;
    }

    &.fixed-top {
        position: sticky;
        top: 0;
        left: 0;
    }

    ul {
        list-style: none;
        text-align: center;

        li {
            text-decoration: none;
            display: inline-block;
            padding: 0 10px;

            a {
                color: #fff;
                font-family: KoHoRegular;

                &:hover, &.active {
                    color: $theme-color;
                    font-family: KoHoBold;
                    text-decoration: none;
                }

            }
        }
    }

}

#nav.mobile {
    img {
        padding: 0px 0px 25px 0px;
    }

    ul {
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        z-index: 0;
        background-color: black;
        padding-top: 50px;
        padding-left: 0px;
        opacity: 0;
        transition: width 1s;

        &.show {
            padding-top:80px;
            overflow: auto;
            width: 100%;
            opacity: 1;
            z-index: 999;
            transition: width 500ms;

        }

    }

    li {
        display: block;
        padding: 20px;
    }

    .navbar-theme-brand.fixed {
        position: fixed;
        top: 15px;
        left: 5px;
        z-index: 1000;
        img {
            width: 130px;
        }
    }
}


.close-mobile {
    position: relative;
    top: 20px;
    left: 25px;
}

.logo-menu {
    @include media-breakpoint-down(md) {
        position: relative;
        top: 20px;
        left: 25px;
    }

    @include media-breakpoint-up(md) {
        position: relative;
        top: 20px;
        left: 25px;
    }

    @include media-breakpoint-up(lg) {
        position: relative;
        top: 20px;
        left: 25px;
    }

}

.buscar-menu {
    @include media-breakpoint-down(md) {
        position: absolute;
        top: 30px;
        right: 65px;
    }

    @include media-breakpoint-up(md) {
        position: absolute;
        top: 30px;
        right: 50px;
    }

    @include media-breakpoint-up(lg) {
        position: absolute;
        top: 35px;
        right: 35px;
    }


}

.toogle-mobile {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 20px;
    transition: all 1s;

    &.toggled {
        position: fixed;
        right: 45px;
        top: 15px;
        z-index: 9999;
        transition: all 1s;


    }
}


.search {
    position: absolute;
    right: 35px;
    
    display: inline-block;
    z-index: 999;
    border: none;
    font-family: KoHoRegular;
    color: #fff;
    @include media-breakpoint-down(md) {
        top: 67px;
    }

    @include media-breakpoint-up(md) {
        top: 90px;
    }

    @include media-breakpoint-up(lg) {
        top: 92px;
    }

    input {
        border: none;
        padding: 5px;
        border-bottom: 2px solid $theme-color-3;
        top: 46px;
        color: #fff;
        background-color: $theme-color-1;
        

    }
}

.list {
    position: absolute;
    top: 50px;
    a {
        &:hover {
            text-decoration: none;
            background-color: $theme-color-3;
        }
    }
}

.close-search {
    position: fixed;
    z-index: 888;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

}

.lupa {
    position: absolute;
    z-index: 9999;
    position: absolute;
    z-index: 9999;
    right: 49px;
    @include media-breakpoint-down(md) {
       
        top: 75px;
    
    }

    @include media-breakpoint-up(md) {
       
        top: 98px;
      
    }

    @include media-breakpoint-up(lg) {
        
        top: 100px;
      
    }
    
    img {
       
        position: relative;
        right: 35px;
        

        @include media-breakpoint-down(md) {
       
            top: 30px;
        
        }
    
        @include media-breakpoint-up(md) {
           
            top: 30px;
          
        }
    
        @include media-breakpoint-up(lg) {
            
            top: 46px;
          
        }

    }
}

