<nav id="nav" [ngClass]="{'mobile':helper.isMobile, 'fixed-top': navTop}">
    <a routerLinkActive='active' 
    routerLink='/home' 
    class="navbar-theme-brand"
    [ngClass]="{'fixed': toggled}">
        <img class="logo-menu d-inline-block" src="./assets/logo/mccain-logo.png" alt="mccain-logo">
    </a>
    <ul [ngClass]="{'show':toggled}">
        <li (click)="toggleNav()">
            <a routerLinkActive='active' routerLink='/mccain'>A McCain</a>
        </li>
        <li (click)="toggleNav()">
            <a routerLinkActive='active' routerLink='/produtos'>Produtos</a>
        </li>
        <li (click)="toggleNav()">
            <a routerLinkActive='active' routerLink='/negocio'>Mais para o seu Negócio</a>
        </li>
        <li (click)="toggleNav()">
            <a routerLinkActive='active' routerLink='/distribuidores'>Distribuidores
                McCain
            </a>
        </li>
        <li (click)="toggleNav()">
            <a routerLinkActive='active' routerLink='/contact'>Alô McCain</a>
        </li>
    </ul>
    <a class="buscar-menu d-inline-block" (click)="searcher()" *ngIf="search == false">
        <img src="./assets/icons/icon-buscar.png" alt="buscar">
    </a>

    <a class="toogle-mobile d-inline-block" 
    href="javascript:void(0)" 
    *ngIf="helper.isMobile" 
    [ngClass]="{'toggled':toggled}"
        (click)="toggleNav()">
        <img class="menu-mobile" src="./assets/icons/menu-mobile.svg" *ngIf="!toggled" alt="menu">
        <img class="close-mobile" src="./assets/icons/close-mobile.svg" *ngIf="toggled" alt="close">
    </a>

        
    <div class="search" *ngIf="search">
        <form action="get">
            <input type="text" [formControl]="searchCtrl" placeholder="Pesquisar produto" >
        </form>
        <div class="list-group list table-dark">
            <a class="list-group-item"
            *ngFor="let produto of filteredProducts | async"
            [routerLink]="['/produtos', produto.productID ]"
            (click)="closeSearcher()"> 
                <span class="text-dark">{{ produto.title }} </span>
            </a>
        </div>
    </div>
    <img class="lupa" *ngIf="search" src="./assets/icons/search-icon.svg" alt="search">
</nav>

<div class="close-search" *ngIf="search" (click)="closeSearcher()">

</div>
