<h5 class="bold  category-title">Categorias</h5>
<ul class="sidenav-list">
    <li class="sidenav-item" *ngFor="let item of items">
        <a href="javascript:void(0)" 
        class="d-block" 
        (click)="toggleCat(item); " 
        [ngClass]="{'active':item.toggled, 'isSub': item.subItems.length > 0 }">
            {{ item.name }} 
        </a>
         <ul class="subnav text-truncate"  >
            <li class="subnav-item" 
            *ngFor="let subItem of item.subItems"
            (click)="toggleSub(subItem, item)" [ngClass]="{'active':subItem.toggled }">
                <a href="javascript:void(0)" class="text-capitalize" >
                    {{ subItem.name }}  
                </a>
            </li>
        </ul>
    </li>
</ul>