@import 'variables';
@import 'helpers';

.category-title {
   
    margin-top: 50px !important;
    &::after {
        content: '';
        display: block;
        width: 100%;
        margin: 10px auto;
        border: 1px solid rgba($theme-color-1, 0.2)
    }
}

.category-title, .sidenav-item  a{
    padding: 5px 15px 5px 20px;
    margin: 3px 0;
}

.sidenav-list {
    font-size: 18px;
    padding: 10px 0;
    a.active  {
        background-color: $theme-color-1;
        color: $white-color;
    }

    a.isSub {
        pointer-events: none;
        cursor: default;
    }
    .subnav-item.active {
        a {
            color: $white-color;
        }
    }
    
}
.sidenav-list .subnav {
    font-size: 16px;
    padding-left: 15px;
    .subnav-item {
        @include media-breakpoint-down(md) {
            padding-top: 10px ;
        }
        @include media-breakpoint-up(md) {
            padding-top: 20px ;
        }
    }
}

.sidenav-list,
.subnav {
    padding-left: 0;
    list-style: none;
    a {
        color: rgba($theme-color-1, 0.8); 
    }
    a:hover {
        text-decoration: none;
    }
    color: rgba($theme-color-1, 0.8);
}