<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 infos bg-default bg-center" *ngIf="!simpleForm"
            style="background-image: url(./assets/photos/contato.png);">
            <h2>Fale com a gente</h2>
            <p>
                Para dúvidas sobre produtos, pedidos, suporte para navegar no
                site
                ou outros assuntos, ligue para nosso Alô, McCain! 0800-200 8080.
            </p>
            <p>
                Horário de atendimento de segunda à sexta-feira das 9h às 18h.
            </p>
            <p>
                Se preferir, envie um e-mail para alomccain@mccain.com.br
            </p>
        </div>
        <div class="col-md lead" [ngClass]="{' bg-yellow': !simpleForm}">
            <h3 class="title-contact text-center" *ngIf="simpleForm">Fale
                Conosco</h3>
            <div class="row">
                <div class="col-lg-12 pt-5 text-center" *ngIf="loading">
                    <div class="spinner-border text-warning" style="width: 3rem;
                        height: 3rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <div class="col-lg-12 pt-5 text-center" *ngIf="sended">
                    Enviado com sucesso
                </div>
                <div class="col-md-8 mx-auto">
                    <form [formGroup]="form" id="contact-form" (submit)="send()"
                        *ngIf="!loading && !sended">
                        <div class="mb-4 obriga mt-4">*Campos obrigatorios</div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" class="form-control"
                                    placeholder="Email*" formControlName="email"
                                    required>
                            </div>
                            <div class="col-md-6">
                                <select formControlName="subject"
                                    class="form-control">
                                    <option value="">Assunto</option>
                                    <option value="1">Reclamação</option>
                                    <option value="2">Elogio</option>
                                    <option value="3">Sugestão</option>
                                    <option value="4">Dúvidas</option>
                                    <option value="5">Outros</option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <input type="text" class="form-control"
                                    placeholder="Telefone*"
                                    formControlName="cel" required>
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control"
                                    placeholder="Comentários*"
                                    formControlName="comments" required>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control"
                                    placeholder="Nome*" formControlName="name"
                                    required>
                            </div>
                            <div class="col-md-6">
                                <input type="text" class="form-control"
                                    placeholder="Sobrenome"
                                    formControlName="last_name">
                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control"
                                    placeholder="Nome do Restaurante*"
                                    formControlName="restaurant_name" required>
                            </div>
                            <div class="col-md-12">

                                <input type="text" class="form-control"
                                    placeholder="Endereço *"
                                    formControlName="street" required>
                            </div>
                            <div class="col-md-6">

                                <!-- <select formControlName="country"
                                    class="form-control" id="pais">
                                    <option value="">País?</option>
                                </select> -->
                            </div>
                            <div class="col-md-6">
                                <!-- <select formControlName="state"
                                    class="form-control" id="campo_estado">
                                    <option value="">Estado</option>
                                </select> -->

                            </div>
                            <div class="col-md-6">
                                <!-- <select formControlName="city"
                                    class="form-control" id="campo_cidade" required>
                                    <option value="">Cidade *</option>
                                </select> -->

                            </div>
                            <div class="col-md-12">
                                <input type="text" class="form-control"
                                    placeholder="CEP" mask="00000-000"
                                    formControlName="cep">
                            </div>
                            <div class="col-md-6 text-center mx-auto my-4">
                                <button type="submit" [disabled]="form.invalid"
                                    class="btn btn-warning-3 btn-block py-2">
                                    Enviar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
