@import 'helpers';
@import 'variables';


.infos{
    h2{
        font-family: McCainSunshinePro;
        color: #fff;
        font-size: 48px;
        letter-spacing: 1px;
        
    }
    p{
        color: #fff;
        font-family: KoHoRegular;
    }

    @include media-breakpoint-down(md) { 
        padding: 50px 20px;
    }
    @include media-breakpoint-up(md) { 
        padding: 120px 50px;
    }
    @include media-breakpoint-up(lg) { 
        padding: 180px 100px;
    }
}

.lead{
    padding: 20px;
}


.btn-warning-3 {
    color: #2C2C2C;
    font-family: KoHoBold;
    background-color: $theme-color-3;
    border: 2px solid $theme-color-3;
  }
  
  .btn-warning-3:hover {
    color: $theme-color-1;
    background-color: $theme-color-2;
    border-color: $theme-color-2;
  }

  form{
    background-color: #fff;
    padding: 20px;
  }

  .form-control {
    font-family: KoHoRegular;
    
    color: $theme-color-1;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom: 2px solid $theme-color-3;
    width: 100%;
    margin: 10px 0;
    &:focus {
        border: none;
        border-bottom:4px solid $theme-color-3;
        box-shadow: 0px;
    }
    &:hover {
        box-shadow: 0px 1px 0px 0 $theme-color-3;
    }
}
.form-control::placeholder, select.form-control{
    font-family: KoHoRegular;
    color: $theme-color-1;
    font-weight: bold;
    font-size: 15px;
}

.obriga{
    font-family: KoHoRegular;
    color: #707070;
}


.title-contact {
    color: #fff;
    font-family: McCainSunshinePro;
    font-size: 52px;
}