@font-face {
    font-family: 'arial_narrowbold_italic';
    src: url('../fonts/fontface/arial_narrow_bold_italic-webfont.eot');
    src: url('../fonts/fontface/arial_narrow_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontface/arial_narrow_bold_italic-webfont.woff') format('woff'),
         url('../fonts/fontface/arial_narrow_bold_italic-webfont.ttf') format('truetype'),
         url('../fonts/fontface/arial_narrow_bold_italic-webfont.svg#arial_narrowbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arial_narrowbold';
    src: url('../fonts/fontface/arial_narrow_bold-webfont.eot');
    src: url('../fonts/fontface/arial_narrow_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontface/arial_narrow_bold-webfont.woff') format('woff'),
         url('../fonts/fontface/arial_narrow_bold-webfont.ttf') format('truetype'),
         url('../fonts/fontface/arial_narrow_bold-webfont.svg#arial_narrowbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arial_narrowitalic';
    src: url('../fonts/fontface/arial_narrow_italic-webfont.eot');
    src: url('../fonts/fontface/arial_narrow_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontface/arial_narrow_italic-webfont.woff') format('woff'),
         url('../fonts/fontface/arial_narrow_italic-webfont.ttf') format('truetype'),
         url('../fonts/fontface/arial_narrow_italic-webfont.svg#arial_narrowitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arial_narrowregular';
    src: url('../fonts/fontface/arial_narrow-webfont.eot');
    src: url('../fonts/fontface/arial_narrow-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontface/arial_narrow-webfont.woff') format('woff'),
         url('../fonts/fontface/arial_narrow-webfont.ttf') format('truetype'),
         url('../fonts/fontface/arial_narrow-webfont.svg#arial_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mccain_sunshine_proregular';
    src: url('../fonts/fontface/mccainsunshinepro-webfont.eot');
    src: url('../fonts/fontface/mccainsunshinepro-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontface/mccainsunshinepro-webfont.woff') format('woff'),
         url('../fonts/fontface/mccainsunshinepro-webfont.ttf') format('truetype'),
         url('../fonts/fontface/mccainsunshinepro-webfont.svg#mccain_sunshine_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'my_left_handregular';
    src: url('../fonts/fontface/breauhare_-_my_left_hand-webfont.eot');
    src: url('../fonts/fontface/breauhare_-_my_left_hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontface/breauhare_-_my_left_hand-webfont.woff') format('woff'),
         url('../fonts/fontface/breauhare_-_my_left_hand-webfont.ttf') format('truetype'),
         url('../fonts/fontface/breauhare_-_my_left_hand-webfont.svg#my_left_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body{background-color:#444;  font-family:"arial_narrowregular"!important; }



.header{ background:#121212;height:80px}
.header input[type=text]{background:#444;border:0;padding:5px 8px;width:80%;color:#eee}
.header button{background:#555;border:0;padding:5px 8px;width:20%}
.header button i {color:#eee}
.header .busca{padding: 25px 30px 0 0;}
.logo{margin-top: 16px; max-height: 45px;}
.selo{text-align: left;display: inline-block;}
.selo img{margin-top: 10px; margin-left: 10px;max-height: 50px;}
.backHome img, .bread img{max-width: 100%; max-height:80px;}
.mnDown{margin:0px;height: 80px; overflow:hidden; white-space: nowrap; display: inline-block; text-align: left;}
.mnDown a{text-decoration: none !important;height: 80px; max-width: 50%; display: inline-block;}
.agenteFaz{margin-top:25px;max-width:100%}
.sidebar {font-family: 'arial_narrowregular' !important; display: inline-block;}
.sidebar p { margin:15px 0px;color:#aaa;font-size:18px; line-height: 20px}
.sidebar ul { border-top:1px dotted #ccc;list-style:none;text-align:center;margin:0;padding:0}
.sidebar li { border-bottom:1px dotted #ccc;padding:10px 0;}
.sidebar a{color:yellow;font-size:18px;font-style:italic}
.menuItem {padding:15px;display: inline-block}
.menuItem .boxMenuItem{background:#fff;padding:15px;width: 100%;display: inline-block;}
.menuItem .display {width:100%;}
.menuItem hr{border-top:1px solid #aaa; margin-top: 15px; margin-bottom: 15px;}
.menuItem .titulo{font-family: 'arial_narrowregular';font-size:23px;line-height:23px;color:#777;}
.menuItem .titulo a{color:#777}
.menuItem .tituloReceita{font-size:20px;line-height:20px;height:50px;color:#777; padding: 0}
.menuItem .tituloReceita a{color:#777;}
.featured-img{max-width:100%;overflow:hidden}
.imgHeightDef{width:100%;overflow:hidden; max-height: 145px;}
.thumbHeightDef{width:100%;overflow:hidden; padding-right: 10px;}
.featured-img img{width:100%; height: auto !important}
.content{background:url(../img/bg.jpg) top left fixed;min-height:85vh;}
.logoBt{max-height: 40px;padding: 0 20px;}
.icone{padding: 0;}
.titulo{padding: 0 0 0 10px;}
.backHome{margin-left: 15px; height: 80px;max-width: 100%; background-color: #333333; display: inline-block}
.bread{margin-left: -3px; height: 80px;max-width: 100%; background-color: #1a1a1a; display: inline-block;}
.dica-content img{max-width: 100%;height: auto;}

.home .ico {width:100%; max-width: 75px}
.home .titulo{color:#777;}

.footer{background:#333;padding:10px 0; margin-bottom:-15px;}
.footer .linksGerais{font-size:45px;color:#aaa;padding:25px 0;border-bottom:2px solid #aaa;text-transform:uppercase}
.footer .copyright{color:#aaa;}



.sidebarBusca { margin-top:15px;margin-bottom: 15px}
.sidebarBusca input[type=text]{background:#444;border:0;padding:5px 8px;width:80%;color:#eee}
.sidebarBusca button{background:#555;border:0;padding:5px 8px;width:20%}
.sidebarBusca button i {color:#eee}

.combineTo { max-width:100%}
.itemAberto .item{background:#fff;padding:15px;margin:15px}
.itemAberto .item h2{border-top:2px solid #999;font-size:23px;color:#666;padding:10px 0;margin:0}
.itemAberto .item iframe{width:100%;height:450px}

itemAberto .item img { width:100%;}
.itemAberto .item p {color:#666;font-size:14px}
.itemAberto .item ul {color:#666;font-size:14px}
.itemAberto .item h4 {color:#666;font-size:17px}

.sidebarRight .item {padding:15px;margin:15px 15px 15px 0;background:#fff}
.sidebarRight .item h2{border-top:2px solid #999;font-size:20px;color:#666;padding:10px 0;margin:0}
.sidebarRight .item .item-list img{width:100%}
.sidebarRight .item .item-list a{font-size:15px;color:#777;line-height: 15px; text-decoration: none;}
.sidebarRight .item .item-list  .bd-top{border-top:2px solid #aaa;padding:0}
.sidebarRight .item .item-list {margin:20px 0}
.sidebarRight .item .item-list a>div{padding: 0}
.sidebarRight .item  h3 {color:#666;font-size:23px}
.sidebarRight a{text-decoration: none;}

.sidebar h3 { color:#666;margin: 0 10px}
.sidebar .linkContato{font-size:14px}

.itemAberto .contato input[type=text], .itemAberto .contato input[type=email], .itemAberto .contato select, .itemAberto .contato textarea   { padding:5px;border:1px solid #ccc;width:100%}
.itemAberto .contato textarea {height:300px}
.itemAberto .contato button {background:yellow;text-align:center;color:#222;padding:10px 30px;border:0;font-weight:bold}
.itemAberto .contato label {font-size:22px;margin:10px 0;color:#333;}
.itemAberto .calculadora {display: inline-block;}
.itemAberto .calculadora label {font-size:15px!important;margin:10px 0;color:#333;}
.itemAberto .calculadora h4 {color:#333;font-size:23px}
.itemAberto .calculadora .titCalcResult {font-size:18px}
.itemAberto .calculadora .valCalcResult {margin:20px 0;font-size:28px}


.fotoArea{height:320px!important}
.menuItem .downFoto{font-size:25px;line-height:25px;height:65px;color:#777;display:-ms-flexbox;-ms-flex-align:center;display:-moz-box;-moz-box-align:center;display:-webkit-box;-webkit-box-align:center;display:box;box-align:center;}

@media (min-width:400px){.imgHeightDef{max-height: 400px;}}
@media (min-width:768px){.home{} .home .titulo{font-size:17px;line-height:17px;height:45px; } .menuItem .tituloReceita{font-size:15px;line-height:15px;} .imgHeightDef{max-height: 80px;}}
@media (min-width:1025px){.home{} .home .titulo{font-size:22px;line-height:22px;height:65px;} .menuItem .tituloReceita{font-size:18px;line-height:18px;} .imgHeightDef{max-height: 125px;}}
@media (min-width:1401px){.home{} .home .titulo{font-size:25px;line-height:25px;height:75px;} .menuItem .tituloReceita{font-size:20px;line-height:20px;} .imgHeightDef{max-height: 185px;}}
@media (min-width:2002px){.imgHeightDef{max-height: 280px;}}
@media (max-width:600px){.featured-img{width:100%;height:170px;overflow:hidden} .featured-img img{max-width:100%;}}
@media (max-width:767px){.mnDown{float:right;text-align: right;} .sidebar{text-align: center;} .sidebarRight .item {margin: 15px;}}
@media (max-width:991px){.thumbHeightDef{padding-right:0; margin-bottom: 10px;} .sidebarRight .item .item-list{margin:10px 0}}