
<mat-drawer-container class="font-koho" autosize>
    <mat-drawer #drawer class="sidenav" mode="side" opened>
        <app-nav-content [drawer]="drawer" ></app-nav-content>
    </mat-drawer>

    <div class="sidenav-content">
        <button type="button" class="btn btn-theme-3 toggle-sidebar rounded-0" 
        (click)="drawer.toggle(); helper.scroll('nav')" 
        *ngIf="!drawer.opened || helper.isMobile" 
        [ngClass]="{'opened': drawer.opened, 'fixed-top': menuTop}">
            <span *ngIf="!drawer.opened" class="bold">
                categorias 
            </span>  <img src="./assets/icons/toggle-sidebar.svg" alt="toggle nav">
        </button>
        
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-11 mx-auto produtos font-koho">
                    <h3 class="section-title text-capitalize">{{ produtoService.currentCategory }}</h3>
                    <div class="row">
                        <div class="col-lg-4  "  *ngFor="let produto of produtoService.produtos"
                        [routerLink]="['/produtos', produto.productID]">
                            <div class="produto-item-hover ">
                                <div class="produto-item text-center">
                                    <img [src]="produto.thumbs[0].url" [alt]="produto.title" class="produto-image">
                                    <div class="produto-info">
                                        <h4 class="bold">{{ produto.title }}</h4>
                                        <p class="regular">
                                            {{ produto.subtitle }}
                                        </p>
                                        <button type="button" 
                                        class="btn btn-block btn-outline-dark rounded-0 py-2 text-uppercase bold ">
                                            Ver produto
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</mat-drawer-container>