@import 'variables';
@import 'helpers';


.sidenav {
    min-height: 100vh;
    position: fixed;
    left: 0;
    padding-top: 66px;
    background-color: $theme-color-3 ;
    @include media-breakpoint-down(md) { 
        width: 80%;
    }
    @include media-breakpoint-up(md) { 
        width: 16%;
    }
    @include media-breakpoint-up(lg) { 
        width: 16%;
    }
    
}

.sidenav-content {
    min-height: 100vh;
    .toggle-sidebar {
        &.fixed-top:not(.opened) {
            position: fixed;
            top: 92px;
            left: 0;
            transition: all 500ms cubic-bezier(0.47, 0, 0.745, 0.715)
        }

        &.fixed-top {
            left: 80%;
            top: 66px;
            transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275)
        }
        img {
            transform: rotateZ(0);
            transition: all 300ms;
        }
        &.opened img{
            transform: rotateZ(180deg);
            transition: all 500ms;
        }
    }
}


@keyframes effectDnone {
    from {
        opacity: 0;
    }
    10% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    60% {
        opacity: 0;
    }
}

.produtos {
    .section-title {
        margin: 50px 0;
        font-family: McCainSunshinePro;
        @include media-breakpoint-down(md) { 
            font-size: 30px;
            
        }
        @include media-breakpoint-up(md) { 
            font-size:40px;
        }
        @include media-breakpoint-up(lg) { 
            font-size: 58px;
        }
    }

    .produto-item {
        padding: 0 13px;
        position: relative;
        z-index: 5;
        
        img {
            width: 100%;
        }
        &:hover {
            cursor: pointer;
           
            img {
                box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.356);
            }

        }

        .btn-outline-dark.btn {
            opacity: 0;
            border-width: 2px;
            border-color:$theme-color-1;  
            color: $theme-color-1;
            &:hover {
               background-color: $theme-color-1;;
               color: $white-color;
            }
        }
    }

    .produto-item-hover {
        position: relative;
        transition: all 1s;
        padding: 15px 0;
        &:hover {
            
            @include media-breakpoint-down(md) { 
                transform: scale(1) translateY(-20px);
            }
            @include media-breakpoint-up(md) { 
                transform: scale(1.05) translateY(-20px);
            }
            transition: all 500ms;

            .btn-outline-dark.btn  {
                animation: effectDnone 1s;
                display: block;
                opacity: 1;
            }
        }
        &::before {
            content: '';
            position: absolute;
            z-index: 0;
            top: 0;
            right: 0;
            width: 0%;
            height:  100%;
            transform-origin: right;
            background-color: transparent;
            transition: all 1s;
        }
        &:hover::before {
            background-color: $theme-color-3;
            transform: rotateY(0deg);
            left: 0;
            width: 100%;
            transform-origin: left;
            transition: all 300ms;
        }
    }
    .produto-info {
        margin-top: 10px;
    }

    .produto-image {
        height: 220px;
        object-fit: cover;
    }
}