
/*

This file controls the CSS of the maps, essentially for the HTML tooltips. 
The maps are generated using the Google Visualization API, specificaly the Geochart:
https://developers.google.com/chart/interactive/docs/gallery/geochart 

Here some of the default CSS rules for the tooltips are overwritten. 
You can customize the visual of the tooltips further editing the classes below.

The tooltips might also inherit some rules from your theme's CSS. 

You can customize your map further with extra CSS. Read more about it here:
http://cmoreira.net/interactive-world-maps-demo/advanced-customization/
In case you need to add custom styles, include them below:

CUSTOM STYLES START
*/

#map_canvas {
 
}

/* CUSTOM STYLES END */

#map_canvas li {
list-style: none !important;
}

#map_canvas text {
  stroke-width:0;
  cursor: pointer;
}

/* Reset for images used in the tooltip */

#map_canvas img {
 border:none;
 padding: 0;
 margin: 0;
 box-shadow: none;
}

/* This is the main tooltip class. It's the tooltip wrapper div */
div.google-visualization-tooltip {
	margin: 0;
	padding: 5px 0px 0px 5px;
  color:#444;
}

.google-visualization-tooltip ul, .google-visualization-tooltip li, .google-visualization-tooltip img {
  margin: 0 !important;
  padding: 0 !important;
  border: 0;
  outline: 0;
  font-size: 100%;
  line-height: 1.5em;
  text-decoration: none;
  vertical-align: baseline;
  list-style: none;
}

/*The content of the tooltip is rendered by the API in an unordered list 
With 2 li entries, one for the title and other for the actual tooltip info.
*/
ul.google-visualization-tooltip-item-list {
	list-style: none;
	margin:0;
	padding:0;
}

li.google-visualization-tooltip-item {
	list-style: none;
	margin:0;
	padding:0;
}

.google-visualization-tooltip-item * {
	margin:0;
	padding:0;
  list-style: none;
}

/* This rule controls the Title info */
.google-visualization-tooltip-item-list
.google-visualization-tooltip-item:first-child {
  list-style: none;
  margin:0;
	padding:0;
}



/* Google Defaults */

/*
.google-visualization-tooltip-action: hover {
  background-color: #eeeeee;
}
.google-visualization-tooltip {
  border:solid 1px #bdbdbd;
  border-radius: 2px;
  background-color: white;
  position: absolute;
  box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
  font-size: 12px;
  padding: 0px;
  -moz-box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(204, 204, 204, 0.6);
}

.google-visualization-tooltip-item-list {
  list-style-type: none;
  margin: 1em 0 1em 0;
  padding: 0em;
}
.google-visualization-tooltip-item {
  margin: 0.65em 0em 0.65em 0em;
  padding: 0em 2em 0em 1em;
}
.google-visualization-tooltip-item-list
.google-visualization-tooltip-item:first-child {
  margin: 1em 0em 1em 0em;
}


*/
