/* Created by Artisteer v4.2.0.60623 */

.mc-header, #mc-header-bg, .mc-layout-cell, .mc-layout-wrapper, .mc-footer, .mc-nav, #mc-hmenu-bg, .mc-sheet,
.clearfix {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}

.mc-textblock > div {
   display: block;
   line-height: normal;
   zoom: 1;
}

.mc-header
{
   z-index: 1;
   background-image: [headerimage];
   background-position: [headerposition];
}

#mc-header-bg 
{
   display: none;
}

.mc-hmenu>li, .mc-hmenu>li>a
{
   display: inline !important;
   zoom: 1;
   float: none !important;
   vertical-align: top;
}
ul.mc-hmenu, ul.mc-hmenu ul {
   zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).className="cleared");
}
#mc-hmenu-bg 
{
   display: none;
}

ul.mc-hmenu>li:first-child {
   padding-right:0;
}

ul.mc-hmenu ul, .desktop-nav ul.mc-hmenu>li.ext:hover>a{
   background-color: #EFF2F5 !important;
}

.mc-content-layout, .mc-content-layout-row, .mc-layout-cell 
{
   display: block;
   zoom: 1;
}
.mc-layout-cell
{
   position:relative;
   float: left;
   clear: right;
}

input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

* html input[type="text"]
{
   margin :0;
}

form.mc-search>input[type="text"]
{
   margin:0 0 0 -3px;
   zoom:expression(runtimeStyle.zoom = 1, parentNode.insertBefore(document.createElement('div'), this).appendChild(this));
}

form.mc-search div>input[type="text"]
{
   width: 100%;
}

* html form.mc-search>input[type="text"] 
{
   margin :0;
}

form.mc-search
{
   zoom: 1;
}
.mc-postheadericons span{
   zoom: 1;
}
.mc-postcontent {
   height: 1%;
}

.mc-postmetadatafooter{
   zoom:1;
}

.mc-postfootericons span{
   zoom: 1;
}
.close-alt, .arrow-right-alt, .arrow-left-alt {
   display: block !important;
}
.cw, .ccw {
   display: none !important;
}

.mc-content 
{
   width: auto;
   float:none;
}

