/*
Theme Name: mccain_foodservice_V4
Theme URI: 
Description: Tema desenvolvido por Muffin para McCain do Brasil, segmento Foodservice
Version: 1.4
Author: Muffin
Author URI: http://muffin.com.br
Tags: fixed width, one column, valid XHTML, widgets
*/

/* begin Page */
/* Created by Artisteer v3.1.0.55575 */



#mc-main, table
{
   font-family: "Univers LT Std",Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 13px;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

.mc-postcontent,
.mc-postheadericons,
.mc-postfootericons,
.mc-blockcontent-body,
ul.mc-vmenu a 
{
   text-align: left;
}

.mc-postcontent,
.mc-postcontent li,
.mc-postcontent table,
.mc-postcontent a,
.mc-postcontent a:link,
.mc-postcontent a:visited,
.mc-postcontent a.visited,
.mc-postcontent a:hover,
.mc-postcontent a.hovered
{
   font-family: "Univers LT Std",Arial, Helvetica, Sans-Serif;
}

.mc-postcontent p
{
   margin: 12px 0;
}

.mc-postcontent h1, .mc-postcontent h1 a, .mc-postcontent h1 a:link, .mc-postcontent h1 a:visited, .mc-postcontent h1 a:hover,
.mc-postcontent h2, .mc-postcontent h2 a, .mc-postcontent h2 a:link, .mc-postcontent h2 a:visited, .mc-postcontent h2 a:hover,
.mc-postcontent h3, .mc-postcontent h3 a, .mc-postcontent h3 a:link, .mc-postcontent h3 a:visited, .mc-postcontent h3 a:hover,
.mc-postcontent h4, .mc-postcontent h4 a, .mc-postcontent h4 a:link, .mc-postcontent h4 a:visited, .mc-postcontent h4 a:hover,
.mc-postcontent h5, .mc-postcontent h5 a, .mc-postcontent h5 a:link, .mc-postcontent h5 a:visited, .mc-postcontent h5 a:hover,
.mc-postcontent h6, .mc-postcontent h6 a, .mc-postcontent h6 a:link, .mc-postcontent h6 a:visited, .mc-postcontent h6 a:hover,
.mc-blockheader .t, .mc-blockheader .t a, .mc-blockheader .t a:link, .mc-blockheader .t a:visited, .mc-blockheader .t a:hover,
.mc-vmenublockheader .t, .mc-vmenublockheader .t a, .mc-vmenublockheader .t a:link, .mc-vmenublockheader .t a:visited, .mc-vmenublockheader .t a:hover,
.mc-logo-name, .mc-logo-name a, .mc-logo-name a:link, .mc-logo-name a:visited, .mc-logo-name a:hover,
.mc-logo-text, .mc-logo-text a, .mc-logo-text a:link, .mc-logo-text a:visited, .mc-logo-text a:hover,
.mc-postheader, .mc-postheader a, .mc-postheader a:link, .mc-postheader a:visited, .mc-postheader a:hover
{
   font-family: "Univers LT Std",Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}

.mc-postcontent a
{
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
   color: #000000;
}

.mc-postcontent a:link
{
   font-style: normal;
   font-weight: bold;
   text-decoration: none;
   color: #000000;
}

.mc-postcontent a:visited, .mc-postcontent a.visited
{
   color: #595959;
}

.mc-postcontent  a:hover, .mc-postcontent a.hover
{
   color: #E7940D;
}

.mc-postcontent h1
{
   color: #808185;
   margin: 10px 0 0;
   font-size: 24px;
}

.mc-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 24px;
}

.mc-postcontent h1 a, .mc-postcontent h1 a:link, .mc-postcontent h1 a:hover, .mc-postcontent h1 a:visited, .mc-blockcontent h1 a, .mc-blockcontent h1 a:link, .mc-blockcontent h1 a:hover, .mc-blockcontent h1 a:visited 
{
   font-size: 24px;
}

.mc-postcontent h2
{
   color: #818285;
   margin: 10px 0 0;
   font-size: 14px;
}

.mc-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 14px;
}

.mc-postcontent h2 a, .mc-postcontent h2 a:link, .mc-postcontent h2 a:hover, .mc-postcontent h2 a:visited, .mc-blockcontent h2 a, .mc-blockcontent h2 a:link, .mc-blockcontent h2 a:hover, .mc-blockcontent h2 a:visited 
{
   font-size: 14px;
}

.mc-postcontent h3
{
   color: #000000;
   margin: 10px 0 0;
   font-size: 14px;
}

.mc-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 14px;
}

.mc-postcontent h3 a, .mc-postcontent h3 a:link, .mc-postcontent h3 a:hover, .mc-postcontent h3 a:visited, .mc-blockcontent h3 a, .mc-blockcontent h3 a:link, .mc-blockcontent h3 a:hover, .mc-blockcontent h3 a:visited 
{
   font-size: 14px;
}

.mc-postcontent h4
{
   color: #E7940D;
   margin: 10px 0 0;
   font-size: 16px;
}

.mc-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 16px;
}

.mc-postcontent h4 a, .mc-postcontent h4 a:link, .mc-postcontent h4 a:hover, .mc-postcontent h4 a:visited, .mc-blockcontent h4 a, .mc-blockcontent h4 a:link, .mc-blockcontent h4 a:hover, .mc-blockcontent h4 a:visited 
{
   font-size: 16px;
}

.mc-postcontent h5
{
   color: #A7A790;
   margin: 10px 0 0;
   font-size: 14px;
}

.mc-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 14px;
}

.mc-postcontent h5 a, .mc-postcontent h5 a:link, .mc-postcontent h5 a:hover, .mc-postcontent h5 a:visited, .mc-blockcontent h5 a, .mc-blockcontent h5 a:link, .mc-blockcontent h5 a:hover, .mc-blockcontent h5 a:visited 
{
   font-size: 14px;
}

.mc-postcontent h6
{
   color: #F4BB3B;
   margin: 10px 0 0;
   font-size: 13px;
}

.mc-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
}

.mc-postcontent h6 a, .mc-postcontent h6 a:link, .mc-postcontent h6 a:hover, .mc-postcontent h6 a:visited, .mc-blockcontent h6 a, .mc-blockcontent h6 a:link, .mc-blockcontent h6 a:hover, .mc-blockcontent h6 a:visited 
{
   font-size: 13px;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height:100%;
}

#mc-main
{
   position: relative;
   z-index: 0;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}

body
{
   padding: 0;
   margin:0;
   min-width: 940px;
   color: #818285;
   background-color: #FFFFFF;
}

.cleared
{
   display:block;
   clear: both;
   float: none;
   margin: 0;
   padding: 0;
   border: none;
   font-size: 0;
   height:0;
   overflow:hidden;
}

.reset-box
{
   overflow:hidden;
   display:table;
}

form
{
   padding: 0 !important;
   margin: 0 !important;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

/* Start Box */
.mc-box, .mc-box-body {
   margin:0 auto;
   position:relative;
}
.mc-box:before, .mc-box:after, .mc-box-body:before, .mc-box-body:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat: no-repeat;
   line-height:0;
}
.mc-box:before,.mc-box-body:before{
   left:0;
}
.mc-box:after,.mc-box-body:after{
   right:0;
}
.mc-box:before {
   overflow:hidden;
   background-position: bottom left;
   direction: ltr;
   z-index:-3;
}
.mc-box:after {
   background-position: bottom right;
   z-index:-3;
}
.mc-box-body:before, .mc-box-body:after {
   background-repeat:repeat-y;
}
.mc-box-body:before {
   background-position: top left;
   z-index:-3;
}
.mc-box-body:after {
   background-position: top right;
   z-index:-3;
}

.mc-box .mc-box:before, .mc-box .mc-box:after, .mc-box-body .mc-box-body:before, .mc-box-body .mc-box-body:after {
   z-index:-2;
}
.mc-box .mc-box .mc-box:before, .mc-box .mc-box .mc-box:after, .mc-box-body .mc-box-body .mc-box-body:before, .mc-box-body .mc-box-body .mc-box-body:after {
   z-index:-1;
}
/* End Box */

/* Start Bar */
.mc-bar {
   position:relative;
}
.mc-bar:before, .mc-bar:after {
   position:absolute;
   top:0;
   bottom:0;
   content:' ';
   background-repeat:repeat;
   z-index:-1;
}
.mc-bar:before {
   left:0;
   background-position: top left;
}
.mc-bar:after {
   right:0;
   background-position: top right;
}
/* End Bar */

li h1, .mc-postcontent li h1, .mc-blockcontent-body li h1 
{
   margin:1px;
} 
li h2, .mc-postcontent li h2, .mc-blockcontent-body li h2 
{
   margin:1px;
} 
li h3, .mc-postcontent li h3, .mc-blockcontent-body li h3 
{
   margin:1px;
} 
li h4, .mc-postcontent li h4, .mc-blockcontent-body li h4 
{
   margin:1px;
} 
li h5, .mc-postcontent li h5, .mc-blockcontent-body li h5 
{
   margin:1px;
} 
li h6, .mc-postcontent li h6, .mc-blockcontent-body li h6 
{
   margin:1px;
} 
li p, .mc-postcontent li p, .mc-blockcontent-body li p 
{
   margin:1px;
} 
/* end Page */

/* begin Header */
div.mc-header
{
   margin: 0 auto;
   position: relative;
   z-index: -5;
   width:100%;
   height: 175px;
   margin-top: 0;
   margin-bottom: 0;
}
.mc-header-position
{
   position: absolute;
   top: 0;
   right: 0;
   left: 0;
} 

.mc-header-wrapper 
{
   position: relative;
   top:0;
   max-width:940px;
   margin:0 auto;
}
.mc-header-inner 
{
   position: relative;
   margin: 0 0;
}

.mc-header:after
{
   position: absolute;
   z-index:-1;
   display:block;
   content:' ';
   top: 55px;
   width:100%;
   height: 150px;
   background-image: url('images/header.jpg');
   background-repeat: no-repeat;
   background-position: center center;
}
/* end Header */

/* begin Logo */
div.mc-logo
{
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   
background-image: url('images/logo_foodservice.png');
width: 254px;
height: 175px;
}

.mc-logo-name
{
   display: block;
   text-align: left;
   font-size: 31px;
   padding: 0;
   margin: 0;
   color: #1C1C1C !important;
}
.mc-logo-name a, 
.mc-logo-name a:link, 
.mc-logo-name a:visited, 
.mc-logo-name a:hover
{
   font-size: 31px;
   padding: 0;
   margin: 0;
   color: #1C1C1C !important;
}

.mc-logo-text
{
   display: block;
   text-align: left;
   font-size: 15px;
   padding: 0;
   margin: 0;
   color: #1C1C1C !important;
}
.mc-logo-text a,
.mc-logo-text a:link,
.mc-logo-text a:visited,
.mc-logo-text a:hover
{
   font-size: 15px;
   padding: 0;
   margin: 0;
   color: #1C1C1C !important;
}

/* end Logo */

/* begin Menu */
/* menu structure */

ul.mc-hmenu a, ul.mc-hmenu a:link, ul.mc-hmenu a:visited, ul.mc-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.mc-hmenu, ul.mc-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.mc-hmenu li
{
   margin: 0;
   padding: 0;
   border: 0;
   display: block;
   float: left;
   position: relative;
   z-index: 5;
   background: none;
}

ul.mc-hmenu li:hover{
   z-index: 10000;
   white-space: normal;
}
ul.mc-hmenu li li{
   float: none;
   width: auto;
}
ul.mc-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
ul.mc-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}
ul.mc-hmenu:after, ul.mc-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}
ul.mc-hmenu, ul.mc-hmenu ul {
   min-height: 0;
}

ul.mc-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

ul.mc-hmenu ul.mc-hmenu-left-to-right {
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}
ul.mc-hmenu ul.mc-hmenu-right-to-left {
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

ul.mc-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

ul.mc-hmenu ul ul.mc-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

ul.mc-hmenu ul ul.mc-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

ul.mc-hmenu li li:hover>ul.mc-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
ul.mc-hmenu li li:hover>ul.mc-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

ul.mc-hmenu{
   position:relative;
   padding: 0 0 0 0;
   float: left;
}

/* end menu structure */

/* menu bar */

.mc-nav
{
   width:100%;
   margin:0 auto;
   min-height: 48px;
   z-index: 100;
   margin-top: 0;
   margin-bottom: 0;
}

.mc-nav:before, .mc-nav:after{
   background-image: url('images/nav.png');
}
.mc-nav:before{
   right: 0;
}
.mc-nav:after{
   width: 0;
}
/* end menu bar */
.mc-nav-outer{
   position:absolute;
   width:100%;
}
.mc-nav-wrapper 
{
   position: relative;
   max-width:940px;
   margin:0 auto;
}

.mc-nav-inner{
   margin: 0 0;
}

/* end Menu */

/* begin MenuItem */
ul.mc-hmenu>li>a
{
   position: relative;
   display: block;
   height: 48px;
   cursor: pointer;
   text-decoration: none;
   color: #FFFFFF;
   padding: 0 20px;
   line-height: 48px;
   text-align: center;
}

ul.mc-hmenu>li>a:before, ul.mc-hmenu>li>a:after
{
   position: absolute;
   display: block;
   content:' ';
   top: 0;
   bottom:0;
   z-index: -1;
   background-image: url('images/menuitem.png');
}

ul.mc-hmenu>li>a:before
{
   left: 0;
   right: 0;
   background-position: top left;
}

ul.mc-hmenu>li>a:after
{
   width: 0;
   right: 0;
   background-position: top right;
}

.mc-hmenu a, .mc-hmenu a:link, .mc-hmenu a:visited, .mc-hmenu a:hover
{
   font-variant: normal;
   font-size: 14px;
   text-align: left;
   text-decoration: none;
   text-transform: uppercase;
}

ul.mc-hmenu>li>a.active:before {
   background-position: bottom left;
} 
ul.mc-hmenu>li>a.active:after {
   background-position: bottom right;
}
ul.mc-hmenu>li>a.active {
   color: #1C1C1C;
}

ul.mc-hmenu>li>a:hover:before, ul.mc-hmenu>li:hover>a:before {
   background-position: center left;
}
ul.mc-hmenu>li>a:hover:after, ul.mc-hmenu>li:hover>a:after {
   background-position: center right;
}
ul.mc-hmenu>li>a:hover, ul.mc-hmenu>li:hover>a{
   color: #1A1A1A;
}

/* end MenuItem */

/* begin MenuSeparator */

ul.mc-hmenu>li {
   margin-left:0;
}
ul.mc-hmenu>li:first-child {
   margin-left:0;
}

/* end MenuSeparator */

/* begin MenuSubItem */
.mc-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 31px;
   background-image: url('images/subitem.png');
   background-position: left top;
   background-repeat: repeat-x;
   border-width: 0;
   border-style: solid;
   min-width: 7em;
   text-align: left;
   text-decoration: none;
   line-height: 31px;
   color: #6E6F71;
   font-size: 13px;
   margin:0;
   padding: 0 15px;
}

.mc-hmenu ul>li:first-child>a
{
   border-top-width: 0;
}

.mc-hmenu ul a:link, .mc-hmenu ul a:visited, .mc-hmenu ul a:hover, .mc-hmenu ul a:active
{
   text-align: left;
   text-decoration: none;
   line-height: 31px;
   color: #6E6F71;
   font-size: 13px;
   margin:0;
   padding: 0 15px;
}

.mc-hmenu ul li a:hover
{
   color: #080808;
   background-position: left bottom;
   border-top-width: 0 !important;
}

.mc-hmenu ul li:hover>a
{
   color: #080808;
   background-position: left bottom;
   border-top-width: 0 !important;
}

/* end MenuSubItem */

/* begin Box, Sheet */
.mc-sheet
{
   max-width:940px;
   margin-top: 0;
   margin-bottom: 0;
   cursor:auto;
   /*width: 940px;*/
}
.mc-sheet-body 
{
   padding:0;
   padding-top:0;
   padding-bottom:0;
}
.mc-sheet:before,.mc-sheet-body:before{
   right:0;
}
.mc-sheet-body:after{
   width: 0;
   top:0;
   bottom:0;
   background-image:url('images/sheet.png');
}
.mc-sheet-body:before{
   top:0;
   bottom:0;
   background-image:url('images/sheet.png');
}

/* end Box, Sheet */

/* begin Layout */
.mc-layout-wrapper
{
   position:relative;
   margin:0 auto 0 auto;
}

.mc-content-layout
{
   display: table;
   width:100%;
   table-layout: fixed;
   border-collapse: collapse;
}

.mc-content-layout-row {
   display: table-row;
}

.mc-layout-cell
{
   display: table-cell;
   vertical-align: top;
}
/* end Layout */

/* begin Box, Block */
.mc-block
{
   max-width:940px;
   margin: 10px;
}
.mc-block-body 
{
   padding:0;
}

div.mc-block img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 0;
}

/* end Box, Block */

/* begin BlockHeader */
.mc-blockheader {
   margin-bottom: 0;
   min-height: 26px;
   line-height:26px;
}

.mc-blockheader .t
{
   min-height: 26px;
   line-height:26px;
   color: #404040;
   font-size: 14px;
   margin:0;
   padding: 0 5px 0 5px;
   white-space: nowrap;
}

.mc-blockheader .t a,
.mc-blockheader .t a:link,
.mc-blockheader .t a:visited, 
.mc-blockheader .t a:hover
{
   color: #404040;
   font-size: 14px;
}

/* end BlockHeader */

/* begin Box, BlockContent */
.mc-blockcontent
{
   max-width:940px;
}
.mc-blockcontent-body 
{
   padding:5px;
   color: #292929;
   font-family: "Univers LT Std",Arial, Helvetica, Sans-Serif;
   font-size: 12px;
}
.mc-blockcontent-body table,
.mc-blockcontent-body li, 
.mc-blockcontent-body a,
.mc-blockcontent-body a:link,
.mc-blockcontent-body a:visited,
.mc-blockcontent-body a:hover
{
   color: #292929;
   font-family: "Univers LT Std",Arial, Helvetica, Sans-Serif;
   font-size: 12px;
}

.mc-blockcontent-body p
{
   margin: 12px 0;
}

.mc-blockcontent-body a, .mc-blockcontent-body a:link
{
   color: #757575;
   text-decoration: underline;
}

.mc-blockcontent-body a:visited, .mc-blockcontent-body a.visited
{
   color: #949494;
   text-decoration: none;
}

.mc-blockcontent-body a:hover, .mc-blockcontent-body a.hover
{
   color: #949494;
   text-decoration: none;
}

.mc-blockcontent-body ul li
{
   font-size: 13px;
   line-height: 125%;
   color: #141414;
   margin: 5px 0 0 10px;
   padding: 0 0 0 12px;
   background-image: url('images/blockcontentbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}
/* end Box, BlockContent */

/* begin Button */
span.mc-button-wrapper>a.mc-button,
span.mc-button-wrapper>a.mc-button:link,
span.mc-button-wrapper>input.mc-button,
span.mc-button-wrapper>button.mc-button
{
   text-decoration: none;
   font-family: "Univers LT Std",Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
   position:relative;
   top:0;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FFF987 !important;
   width: auto;
   outline: none;
   border: none;
   background: none;
   line-height: 37px;
   height: 37px;
   margin: 0 !important;
   padding: 0 15px !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
}

.mc-button img, span.mc-button-wrapper img
{
   margin: 0;
   vertical-align: middle;
}

span.mc-button-wrapper
{
   vertical-align: middle;
   display: inline-block;
   position: relative;
   height: 37px;
   overflow: hidden;
   white-space: nowrap;
   text-indent: 0;
   width: auto;
   max-width:940px;
   margin: 0;
   padding: 0;
   z-index: 0;
}

.firefox2 span.mc-button-wrapper
{
   display: block;
   float: left;
}

input, select, textarea
{
   vertical-align: middle;
   font-family: "Univers LT Std",Arial, Helvetica, Sans-Serif;
   font-style: normal;
   font-weight: normal;
   font-size: 12px;
}

div.mc-block select 
{
   width:96%;
}

span.mc-button-wrapper.hover>.mc-button, span.mc-button-wrapper.hover>a.mc-button:link
{
   color: #000000 !important;
   text-decoration: none !important;
}

span.mc-button-wrapper.active>.mc-button, span.mc-button-wrapper.active>a.mc-button:link
{
   color: #FFFFFF !important;
}

span.mc-button-wrapper>span.mc-button-l, span.mc-button-wrapper>span.mc-button-r
{
   display: block;
   position: absolute;
   top: 0;
   bottom: 0;
   margin: 0;
   padding: 0;
   background-image: url('images/button.png');
   background-repeat: no-repeat;
}

span.mc-button-wrapper>span.mc-button-l
{
   left: 0;
   right: 0;
   background-position: top left;
}

span.mc-button-wrapper>span.mc-button-r
{
   width: 0;
   right: 0;
   background-position: top right;
}

span.mc-button-wrapper.hover>span.mc-button-l
{
   background-position: center left;
}

span.mc-button-wrapper.hover>span.mc-button-r
{
   background-position: center right;
}

span.mc-button-wrapper.active>span.mc-button-l
{
   background-position: bottom left;
}

span.mc-button-wrapper.active>span.mc-button-r
{
   background-position: bottom right;
}

span.mc-button-wrapper input
{
   float: none !important;
}
/* end Button */

/* begin Box, Post */
.mc-post
{
   max-width:940px;
   margin: 0;
}
.mc-post-body 
{
   padding:10px;
}

a img
{
   border: 0;
}

.mc-article img, img.mc-article, .mc-block img, .mc-footer img
{
   border-color: #595959;
   border-style: solid;
   border-width: 0;
   margin: 7px 7px 7px 7px;
}

.mc-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.mc-article table, table.mc-article
{
   border-collapse: collapse;
   margin: 1px;
}

.mc-post .mc-content-layout-br
{
   height: 0;
}

.mc-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

/* end Box, Post */

/* begin PostHeaderIcon */
.mc-postheader
{
   color: #404040;
   margin: 5px 0;
   line-height: 1em;
   font-size: 20px;
}

.mc-postheader a, 
.mc-postheader a:link, 
.mc-postheader a:visited,
.mc-postheader a.visited,
.mc-postheader a:hover,
.mc-postheader a.hovered
{
   font-size: 20px;
}

.mc-postheader a, .mc-postheader a:link
{
   font-style: normal;
   font-weight: bold;
   text-align: left;
   text-decoration: none;
   color: #000000;
}

.mc-postheader a:visited, .mc-postheader a.visited
{
   color: #818285;
}

.mc-postheader a:hover,  .mc-postheader a.hovered
{
   color: #E7940D;
}

/* end PostHeaderIcon */

/* begin PostIcons, PostHeaderIcons */
.mc-postheadericons,
.mc-postheadericons a,
.mc-postheadericons a:link,
.mc-postheadericons a:visited,
.mc-postheadericons a:hover
{
   font-family: "Univers LT Std",Arial, Helvetica, Sans-Serif;
   color: #545454;
}

.mc-postheadericons
{
   padding: 1px;
}

.mc-postheadericons a, .mc-postheadericons a:link
{
   text-decoration: none;
   color: #1C1C1C;
}

.mc-postheadericons a:visited, .mc-postheadericons a.visited
{
   font-style: italic;
   font-weight: normal;
   color: #595959;
}

.mc-postheadericons a:hover, .mc-postheadericons a.hover
{
   font-style: italic;
   font-weight: normal;
   text-decoration: underline;
   color: #949494;
}

/* end PostIcons, PostHeaderIcons */

/* begin PostIcon, PostDateIcon */
span.mc-postdateicon
{
   display:inline-block;
   line-height: 1em;
}

span.mc-postdateicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostDateIcon */

/* begin PostIcon, PostAuthorIcon */
span.mc-postauthoricon
{
   display:inline-block;
   line-height: 1em;
}

span.mc-postauthoricon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostAuthorIcon */

/* begin PostIcon, PostEditIcon */
span.mc-postediticon
{
   display:inline-block;
   line-height: 1em;
}

span.mc-postediticon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostEditIcon */

/* begin PostBullets */
.mc-postcontent ol, .mc-postcontent ul
{
   margin: 1em 0 1em 2em;
   padding: 0;
}

.mc-postcontent li
{
   font-size: 13px;
   color: #404040;
   margin: 3px 0 0 -15px;
   padding: 0 0 0 13px;
}

.mc-postcontent li ol, .mc-post li ul
{
   margin: 0.5em 0 0.5em 2em;
   padding: 0;
}

.mc-postcontent ol>li
{
   background: none;
   padding-left: 0;
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.mc-postcontent ul>li
{
   background-image: url('images/postbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
   padding-left: 13px;
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

/* end PostBullets */

/* begin PostQuote */
blockquote,
blockquote a, .mc-postcontent blockquote a, .mc-blockcontent blockquote a, .mc-footer blockquote a,
blockquote a:link, .mc-postcontent blockquote a:link, .mc-blockcontent blockquote a:link, .mc-footer blockquote a:link,
blockquote a:visited, .mc-postcontent blockquote a:visited, .mc-blockcontent blockquote a:visited, .mc-footer blockquote a:visited,
blockquote a:hover, .mc-postcontent blockquote a:hover, .mc-blockcontent blockquote a:hover, .mc-footer blockquote a:hover
{
   color: #000000;
   font-style: italic;
   font-weight: normal;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.mc-postcontent blockquote p,
.mc-blockcontent blockquote p,
.mc-footer blockquote p
{
   margin: 0;
   margin: 5px 0;
}

blockquote
{
   margin: 10px;
   padding: 0;
   background-color: #FFFFFF;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}

/* end PostQuote */

/* begin PostIcons, PostFooterIcons */
.mc-postfootericons,
.mc-postfootericons a,
.mc-postfootericons a:link,
.mc-postfootericons a:visited,
.mc-postfootericons a:hover
{
   font-family: "Univers LT Std",Arial, Helvetica, Sans-Serif;
   color: #696969;
}

.mc-postfootericons
{
   padding: 1px;
}

.mc-postfootericons a, .mc-postfootericons a:link
{
   text-decoration: none;
   color: #1C1C1C;
}

.mc-postfootericons a:visited, .mc-postfootericons a.visited
{
   color: #595959;
}

.mc-postfootericons a:hover, .mc-postfootericons a.hover
{
   color: #949494;
}

/* end PostIcons, PostFooterIcons */

/* begin PostIcon, PostCategoryIcon */
span.mc-postcategoryicon
{
   display:inline-block;
   line-height: 1em;
}

span.mc-postcategoryicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostCategoryIcon */

/* begin PostIcon, PostTagIcon */
span.mc-posttagicon
{
   display:inline-block;
   line-height: 1em;
}

span.mc-posttagicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostTagIcon */

/* begin PostIcon, PostCommentsIcon */
span.mc-postcommentsicon
{
   display:inline-block;
   line-height: 1em;
}

span.mc-postcommentsicon:after
{
   content: '.';
   width: 1px;
   visibility: hidden;
   display: inline-block;
}/* end PostIcon, PostCommentsIcon */

/* begin Footer */
.mc-footer
{
   position: relative;
   margin-top:0;
   margin-bottom:0;
   width: 100%;
}

.mc-footer-body
{
   position:relative;
   padding: 0;
   color: #808080;
   font-size: 11px;
}

.mc-footer-body ul li
{
   color: #949494;
   padding: 0 0 0 13px;
   background-image: url('images/footerbullets.png');
   background-repeat: no-repeat;
   background-position: top left;
}

.mc-footer-body:before
{
   position: absolute;
   content:' ';
   z-index:-2;
   left:0;
   right:0;
   top:0;
   bottom:0;
   background-image: url('images/footer.png');
   background-position:bottom left;
}

.mc-footer-text p
{
   padding:0;
   margin:0;
   text-align: center;
}

.mc-footer-body a,
.mc-footer-body a:link,
.mc-footer-body a:visited,
.mc-footer-body a:hover,
.mc-footer-body td, 
.mc-footer-body th,
.mc-footer-body caption
{
   color: #808080;
   font-size: 11px;
}

.mc-footer-text
{
   padding-left: 10px;
   padding-right: 10px;
   position: relative;
   float: left;
   left: 50%;
   text-align: center;
}

.mc-footer-body a,
.mc-footer-body a:link
{
   color: #A6A6A6;
   text-decoration: none;
}

.mc-footer-body a:visited
{
   color: #020FC5;
}

.mc-footer-body a:hover
{
   color: #E7940D;
   text-decoration: underline;
}

.mc-footer-center
{
   position: relative;
   float: right;
   right: 50%;
}

div.mc-footer img
{
   /* WARNING do NOT collapse this to 'border' - inheritance! */
  border-width: 0;
   margin: 0;
}/* end Footer */

/* begin PageFooter */
.mc-page-footer, 
.mc-page-footer a,
.mc-page-footer a:link,
.mc-page-footer a:visited,
.mc-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #696969;
}

.mc-page-footer
{
   position: relative;
   z-index: 10;
   padding: 1em;
   text-align: center;
   text-decoration: none;
   color: #E0E0E0;
}
/* end PageFooter */

/* begin WordPress, Template.WordPress */
form.mc-search {
   display:block;
   position: relative;
   width: 98%;
   padding:0;
   margin:0 auto !important;
   border: none;
}

form.mc-search div {
   margin: 0 18px 0 -2px;
}

input.mc-search-text {
   display: block;
   margin: 0;
   width: 100%;
   padding-right: 16px;
}

input.mc-search-button
{
   display: block;
   position: absolute;
   right: 0;
   top: 0;
   height: 100%;
   padding: 0;
   margin: 0;
   width: 16px;
   background:url('images/search.png') center center no-repeat;
   border: none;
}
/* end WordPress, Template.WordPress */

textarea#comment
{
   width:99%;
}

ul#comments-list div.avatar
{
   float:right;
}

ul#comments-list, ul#comments-list li
{
   background: none;
   padding:0;
}

ul#comments-list li li
{
   margin-left: 20px;
}

div.avatar
{
   position:relative;
   margin: 7px;
   border: 1px solid #aaa;
   padding: 1px;
   background: #fff;
   float:left;
}

div.avatar img, div.avatar img.wp-post-image
{
   margin:0 !important;
   padding:0;
   border:none;
}

span.page-navi-outer, span.page-navi-inner 
{
   position:relative;
   display:block;
   float:left;
   margin:0;
   padding:0;
}

span.page-navi-outer
{
   margin: 1px;
   border: 1px solid #aaa;
}

span.page-navi-inner 
{
   padding: 1px;
   min-width:14px;
   line-height:18px;
   text-align:center;
   border: 2px solid #fff;
   font-weight:bold;
}

a span.page-navi-inner, span.page-navi-caption span.page-navi-inner 
{
   border-width:1px;
   font-weight:normal;
}

a span.page-navi-outer, span.page-navi-caption
{
   margin:2px 1px;
}

ul#comments-list li cite
{
   font-size: 1.2em;
}

#commentform textarea
{
   width: 100%;
}

#commentform
{
   text-align:left;
}

.rtl #commentform
{
   text-align:right;
}

img.wp-smiley
{
   border: none;
   margin: 1px;
   vertical-align:middle;
   padding: 0;
}

.navigation
{
   display: block;
   text-align: center;
}

/* Recommended by http://codex.wordpress.org/CSS */
/* Begin */
.aligncenter, div.aligncenter, .mc-article .aligncenter img, .aligncenter img.mc-article, .aligncenter img, img.aligncenter
{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

p.aligncenter , p.center 
{
   text-align: center;
}

.alignleft
{
   float: left;
}

.alignright
{
   float: right;
}

.alignright img, img.alignright
{
   margin: 1em;
   margin-right: 0;
}

.alignleft img, img.alignleft
{
   margin: 1em;
   margin-left: 0;
}

.wp-caption
{
   border: 1px solid #ddd;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
   text-align: center;
}

.wp-caption img
{
   margin: 0;
   padding: 0;
   border: 0 none;
}

.wp-caption p.wp-caption-text
{
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
}

.wp-caption p
{
   text-align: center;
}

.gallery {
   margin: 0 auto 18px;
   clear:both;
   overflow:hidden;
   letter-spacing: normal;
}

.gallery .gallery-item {
   float: left;
   margin-top: 0;
   text-align: center;
   width: 33%;
}
.gallery img {
   border: 10px solid #f1f1f1;
}

.gallery .gallery-caption {
   color: #888;
   font-size: 12px;
   margin: 0 0 12px;
}

.gallery dl {
   margin: 0;
}

.gallery br+br {
   display: none;
}
/* End */

.hidden
{
   display: none;
}

/* Calendar */
#wp-calendar {
   empty-cells: show;
   margin: 10px auto 0;
   width: 155px;
}

#wp-calendar #next a {
   padding-right: 10px;
   text-align: right;
}

#wp-calendar #prev a {
   padding-left: 10px;
   text-align: left;
}

#wp-calendar a {
   display: block;
}

#wp-calendar caption {
   text-align: center;
   width: 100%;
}

#wp-calendar td {
   padding: 3px 0;
   text-align: center;
}

.mc-content {
   position: relative;
   z-index: 1;
}

#todays-events{
   position: relative;
   z-index: 11;
}

#upcoming-events{
   position: relative;
   z-index: 10;
}

img.wp-post-image 
{
   margin:0 5px 5px 0 !important;
}

ul#comments-list li
{
   list-style-image: none;
   background:none;
   list-style-type:none;
}

div.mc-footer div.mc-content-layout
{
   margin:0 auto;
   width:100%;
}

div.mc-layout-cell-size1 
{
   width:100%;
}

div.mc-layout-cell-size2 
{
   width:50%;
}
div.mc-layout-cell-size3 
{
   width:33%;
}

div.mc-layout-cell-size4
{
   width:25%;
}

.mc-widget-title
{
   padding:0 0 0 24px;
   margin-bottom:0;
}

div.mc-center-wrapper
{
   position: relative;
   float: right;
   right: 50%;
}

div.mc-center-inner
{
   position: relative;
   float: left;
   left: 50%;
}

.firefox2 div.mc-center-inner
{
   float: none;
}

div.breadcrumbs h4, 
div.breadcrumbs p, 
li.pingback p, 
#respond p,
h3#reply-title, 
h4#comments, 
h4.box-title
{
   margin:0;
}

#respond .comment-notes {
   margin-bottom: 1em;
}

.form-allowed-tags {
   line-height: 1em;
}

#comments-list #respond {
   margin-left: 20px !important;
}

#cancel-comment-reply-link {
   font-size: 12px;
   font-weight: normal;
   line-height: 18px;
}

#respond .required {
   color: #ff4b33;
   font-weight: bold;
}

#respond label {
   font-size: 12px;
}

#respond input {
   margin: 0 0 9px;
   width: 98%;
}

#respond textarea {
   width: 98%;
}

#respond .form-allowed-tags {
   font-size: 12px;
   line-height: 18px;
}

#respond .form-allowed-tags code {
   font-size: 11px;
}

#respond .form-submit {
   margin: 12px 0;
}

#respond .form-submit input {
   font-size: 14px;
   width: auto;
}

.mc-footer .mc-widget-title 
{
   font-size:1.2em;
   padding: 0;
}

.mc-footer .mc-widget,
.mc-footer .mc-widget a,
.mc-footer .mc-widget a:link,
.mc-footer .mc-widget a:visited,
.mc-footer .mc-widget a:hover
{
   color: #808080;
   font-size: 11px;
   text-align: left;
}

.mc-footer .mc-widget a,
.mc-footer .mc-widget a:link
{
   color: #A6A6A6;
   text-decoration: none;
}

.mc-footer .mc-widget a:visited
{
   color: #020FC5;
}

.mc-footer .mc-widget a:hover
{
   color: #E7940D;
   text-decoration: underline;
}

DIV[id^="GMPmap"] IMG 
{
   margin: 0;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> CUSTOM */

.logbar{
width: 100%;
height: 55px;
background-color: #000;

}

.prodthubox{
display: block;
width: 220px;
height: 220px;
overflow: hidden;
padding: 0 0 10px;

}

.prodthumbs{
margin-right: -20px;
}

.prodthumbs img{
height: 220px;
min-width: 220px;


}


.prodthumbs li{
border-bottom: 1px solid #DCDDD4;
float: left;
margin: 10px 20px 0 0;
height: 280px; 

}

.prodthumbs li h5{
color: #818285;
text-decoration: none !important;
font-size: 17px;
padding: 5px 0;
width: 210px;
}


.headcontainer{
position: relative;
border: 1px solid aqua;
float: right;
};


.headrs{border: 1px solid red};
.iconCont{border: 1px solid yellow};
.iconFB{border: 1px solid blue};
.iconTW{border: 1px solid blue};
.iconYT{border: 1px solid blue};
.linkvisite{border: 1px solid red};

.sublinks{border: 1px solid red};
.linkdist{border: 1px solid white};
.linkacomp{border: 1px solid white};
.linkclube{border: 1px solid white};
.headbusca{border: 1px solid green};