@import 'helpers';
@import 'variables';


h1 {
    font-family: McCainSunshinePro;
    color: #000;
    font-size: 52px;
    letter-spacing: 1px;
}

p {
    color: #000;
    font-family: 'KoHoRegular';
}

span {
    color: #000;
    font-family: 'KoHoRegular';
}

.negocio-item {
    padding: 100px;
    cursor: pointer;
}

h3 {
    font-family: McCainSunshinePro;
    color: #fff;
    font-size: 42px;
    letter-spacing: 1px;
}

.dicas {
    .baixar-icon {
        position: absolute;
        top: -1px;
        right: 21px;
        z-index: 4;
        cursor: pointer;
        transition:  all 1s;
    }
    .baixar-icon:hover {
        filter: contrast(0.5);
    }
}



.dados h5{
    border-top: 1px solid rgba($color: #0F0F0F, $alpha: 0.3);
}


.form-control, .custom-select {
    height: 45px;
}


.input-icon ~ .buscar {
    position: relative;
}
.input-icon {
    position: absolute;
    top: 20%;
    right: 5%;
}

#pop-download {
    .produto-image {
        
        @include bg-default();
        background-size: 110% 110%;
        @include media-breakpoint-down(md) { 
            min-height: 70vh;
        }
        @include media-breakpoint-up(md) { 
            min-height: 85vh;
        }
    }

    .thumbs {
        height: 25%;
        width: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.637);
        bottom: 0;
        text-align: center;
        img {
            width: 100%;
            height: 100%;
            margin-top: 5px;
            object-fit: contain;
        }
        a {
            width: 88px;
            height: 80px;
            margin: 5px auto;
            display: inline-block;
        }
    }

    .download-block {
        display: block;
        background-color: $theme-color-3;
        min-height: 87px;
        margin-top: 20px;
        padding: 5px 10px;
        opacity: 0.7;
        cursor: pointer;
        border: 3px solid transparent;
        &:hover{
            border-color: var(--primary);
        }
    }

    .info-modal {
        padding: 55px 50px;
    }

    .close-btn {
        position: absolute;
        top: -1%;
        right: 5%;
        font-size: 42px;
        z-index: 10;
        color: $white-color;
        &:hover {
            text-decoration: none
        }
    }
}