<div class="container-fluid bg-yellow">
    <div class="row">
        <div class="col-lg-10 mx-auto text-center">
            <img class="pt-4" src="./assets/icons/baixar-icon.png" alt="baixar">
            <h1 class="pt-2">Baixar</h1>
            <p class="pt-2">Uma foto atraente do prato é fundamental para
                despertar a vontade no consumidor.
                Clique no produto desejado abaixo. <br> Em seguida, escolha se deseja
                baixá-la em alta ou baixa resolução.</p>
            <div class="row">
                <div class="col-sm-8 my-2 buscar">
                    <input type="text" class="form-control  rounded-0 " [formControl]="searchProduct"
                        placeholder="Buscar produto" required>
                    <div class="input-icon">
                        <img src="./assets/icons/search-icon-black.svg" alt="sea">
                    </div>
                </div>
                <div class="col-sm-4 my-2 order-first order-lg-last">
                    <select class="custom-select rounded-0 py-2" [formControl]="categoryInput">
                        <option value="">Todas Categorias </option>
                        <option *ngFor="let category of categories">
                            {{ category.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-12 dicas">
                    <div class="loading text-center pt-5" style="min-height: 300px" *ngIf="loading">
                        <div class="spinner-grow" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="row"  *ngIf="!loading">
                        <div class="col-lg-3 col-md-10 text-center dicas-item mx-md-auto mt-4" 
                        *ngFor="let produto of filteredProducts | async">
                            <div class="dicas-content">
                                <a href="javascript:void(0)" 
                                data-toggle="modal" 
                                data-target="#pop-download"
                                (click)="selectProduct(produto)">
                                    <img [src]="produto.thumbs[0].url" [alt]="produto.title" class="w-100 produto-image">
                                </a>
                                <a href="javascript:void(0)"  (click)="download(produto.images[0].url, produto.title)"
                                    class="baixar-icon">
                                    <img src="./assets/icons/baixar.png" alt="baixar-icon">
                                </a>
                                <div class="space text-left">
                                    <span>{{ produto.title }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal font-koho" tabindex="-1" role="dialog" id="pop-download">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <a href="javascript:void(0)" data-dismiss="modal" class="close-btn">
                    &times;
                </a>
                <div class="container-fluid">
                    <div class="row">
                        <div  class="col-lg d-block px-0 produto-image position-relative" 
                        [ngStyle]="{'background-image': 'url('+ imageToDownload.url +')'}">

                            <div class="thumbs">
                                <a class=" no-decoration "   href="javascript:void(0)"
                                (click)="changeType(1); ">
                                    <img [src]="produtoModal.thumbs[0].url"  alt="" *ngIf="produtoModal.thumbs">
                                </a>
                                <a class=" no-decoration " href="javascript:void(0)"
                                (click)="changeType(1, './assets/embalagens/'+ fixPath(produtoModal.title)+'.png'); ">
                                    <img [src]="'./assets/embalagens/'+ fixPath(produtoModal.title) +'.png'"  alt="" *ngIf="produtoModal.title">
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4  info-modal">
                            <h4 class="regular text-center"> {{ produtoModal.title }}</h4>
                            <div class="download-block" 
                            *ngIf="!imageToDownload.embalagem"
                            (click)="changeType(2); download(produtoModal.thumbs[0].url, 'baixa-resolucao-'+produtoModal.title)"
                            [ngClass]="{'active':imageToDownload.type == 2 }">
                               <span class="bold d-block">Download</span> 
                               Baixa resolução
                            </div>
                            <div class="download-block" 
                            *ngIf="!imageToDownload.embalagem"
                            (click)="changeType(1); download(produtoModal.images[0].url, 'alta-resolucao-'+produtoModal.title);"
                            [ngClass]="{'active':imageToDownload.type == 1 }" >
                                <span class="bold d-block">Download</span> 
                                Alta resolução
                            </div>

                            <div class="download-block" 
                            *ngIf="imageToDownload.embalagem"
                            (click)="download('./assets/embalagens/'+ fixPath(produtoModal.title) +'.png', 'embalagem-alta-resolucao-'+produtoModal.title);"
                            [ngClass]="{'active':imageToDownload.type == 1 }" >
                                <span class="bold d-block">Download</span> 
                                Alta resolução
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>