@import 'helpers';
@import 'variables';

.cover {
    @include bg-default;
    
    @include media-breakpoint-down(md) { 
        padding: 10vh 5vh;
        height: 60vh;
    }
    @include media-breakpoint-up(md) { 
        padding: 15vh 10vh;
        height: 75vh;
    }
    @include media-breakpoint-up(lg) { 
        padding: 22vh 15vh;
        height: 85vh;
    }
}

.cover h1 {

    color: #fff;
    font-family: KoHoRegular;
    @include media-breakpoint-down(md) { 
        font-size: 24px;
    }
    @include media-breakpoint-up(md) { 
        font-size: 34px;
    }
    @include media-breakpoint-up(lg) { 
        font-size: 40px;
    }
}


.btn-warning {
    color: $theme-color-3;
    font-family: KoHoBold;
    background-color: transparent;
    border: 2px solid $theme-color-3;
   
    @include media-breakpoint-down(md) { 
        font-size: 12px;
    }
    @include media-breakpoint-up(md) { 
        font-size: 16px;
    }
    @include media-breakpoint-up(lg) { 
        font-size: 20px;
        padding: 10px 0px;
    }
}

.btn-warning:hover {
    color: $theme-color-1;
    background-color: $theme-color-2;
    border-color: $theme-color-2;
}

 .arrows {
    position: absolute;
    top:  42%;
    left: 0;
    width: 100%;
    
    img {
        width: 100%;
        cursor: pointer;
        transition: all 600ms;
        position: relative;
    }
    
    .arrow {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 0 10px;
        position: relative;
        // background-color: rgba(255, 255, 255, 0.555);
        &:hover {
            transform: scale(1.2);
            transition: all 500ms;
        }
    }
}
