<ngx-slick-carousel class="carousel slider" 
#slickModal="slick-carousel" [config]="slideConfig" 
(init)="slickInit($event)" (breakpoint)="breakpoint($event)" 
(afterChange)="afterChange($event)" (beforeChange)="beforeChange($event)">

    <div ngxSlickItem class="slide" *ngFor="let slide of slides">
        <div class="cover font-koho" [ngStyle]="{'background-image':'url('+ slide.image +')'}" >
            <h1 class="pb-4" [innerHTML]="slide.title"></h1>
            <div class="row">
                <div class="col-lg-5 col-md-10">
                    <a [routerLink]="slide.route" class="btn btn-warning btn-block rounded-0 text-uppercase" href="#">Saiba Mais</a>
                </div>
            </div>
            
        </div>
    </div>

</ngx-slick-carousel>

<div class="arrows" >
    <div class=" arrow ml-3 float-left" (click)="slickModal.slickPrev()">
        <img src="./assets/icons/icone-setinha-branco.svg" alt="" style="transform: rotateZ(180deg)">
    </div>
    <div class="arrow mr-3 float-right" (click)="slickModal.slickNext()">
        <img src="./assets/icons/icone-setinha-branco.svg" alt="">
    </div>
</div>