#mission {
    img {
        position: absolute;
        height: auto;
        object-fit: cover;
    }
    .image-mission-1 img {
        width: 100%;
    }
    .image-mission-2 img {
        top: 30px;
        width: 100%;
        right: 0;
    }

    .text-mission {
        margin-left:350px; 
        padding-top: 100px;
    }
    .m-o-v {
        list-style: none;
        padding-inline-start: 20px;
        transition: all 1s;
        @include media-breakpoint-down(md) {
            transform: scale(1);
            h3 {
                color:$theme-color-2;
            }
        }
        @include media-breakpoint-up(md) {
            transform: scale(0.9);
            h3 {
                color:$theme-color-2;
            }
        }

        @include media-breakpoint-up(lg) {
            transform: scale(0.9);
            h3 {
                color:$white-color; 
            }
        }
        ul {
            padding-inline-start: 0px;
            margin-left: 0;
            list-style-type: circle;
            li {
                list-style: none;
                color:$white-color;
                margin-left: 10px;
            }
            
            li:before {
                content: "."; /* Insert content that looks like bullets */
                padding-right: 8px;
                color: $white-color;  /* Or a color you prefer */
            }
        }
    }

    h3 {
        font-size: 20px;
        color:$white-color; 
    }
    p {
        font-size: 16px;
        margin-left: 10px;
        color:$white-color; 
    }
}


