@import 'helpers';
@import 'variables';

.cover {
    background-position: 0 41%;
    background-repeat: no-repeat;
    background-size: cover;

    @include media-breakpoint-down(lg) {
        padding: 120px;
    }
    @include media-breakpoint-up(lg) {
        padding: 200px;
    }
}

.post {
    background-color: #fff;
    padding: 50px 30px;

    h2, p {
        font-family: KoHoRegular;
        color: #000;
    }
}