<div class="container-fluid" *ngIf="dica">
    <div class="row">
        <div class="col-12 cover " 
        [ngStyle]="{'background-image': 'url('+ dica.images[0].url +')'}">

        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="dica" id="dica"> 
    <div class="row">
        <div class="col-12 bg-yellow pt-4 pb-4">
            <div class="row">
                <div class="col-lg-10 col-11 post text-left mx-auto"  [innerHTML]="dica.description">
                   
                </div>
            </div>
        </div>
    </div>
</div>