@import 'helpers';
@import 'variables';

h1{
    font-family: McCainSunshinePro;
    color: #000;
    font-size: 52px;
    letter-spacing: 1px;
}

p{
    color: #000;
    font-family: KoHoRegular;
}

.negocio-item{
    
    cursor: pointer;
    @include media-breakpoint-down(md) { 
        background-size: cover;
        padding: 80px 40px;
    }
    @include media-breakpoint-up(md) { 
        background-size: cover;
        padding: 80px 50px;
    }
    @include media-breakpoint-up(lg) { 
        background-size: 90%;
        padding: 100px;
    }
   
    transition:  all 1s;
   

    h3 {
        transition: 0.8s;
    }
    &:hover {
        transition:  all 1s;
        background-size: 98% ;
        background-position: 95% ;

    
    }
}

h3{
    font-family: McCainSunshinePro;
    color: #fff;
    font-size: 42px;
    letter-spacing: 1px;
}