<div class="container-fluid bg-yellow">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="pt-5">Mais para o seu Negócio</h1>
            <p class="pt-2">Confira abaixo algumas ferramentas que vão ajudar no dia a dia do seu negócio.</p>
        </div>
        <div class="col-lg-7 col-md-10 text-center mx-auto pt-4 mb-5">
            <div class="row">
                <div routerLinkActive='active' routerLink='/dicas'
                    class="col-lg-6 col-md-10 mx-auto text-center negocio-item mt-4"
                    style="background-image: url(./assets/photos/alo-home.png); background-repeat: no-repeat; background-position: center;">
                    <h3>Dicas para seu negócio</h3>
                </div>
                <div routerLinkActive='active' routerLink='/receitas'
                    class="col-lg-6 col-md-10 mx-auto text-center negocio-item mt-4"
                    style="background-image: url(./assets/photos/receitas-home.png); background-repeat: no-repeat; background-position: center;">
                    <h3>Receitas</h3>
                </div>
                <div routerLinkActive='active' routerLink='/baixar'
                    class="col-lg-6 col-md-10 mx-auto text-center negocio-item mt-4"
                    style="background-image: url(./assets/photos/produtos-home.png); background-repeat: no-repeat; background-position: center;">
                    <h3>Baixar Fotos</h3>
                </div>
                <div routerLinkActive='active' routerLink='/calculadora'
                    class="col-lg-6 col-md-10 mx-auto text-center negocio-item mt-4 "
                    style="background-image: url(./assets/photos/calculadora-home.png); background-repeat: no-repeat; background-position: center;">
                    <h3>Calculadora de lucros</h3>
                </div>
            </div>
        </div>
    </div>
</div>