<div class="policy-privacy" *ngIf="!policy">
    <a href="javascript:void(0)" class="close clean-link" (click)="setPolicy()">
        &times;
    </a>

    <div class="row mx-0">
        <div class="col mt-3">
            Nós usamos cookies para melhorar cada vez mais sua experiência de navegação no site.
            <a href="https://www.mccain.com/privacy/pt-br" target="__blank" class="clean-link link-term">Políticia de cookies | Termos & Condições</a>. 
            Continue ou feche essa mensagem para permitir cookies. 
        </div>
        <div class="col-lg-3 mt-3">
            <button type="button" class="btn btn-outline-theme-3 text-uppercase py-3 btn-block btn-accept text-uppercase" (click)="setPolicy()">
                Aceitar
            </button>
        </div>
    </div>
</div>

<div class="container-fluid" id="footer" [ngClass]="{'mobile':helper.isMobile}">
    <div class="row footer">
        <div class="col-12 text-center pt-3">
            <a routerLinkActive='active' routerLink='/home'> <img
                    src="./assets/logo/mccain-logo.png" alt="mccain-logo"></a>
        </div>
        <div class="col-lg-10 mx-auto text-center nav-footer">
            <div class="row">
                <div class="col-lg">
                    <a routerLinkActive='active' routerLink='/mccain'>A McCain</a>
                </div>
                <div class="col-lg">
                    <a routerLinkActive='active' routerLink='/produtos'>Produtos</a>
                </div>
                <div class="col-lg">
                    <a routerLinkActive='active' routerLink='/negocio'>Mais para
                        o seu Negócio</a>
                </div>
                <div class="col-lg">
                    <a routerLinkActive='active' routerLink='/distribuidores'>Distribuidores
                        McCain</a>
                </div>
                <div class="col-lg pb-4">
                    <a routerLinkActive='active' routerLink='/contact'>Alô
                        McCain</a>
                </div>
            </div>
        </div>

        <div class="col-12 text-center infos-footer">
            <p><img src="./assets/icons/icon-phone.png" alt="icon-phone"></p>
            <p>Alô, McCain</p>
            <p style="font-family:KoHoRegular">0800 200 8080</p>
        </div>

    </div>


</div>