@import 'helpers';
@import 'variables';


.container-fluid{
    background-color: $theme-color-1;
}

.footer{
    padding: 50px;
}

.nav-footer{
    padding: 50px;

    a{
        color: #fff;
        font-family: KoHoRegular;
        &:hover{
            color: $theme-color;
            font-family: KoHoBold;
        }
    }
}

#footer.mobile{
    .nav-footer{
        text-align: center;
        padding: 15px 0px;
        div{
            padding: 5px 0px;
        }
    }

}

.infos-footer {
    color: #fff;
    font-family: KoHoBold;

}



.policy-privacy {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 10px;
    background: rgba(0, 0, 0, 0.692);
    color: #FFF;
    z-index: 100000;
 
    a.link-term{
        color:  $theme-color-3; 
    }
    .close {
        position: absolute;
        right: 15px;
        top: 5px;
        font-size: 22px;
        color: #FFF;
    }
}