@import "helpers";
@import "variables";

.infos {
    
    h2 {
        font-family: McCainSunshinePro;
        color: #fff;
        font-size: 42px;
        letter-spacing: 1px;
    }
    p {
        font-family: KoHoRegular;
        color: #fff;
        font-size: 14px;
    }
    @include media-breakpoint-down(md) { 
        padding: 20px 10px;
    }
    @include media-breakpoint-up(md) { 
        padding: 90px ;
    }
    @include media-breakpoint-up(lg) { 
        padding: 180px;
    }
}

.calculadora {
  background-color: $theme-color-3;
}

.btn-warning-3 {
  color: #2c2c2c;
  font-family: KoHoBold;
  background-color: $theme-color-3;
  border: 2px solid $theme-color-3;
}

.btn-warning-3:hover {
  color: $theme-color-1;
  background-color: transparent;
  border-color: $theme-color-3;
}

form {
  background-color: #fff;
  padding: 20px;
}

.form-control {
  font-family: KoHoRegular;

  color: $theme-color-1;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-bottom: 2px solid $theme-color-3;
  width: 100%;
  margin: 10px 0;
  &:focus {
    border: none;
    border-bottom: 4px solid $theme-color-3;
    box-shadow: 0px;
  }
  &:hover {
    box-shadow: 0px 1px 0px 0 $theme-color-3;
  }
}
.form-control::placeholder,
select.form-control {
  font-family: KoHoRegular;
  color: $theme-color-1;
  font-weight: bold;
  font-size: 15px;
}

.obriga {
  font-family: KoHoRegular;
  color: #707070;
}

.resultado {
  padding: 20px;

  span {
    font-family: KoHoBold;
    color: #000;
    font-size: 20px;
  }
  p {
    font-family: KoHoRegular;
    color: #000;
  }

  .result {
    display: inline-block;
    background-color: transparent;
    border-bottom: 2px solid $theme-color-3;
    font-family: KoHoRegular;
    color: #000;
    width: 150px;
  }
}


.input-tip {
  position: absolute;
  top: 20px;
  right: 7%;

  &.left {
    right: auto;
    top: 18px;
    left: 18px;
  }
}