<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 text-center infos"
            style="background-image: url(./assets/photos/calculadora.png); background-repeat: no-repeat; background-position: center;">
            <h2>Calculadora de Lucros</h2>
            <p>Com essa ferramenta você não trabalha no escuro. <br>
                Descubra quanto você pode lucrar com cada produto McCain.</p>
        </div>
        <div class="col-lg-6 col-md-12 calculadora">
            <div class="row">
                <div class="col-md-8 mx-auto pt-4 pb-4">
                    <form [formGroup]="form" id="contact-form">
                        <div class="form-row">
                            <div class="col-md-12">
                                <select [formControl]="productCtrl"   class="form-control" >
                                    <option value="">Selecione o Produto:</option>
                                    <option *ngFor="let produto of produtosService.produtos" [value]="produto.productID" >
                                        {{ produto.title }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="row" [ngClass]="{'disable': productCtrl.invalid }">
                            <div class="col-md-12">
                                
                                <span class="input-tip">{{ perUnit?'Unidade':'G' }}</span>
                                <input type="text" class="form-control "
                                formControlName="size"
                                [placeholder]="'Tamanho da porção por '+ (perUnit? 'unidade': 'Gramas') "
                                (keyup)="calc()" 
                                [mask]="perUnit ?  '000' : 'comma_separator.1'"
                                required>
                            </div>
                            <div class="col-md-6">
                                <span class="input-tip  left">R$</span>
                                <input type="text" class="form-control"
                                formControlName="cost_price"
                                placeholder="Preço pago no kg da produto McCain (R$/kg)"
                                mask="comma_separator.2"
                                (keyup)="calc()"  
                                required>
                            </div>
                            <div class="col-md-6">
                                
                                <span class="input-tip left">R$</span>
                                <input type="text" 
                                class="form-control" 
                                formControlName="sale_price"
                                placeholder="Preço de Venda da porção (R$/kg)"
                                mask="comma_separator.2"
                                (keyup)="calc()" 
                                required>
                            </div>
                            <div class="col-md-12 text-center  mx-auto my-4 text-uppercase ">
                                <button type="button" (click)="helper.scroll('results-calc')"
                                class="btn btn-warning-3 py-2 btn-block ">
                                    Calcular
                                </button>
                            </div>
                            <div class="mb-4 mt-4 text-left resultado" id="results-calc">
                                <span>Resultados</span>
                                <p class="pt-3">
                                    Custo por porção (R$): <span class="result">{{  cost_per? cost_per: 0  | currency:'BRL':''}}</span>
                                </p>
                                <p>
                                    Lucro por porção (R$): <span class="result text-truncate"> {{ profit_per? profit_per: 0 | currency:'BRL':'' }}</span>
                                </p>
                                <p>
                                    Markup (%): <span class="result">{{ markup | percent  }}</span>
                                </p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>