@import 'helpers';
@import 'variables';

.container-history {
	@extend %container-carrousel;
	.position-history {
		width: 100%;
	}
}

#history {
    .history-item {
        .history-img img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }

        strong {
            display: block;
            margin: 10px 0;
            font: {
                family: 'KoHoBold';
                size: 35px;
            }
            color: $theme-color-2;
        }

        p {
            font: {
                family: 'KoHoRegular';
                size: 16px;
            }
            color: $white-color;
        }
    }
}