<section class="container-history carrossel-container font-koho  ">
    <div class="position-history">
        <div id="history" class="history-carrousel has-arrow">
            <ngx-slick-carousel class="carousel slider"
                #slickModal="slick-carousel"
                [config]="slideConfig"
                (init)="slickInit($event)"
                (breakpoint)="breakpoint($event)"
                (afterChange)="afterChange($event)"
                (beforeChange)="beforeChange($event)">


                <div ngxSlickItem class="slide" >
                    <div class="mx-3 history-item">
                        <div class="history-img">
                            <!-- <img [src]="slide.img" [alt]="slide.info"> -->
                        </div>
                        <strong class="bold"></strong>
                        <p class="regular"></p>
                    </div>
                </div>
                <div ngxSlickItem class="slide" *ngFor="let slide of slides">
                    <div class="mx-3 history-item">
                        <div class="history-img">
                            <img [src]="slide.img" [alt]="slide.info">
                        </div>
                        <strong class="bold">{{ slide.year }}</strong>
                        <p class="regular">{{ slide.info }}</p>
                    </div>

                </div>
                <div ngxSlickItem class="slide" >
                        <div class="mx-3 history-item">
                            <div class="history-img">
                                <!-- <img [src]="slide.img" [alt]="slide.info"> -->
                            </div>
                            <strong class="bold"></strong>
                            <p class="regular"></p>
                        </div>
                    </div>
            </ngx-slick-carousel>
            
            <div class="arrows" *ngIf="!helper.isMobile">
                <div class=" arrow ml-3" (click)="slickModal.slickPrev()">
                    <img src="./assets/icons/icone-setinha-branco.svg" alt="" style="transform: rotateZ(180deg)">
                </div>
                <div class="arrow mr-3 " (click)="slickModal.slickNext()">
                    <img src="./assets/icons/icone-setinha-branco.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>