<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 px-0 position-relative " id="cover-home">
            <app-carrossel></app-carrossel>
            
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-12 ferramentas">
            <h2>Mais para o seu Negócio</h2>
            <h5 class="pt-3">Confira as ferramentas que oferecemos para ajudar na gestão do seu negócio.</h5>
            <div class="col-lg-8 col-md-10 px-0">
                <a class="btn btn-warning-2 btn-block rounded-0 text-uppercase mt-3" routerLinkActive='active'
                    routerLink='/negocio'>Ver todas ferramentas</a>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <div class="row">
                <div routerLinkActive='active' routerLink='/produtos' class="col-lg-6 col-md-12 ferramentas-item"
                    style="background-image: url(./assets/photos/produtos-home.png); ">
                    <h6>Produtos</h6>
                    <p>Confira todo o nosso portifólio de Produtos e se surpreenda
                    </p>
                </div>
                <div routerLinkActive='active' routerLink='/receitas' class="col-lg-6 col-md-12 ferramentas-item"
                    style="background-image: url(./assets/photos/receitas-home.png); ">
                    <h6>Receitas</h6>
                    <p>Procurando a receita de sucesso? Só aqui tem várias.
                    </p>
                </div>
                <div routerLinkActive='active' routerLink='/contact' class="col-lg-6 col-md-12 ferramentas-item"
                    style="background-image: url(./assets/photos/alo-home.png)">
                    <h6>Alô,McCain</h6>
                    <p>Tem alguma dúvida, sugestão ou crítica?
                        Ligue gratuitamente para a gente.
                    </p>
                </div>
                <div routerLinkActive='active' routerLink='/calculadora' class="col-lg-6 col-md-12 ferramentas-item"
                    style="background-image: url(./assets/photos/calculadora-home.png);">
                    <h6>Calculadora de Lucros</h6>
                    <p>Com essa ferramenta você não trabalha no escuro. Descubra já a quantidade suas porções e a rentabilidade que você pode ter com elas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-default" style="background-image: url(./assets/backgrounds/bg-lead-home.png); ">
    <div class="row">
        <div class="col-md-10 px-0 mx-auto text-center pb-4  " >
            <app-contact [simpleForm]="true"></app-contact>
        </div>
    </div>
</div>