@import "helpers";
@import "variables";

.cover {
  @include bg-default;
  padding: 190px 70px;
}

.cover h1 {
  color: #fff;
  font-family: KoHoRegular;
}

.ferramentas {
  background-color: $theme-color-3;

  @include media-breakpoint-down(md) {
    padding: 22vh 10vh;
  }
  @include media-breakpoint-up(md) {
    padding: 20vh 12vh;
  }
  @include media-breakpoint-up(lg) {
    padding: 120px 100px;
  }

  h2 {
    font-family: McCainSunshinePro;
    @include media-breakpoint-down(md) {
      font-size: 45px;
    }
    @include media-breakpoint-up(md) {
      font-size: 52px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 62px;
    }
  }

  h5 {
    font-size: 20px;
    font-family: KohoRegular;
  }

  h2, h3 {
    color: #000000;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
    @include media-breakpoint-up(md) {
      width: 90%;
    }
    @include media-breakpoint-up(lg) {
      width: 80%;
    }
  }
}

@keyframes effectAnimate {
  from {
  }
  to {
  }
}
.ferramentas-item {
  outline: none !important;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  @include media-breakpoint-down(lg) {
    background-size: cover;
    padding: 140px 25px 20px 25px;
  }
  @include media-breakpoint-up(lg) {
    background-size: 150%;
    padding: 160px 25px 20px 25px;
  }
  @include media-breakpoint-up(xl) {
    background-size: 150%;
  }
  transition: all 1s;

  p {
    transition: 2s;
  }
  h6 {
    transition: 0.8s;
  }
  &:hover {
    transition: all 500ms;
    background-size: 170%;
    background-position: 95%;

    p,
    h6 {
      transform: translateY(-50%);
    }
    p {
      transition: 0.5s;
    }
    h6 {
      transition: 1s;
    }
  }
}
p {
  color: #fff;
  font-family: KoHoRegular;
}

h6 {
  color: $theme-color-2;
  font-family: McCainSunshinePro;
  font-size: 42px;
}

.contato {
  @include media-breakpoint-down(md) {
    padding: 80px;
  }
  @include media-breakpoint-up(md) {
    padding: 90px;
  }
  @include media-breakpoint-up(lg) {
    padding: 100px;
  }

  h3 {
    color: #fff;
    font-family: McCainSunshinePro;
    font-size: 52px;
  }
}

.btn-warning {
  color: $theme-color-3;
  font-family: KoHoBold;
  background-color: transparent;
  border: 2px solid $theme-color-3;
  padding: 10px 0px;
}

.btn-warning:hover {
  color: $theme-color-1;
  background-color: $theme-color-2;
  border-color: $theme-color-2;
}

.btn-warning-2 {
  color: #2c2c2c;
  font-family: KoHoBold;
  background-color: transparent;
  border: 2px solid #2c2c2c;
  padding: 15px 0px;
}

.btn-warning-2:hover {
  color: $theme-color-2;
  background-color: #2c2c2c;
  border-color: #2c2c2c;
}

.btn-warning-3 {
  color: #2c2c2c;
  font-family: KoHoBold;
  background-color: $theme-color-3;
  border: 2px solid $theme-color-3;
  padding: 15px 100px;
}

.btn-warning-3:hover {
  color: $theme-color-1;
  background-color: transparent;
  border-color: $theme-color-3;
}

.form-control {
  font-family: KoHoRegular;
  color: $theme-color-1;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-bottom: 2px solid $theme-color-3;
  width: 100%;
  margin: 10px 0;

  &:focus {
    border: none;
    border-bottom: 4px solid $theme-color-3;
    box-shadow: 0px;
  }

  &:hover {
    box-shadow: 0px 1px 0px 0 $theme-color-3;
  }
}

.form-control::placeholder,
select.form-control {
  font-family: KoHoRegular;
  color: $theme-color-1;
  font-weight: bold;
  font-size: 15px;
}

.obriga {
  font-family: KoHoRegular;
  color: #707070;
}
