/* Created by Artisteer v4.2.0.60623 */

.responsive body
{
   min-width: 240px;
}
  
.responsive img 
{
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}  
  
.responsive .mc-content-layout img,
.responsive .mc-content-layout video
{
   max-width: 100%;
   height: auto !important;
}

.responsive.responsive-phone .mc-content-layout img 
{
   margin: 1%;
}

.responsive.responsive-phone .mc-collage,
.responsive.responsive-tablet .mc-collage {
   margin: 0 !important;
}

.responsive .mc-content-layout .mc-sidebar0, 
.responsive .mc-content-layout .mc-sidebar1, 
.responsive .mc-content-layout .mc-sidebar2 
{
   width: auto !important;
}
    
.responsive .mc-content-layout, 
.responsive .mc-content-layout-row, 
.responsive .mc-layout-cell 
{
   padding: 0;
   display: block;
}
    
.responsive .image-caption-wrapper 
{
   width: auto;
}

.responsive.responsive-tablet .mc-vmenublock,
.responsive.responsive-tablet .mc-block
{
   margin-left: 1%;
   margin-right: 1%;
   width: 48%;
   float: left;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.responsive .mc-responsive-embed 
{
   height: 0;
   padding-bottom: 56.25%;
   /* 16:9 */
    position: relative;
}

.responsive .mc-responsive-embed iframe,
.responsive .mc-responsive-embed object,
.responsive .mc-responsive-embed embed
{
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.responsive .mc-header 
{
   width: auto !important;
   max-width: none !important;
   min-height: 174px !important;
   min-width: 0 !important;
   text-align: center;
}

.default-responsive .mc-header 
{
   height: auto;
}

.default-responsive .mc-header *
{
   position: relative;
   text-align: center;
   -webkit-transform: none !important;
   -moz-transform: none !important;
   -o-transform: none !important;
   -ms-transform: none !important;
   transform: none !important;
}

.default-responsive .mc-header .mc-headline, 
.default-responsive .mc-header .mc-slogan 
{
   display: block !important;
   top: 0 !important;
   left: 0 !important;
   margin: 2% !important;
   text-align: center !important;
}
    
.default-responsive .mc-header .mc-headline a, 
.default-responsive .mc-header .mc-slogan 
{
   white-space: normal !important;
}

.default-responsive .mc-header .mc-logo
{
   display: inline-block;
   margin: auto !important;
   left: auto;
   top: auto !important;
   width: auto;
   height: auto;
}

.responsive .mc-header .mc-slidenavigator 
{
   position: absolute;
}

.default-responsive .mc-header .mc-positioncontrol 
{
   top: auto !important;
   right: auto !important;
   bottom: auto !important;
   left: auto !important;
   width: auto;
   height: auto;
   margin: auto;
}

.responsive .mc-header #mc-flash-area
{
   display: none;
}

/* Search and other elements in header element directly */
.default-responsive .mc-header>.mc-textblock
{
   position: relative !important;
   display: block !important;
   margin: 1% auto !important;
   width: 75% !important;
   top: auto !important;
   right: auto !important;
   bottom: auto !important;
   left: auto !important;
}

.default-responsive .mc-header .mc-textblock 
{
   position: relative !important;
   display: block !important;
   margin: auto !important;
   left: 0 !important;
   right: 0 !important;
   top: auto !important;
   height: auto !important;
   width: auto;
   background-image: none;
}

/* '.mc-header *' used noram align, but for '.mc-textblock *' we must force align because of preview */
.responsive .mc-header .mc-textblock *
{
   text-align: center !important;
}

.default-responsive .mc-header .mc-shapes > .mc-textblock,
.default-responsive .mc-header .mc-slide-item > .mc-textblock
{
   display: none !important;
}

.default-responsive .mc-header .mc-shapes > .mc-textblock *
{
   text-align: center !important;
   width: auto !important;
   height: auto !important;
   display: block;
}

.default-responsive .mc-header .mc-slider .mc-textblock *
{
   text-align: center !important;
   width: auto !important;
   height: auto !important;
   display: block;
}

/* For icons like facebook, rss, etc. */
.responsive .mc-header>.mc-textblock>div 
{
   width: 100%;
}
/* dynamic width nav */
.responsive nav.mc-nav,
.responsive .mc-nav-inner
{
   width: auto !important;
   position: relative !important;
   top: auto !important;
   left: auto !important;
   right: auto !important;
   bottom: auto !important;
   margin-top: 0;
   margin-bottom: 0;
   min-width: 0;
   text-align: left !important;
}

.responsive nav.mc-nav
{
   min-width: 1%;
}

.responsive .mc-nav 
{
   padding-left: 0;
   padding-right: 0;
}

/* full width hmenu, instead of inline-block */
.responsive .mc-nav ul.mc-hmenu 
{
   float: none;
   text-align: center;
   display: none;
}

/* elements on different lines */
.responsive .mc-nav ul.mc-hmenu li,
.responsive .mc-hmenu-extra1,
.responsive .mc-hmenu-extra2
{
   float: none;
}
  
/* horizontal margins */
.responsive .mc-nav ul.mc-hmenu>li:first-child, 
.responsive .mc-nav ul.mc-hmenu>li:last-child, 
.responsive .mc-nav ul.mc-hmenu>li
{
   margin-left: 0;
   margin-right: 0;
}
 
/* separator */ 
.responsive .mc-nav ul.mc-hmenu>li:before
{
   display: none;
}

/* vertical distance between items */
.responsive .mc-nav ul.mc-hmenu a
{
   margin-top: 1px !important;
   margin-bottom: 1px !important;
   height: auto;
   white-space: normal;
}

.responsive .mc-nav ul.mc-hmenu>li:first-child>a
{
   margin-top: 0 !important;
}

.responsive .mc-nav ul.mc-hmenu>li:last-child>a
{
   margin-bottom: 0 !important;
}

/* fixes for extended menu */
.responsive .mc-nav .ext, 
.responsive .mc-nav ul.mc-hmenu>li>ul, 
.responsive .mc-nav ul.mc-hmenu>li>ul>li,
.responsive .mc-nav ul.mc-hmenu>li>ul>li a
{
   width: auto !important;
}

/* submenu position on hover */
.responsive .mc-nav ul.mc-hmenu ul
{
   left: auto !important;
   right: auto !important;
   top: auto !important;
   bottom: auto !important;
   display: none !important;
   position: relative !important;
   visibility: visible !important;
}

.responsive .mc-nav ul.mc-hmenu li.active>ul
{
   display: block !important;
}
.responsive .mc-nav ul.mc-hmenu ul li.active>a
{
   font-weight: bold;
}

.mc-nav .mc-menu-btn 
{
   border: 1px solid #404040;
   border-radius: 3px;
   box-shadow: 0 0 3px 0 rgba(0, 0, 0, .2);
   display: none;
   /*-svg-background: linear-gradient(to bottom, #707070 0, #000 100%);*/
   background: -ms-linear-gradient(top, #707070 0, #000 100%);
   background: -moz-linear-gradient(top, #707070 0, #000 100%);
   background: -o-linear-gradient(top, #707070 0, #000 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #707070), color-stop(1, #000));
   background: -webkit-linear-gradient(top, #707070 0, #000 100%);
   background: linear-gradient(to bottom, #707070 0, #000 100%);
   margin: 3px;
   outline: none;
   padding: 5px;
   position: relative;
   vertical-align: bottom;
   width: 20px;
}

.mc-nav .mc-menu-btn span 
{
   background: #E0E0E0;
   border-radius: 2px;
   display: block;
   height: 3px;
   margin: 3px 1px;
   position: relative;
   -moz-transition: background .2s;
   -o-transition: background .2s;
   -webkit-transition: background .2s;
   transition: background .2s;
}

.mc-nav .mc-menu-btn:hover span
{
   background: #f3f3f3;
}

.responsive .mc-nav .mc-menu-btn 
{
   display: inline-block;
}

.responsive .mc-nav .mc-hmenu.visible 
{
   display: block;
}

.responsive .mc-nav ul.mc-hmenu>li>ul>li:first-child:after 
{
   display: none;
}
.responsive .mc-nav ul.mc-hmenu ul a
{
   padding-left: 4% !important;
}
.responsive .mc-nav ul.mc-hmenu ul ul a
{
   padding-left: 6% !important;
}
.responsive .mc-nav ul.mc-hmenu ul ul ul a
{
   padding-left: 8% !important;
}
.responsive .mc-nav ul.mc-hmenu ul ul ul ul a
{
   padding-left: 10% !important;
}
.responsive .mc-nav ul.mc-hmenu ul ul ul ul ul a
{
   padding-left: 12% !important;
}
  
.responsive .mc-nav ul.mc-hmenu>li>ul
{
   padding: 0;
}
  
.responsive .mc-nav ul.mc-hmenu>li>ul:before
{
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
}

.responsive .mc-sheet
{
   width: auto !important;
   min-width: 240px !important;
   max-width: none !important;
   margin-right: 1% !important;
   margin-left: 1% !important;
}

#mc-resp {
   display: none;
}

@media all and (max-width: 939px)
{
    #mc-resp, #mc-resp-t { display: block; }
    #mc-resp-m { display: none; }
}

@media all and (max-width: 480px)
{
    #mc-resp, #mc-resp-m { display: block; }
    #mc-resp-t { display: none; }
}

#mc-resp-desktop {
   display: none;
}
#mc-resp-tablet-landscape {
   display: none;
}
#mc-resp-tablet-portrait {
   display: none;
}
#mc-resp-phone-landscape {
   display: none;
}
#mc-resp-phone-portrait {
   display: none;
}

@media (min-width: 1200px)
{
    #mc-resp-desktop { display: block; }
}

@media (min-width: 980px) and (max-width: 1199px)
{
    #mc-resp-tablet-landscape { display: block; }
}

@media (min-width: 768px) and (max-width: 979px)
{
    #mc-resp-tablet-portrait { display: block; }
}

@media (min-width: 480px) and (max-width: 767px)
{
    #mc-resp-phone-landscape { display: block; }
}

@media (max-width: 479px)
{
    #mc-resp-phone-portrait { display: block; }
}
.responsive .mc-content-layout, 
.responsive .mc-content-layout-row, 
.responsive .mc-layout-cell 
{
   display: block;
}

.responsive .mc-layout-cell 
{
   width: auto !important;
   height: auto !important;
}

.responsive .mc-content-layout:after, 
.responsive .mc-content-layout-row:after, 
.responsive .mc-layout-cell:after 
{
   content: ".";
   display: block;
   height: 0;
   clear: both;
   visibility: hidden;
}

.responsive .mc-post
{
   border-radius: 0;
}

.responsive .mc-footer-inner
{
   width: auto;
   padding: 2% !important;
}

.responsive .responsive-tablet-layout-cell 
{
   width: 50% !important;
   float: left;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.responsive .responsive-layout-row-3 .responsive-tablet-layout-cell 
{
   width: 33.33% !important;
}

