/*
Theme Name: mccain_foodservice_V1_8
Theme URI: 
Description: Tema desenvolvido por Muffin para McCain do Brasil, segmento Foodservice
Version: 1.8
Author: Muffin
Author URI: http://muffin.com.br
Tags: fixed-width, one-column, valid HTML5, valid XHTML, widgets
*/

/* Created by Artisteer v4.2.0.60623 */

@font-face {
    font-family: 'arial_narrowbold_italic';
    src: url('Fonts/fontface/arial_narrow_bold_italic-webfont.eot');
    src: url('Fonts/fontface/arial_narrow_bold_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/fontface/arial_narrow_bold_italic-webfont.woff') format('woff'),
         url('Fonts/fontface/arial_narrow_bold_italic-webfont.ttf') format('truetype'),
         url('Fonts/fontface/arial_narrow_bold_italic-webfont.svg#arial_narrowbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arial_narrowbold';
    src: url('Fonts/fontface/arial_narrow_bold-webfont.eot');
    src: url('Fonts/fontface/arial_narrow_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/fontface/arial_narrow_bold-webfont.woff') format('woff'),
         url('Fonts/fontface/arial_narrow_bold-webfont.ttf') format('truetype'),
         url('Fonts/fontface/arial_narrow_bold-webfont.svg#arial_narrowbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arial_narrowitalic';
    src: url('Fonts/fontface/arial_narrow_italic-webfont.eot');
    src: url('Fonts/fontface/arial_narrow_italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/fontface/arial_narrow_italic-webfont.woff') format('woff'),
         url('Fonts/fontface/arial_narrow_italic-webfont.ttf') format('truetype'),
         url('Fonts/fontface/arial_narrow_italic-webfont.svg#arial_narrowitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'arial_narrowregular';
    src: url('Fonts/fontface/arial_narrow-webfont.eot');
    src: url('Fonts/fontface/arial_narrow-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/fontface/arial_narrow-webfont.woff') format('woff'),
         url('Fonts/fontface/arial_narrow-webfont.ttf') format('truetype'),
         url('Fonts/fontface/arial_narrow-webfont.svg#arial_narrowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'mccain_sunshine_proregular';
    src: url('Fonts/fontface/mccainsunshinepro-webfont.eot');
    src: url('Fonts/fontface/mccainsunshinepro-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/fontface/mccainsunshinepro-webfont.woff') format('woff'),
         url('Fonts/fontface/mccainsunshinepro-webfont.ttf') format('truetype'),
         url('Fonts/fontface/mccainsunshinepro-webfont.svg#mccain_sunshine_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'my_left_handregular';
    src: url('Fonts/fontface/breauhare_-_my_left_hand-webfont.eot');
    src: url('Fonts/fontface/breauhare_-_my_left_hand-webfont.eot?#iefix') format('embedded-opentype'),
         url('Fonts/fontface/breauhare_-_my_left_hand-webfont.woff') format('woff'),
         url('Fonts/fontface/breauhare_-_my_left_hand-webfont.ttf') format('truetype'),
         url('Fonts/fontface/breauhare_-_my_left_hand-webfont.svg#my_left_handregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

strong {

font-family: 'arial_narrowbold';

}




#mc-main
{
   background: #FFFFFF;
   margin:0 auto;
   font-size: 13px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   position: relative;
   width: 100%;
   min-height: 100%;
   left: 0;
   top: 0;
   cursor:default;
   overflow:hidden;
}
table, ul.mc-hmenu
{
border-spacing:0;   
font-size: 13px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}

h1, h2, h3, h4, h5, h6, p, a, ul, ol, li
{
   margin: 0;
   padding: 0;
}

/* Reset buttons border. It's important for input and button tags. 
 * border-collapse should be separate for shadow in IE. 
 */
.buttons,
.mc-button
{
   border: 0;
   border-collapse: separate;
   -webkit-border-radius: 0;
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
   background: #000000;
   border-width: 0;
   padding:0 15px;
   margin:0 auto;
   height:34px;
}

.mc-postcontent,
.mc-postheadericons,
.mc-postfootericons,
.mc-blockcontent,
ul.mc-vmenu a 
{
   text-align: left;
}

.mc-postcontent,
.mc-postcontent li,
.mc-postcontent table,
.mc-postcontent a,
.mc-postcontent a:link,
.mc-postcontent a:visited,
.mc-postcontent a.visited,
.mc-postcontent a:hover,
.mc-postcontent a.hovered
{
   font-size: 18px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-postcontent p
{
   margin: 12px 0;
}

.mc-postcontent h1, .mc-postcontent h1 a, .mc-postcontent h1 a:link, .mc-postcontent h1 a:visited, .mc-postcontent h1 a:hover,
.mc-postcontent h2, .mc-postcontent h2 a, .mc-postcontent h2 a:link, .mc-postcontent h2 a:visited, .mc-postcontent h2 a:hover,
.mc-postcontent h3, .mc-postcontent h3 a, .mc-postcontent h3 a:link, .mc-postcontent h3 a:visited, .mc-postcontent h3 a:hover,
.mc-postcontent h4, .mc-postcontent h4 a, .mc-postcontent h4 a:link, .mc-postcontent h4 a:visited, .mc-postcontent h4 a:hover,
.mc-postcontent h5, .mc-postcontent h5 a, .mc-postcontent h5 a:link, .mc-postcontent h5 a:visited, .mc-postcontent h5 a:hover,
.mc-postcontent h6, .mc-postcontent h6 a, .mc-postcontent h6 a:link, .mc-postcontent h6 a:visited, .mc-postcontent h6 a:hover,
.mc-blockheader .t, .mc-blockheader .t a, .mc-blockheader .t a:link, .mc-blockheader .t a:visited, .mc-blockheader .t a:hover,
.mc-vmenublockheader .t, .mc-vmenublockheader .t a, .mc-vmenublockheader .t a:link, .mc-vmenublockheader .t a:visited, .mc-vmenublockheader .t a:hover,
.mc-headline, .mc-headline a, .mc-headline a:link, .mc-headline a:visited, .mc-headline a:hover,
.mc-slogan, .mc-slogan a, .mc-slogan a:link, .mc-slogan a:visited, .mc-slogan a:hover,
.mc-postheader, .mc-postheader a, .mc-postheader a:link, .mc-postheader a:visited, .mc-postheader a:hover
{
   font-size: 22px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
}

.mc-postcontent a, .mc-postcontent a:link
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #000000;
}

.mc-postcontent a:visited, .mc-postcontent a.visited
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   color: #808080;
}

.mc-postcontent  a:hover, .mc-postcontent a.hover
{
   font-weight: bold;
   font-style: normal;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #E7940D;
}

.mc-postcontent h1
{
   color: #000000;
   margin: 10px 0 0;
   font-size: 24px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-blockcontent h1
{
   margin: 10px 0 0;
   font-size: 24px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-postcontent h1 a, .mc-postcontent h1 a:link, .mc-postcontent h1 a:hover, .mc-postcontent h1 a:visited, .mc-blockcontent h1 a, .mc-blockcontent h1 a:link, .mc-blockcontent h1 a:hover, .mc-blockcontent h1 a:visited 
{
   font-size: 24px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-postcontent h2
{
   color: #818285;
   margin: 10px 0 0;
   font-size: 14px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-blockcontent h2
{
   margin: 10px 0 0;
   font-size: 14px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-postcontent h2 a, .mc-postcontent h2 a:link, .mc-postcontent h2 a:hover, .mc-postcontent h2 a:visited, .mc-blockcontent h2 a, .mc-blockcontent h2 a:link, .mc-blockcontent h2 a:hover, .mc-blockcontent h2 a:visited 
{
   font-size: 14px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-postcontent h3
{
   color: #000000;
   margin: 10px 0 0;
   font-size: 14px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-blockcontent h3
{
   margin: 10px 0 0;
   font-size: 14px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-postcontent h3 a, .mc-postcontent h3 a:link, .mc-postcontent h3 a:hover, .mc-postcontent h3 a:visited, .mc-blockcontent h3 a, .mc-blockcontent h3 a:link, .mc-blockcontent h3 a:hover, .mc-blockcontent h3 a:visited 
{
   font-size: 14px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-postcontent h4
{
   color: #E7940D;
   margin: 10px 0 0;
   font-size: 16px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-blockcontent h4
{
   margin: 10px 0 0;
   font-size: 16px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-postcontent h4 a, .mc-postcontent h4 a:link, .mc-postcontent h4 a:hover, .mc-postcontent h4 a:visited, .mc-blockcontent h4 a, .mc-blockcontent h4 a:link, .mc-blockcontent h4 a:hover, .mc-blockcontent h4 a:visited 
{
   font-size: 16px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-postcontent h5
{
   color: #A7A790;
   margin: 10px 0 0;
   font-size: 14px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-blockcontent h5
{
   margin: 10px 0 0;
   font-size: 14px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-postcontent h5 a, .mc-postcontent h5 a:link, .mc-postcontent h5 a:hover, .mc-postcontent h5 a:visited, .mc-blockcontent h5 a, .mc-blockcontent h5 a:link, .mc-blockcontent h5 a:hover, .mc-blockcontent h5 a:visited 
{
   font-size: 14px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-postcontent h6
{
   color: #F4BB3B;
   margin: 10px 0 0;
   font-size: 13px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-blockcontent h6
{
   margin: 10px 0 0;
   font-size: 13px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-postcontent h6 a, .mc-postcontent h6 a:link, .mc-postcontent h6 a:hover, .mc-postcontent h6 a:visited, .mc-blockcontent h6 a, .mc-blockcontent h6 a:link, .mc-blockcontent h6 a:hover, .mc-blockcontent h6 a:visited 
{
   font-size: 13px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

header, footer, article, nav, #mc-hmenu-bg, .mc-sheet, .mc-hmenu a, .mc-vmenu a, .mc-slidenavigator > a, .mc-checkbox:before, .mc-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

header, footer, article, nav, #mc-hmenu-bg, .mc-sheet, .mc-slidenavigator > a, .mc-checkbox:before, .mc-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}

html, body
{
   height: 100%;
}

/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * https://github.com/necolas/normalize.css
 */

html {
   -ms-text-size-adjust: 100%;
   /* 2 */
    -webkit-text-size-adjust: 100%;
/* 2 */}

body
{
   padding: 0;
   margin:0;
   min-width: 940px;
   color: #818285;
}

.mc-header:before, #mc-header-bg:before, .mc-layout-cell:before, .mc-layout-wrapper:before, .mc-footer:before, .mc-nav:before, #mc-hmenu-bg:before, .mc-sheet:before
{
   width: 100%;
   content: " ";
   display: table;
}
.mc-header:after, #mc-header-bg:after, .mc-layout-cell:after, .mc-layout-wrapper:after, .mc-footer:after, .mc-nav:after, #mc-hmenu-bg:after, .mc-sheet:after,
.cleared, .clearfix:after {
   clear: both;
   font: 0/0 serif;
   display: block;
   content: " ";

}

form
{
   padding: 0;
   margin: 0;
}

table.position
{
   position: relative;
   width: 100%;
   table-layout: fixed;
}

li h1, .mc-postcontent li h1, .mc-blockcontent li h1 
{
   margin:1px;
} 
li h2, .mc-postcontent li h2, .mc-blockcontent li h2 
{
   margin:1px;
} 
li h3, .mc-postcontent li h3, .mc-blockcontent li h3 
{
   margin:1px;
} 
li h4, .mc-postcontent li h4, .mc-blockcontent li h4 
{
   margin:1px;
} 
li h5, .mc-postcontent li h5, .mc-blockcontent li h5 
{
   margin:1px;
} 
li h6, .mc-postcontent li h6, .mc-blockcontent li h6 
{
   margin:1px;
} 
li p, .mc-postcontent li p, .mc-blockcontent li p 
{
   margin:1px;
}


.mc-shapes
{
   
   top: 0;
   
   bottom: 0;
   
   overflow: hidden;
   z-index: 0;
}

.mc-slider-inner {
   position: relative;
   overflow: hidden;
   width: 100%;
   height: 100%;
}

.mc-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}

.mc-slidenavigator > a:last-child {
   margin-right: 0 !important;
}

.mc-object476736136
{
    display: block;
    
    
    position: absolute;
    top: -20px !important;
    width: 253px;
    height: 173px;
    background-image: url('images/object476736136.png');
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 1;
}

.default-responsive .mc-object476736136
{
  display: none;
}





.mc-header
{

   margin:0 auto;
   height: 156px;
   position: relative;
   background-image: url('images/header.jpg');
   background-attachment: fixed;
background-color: #000;
   background-position: center top;


}

.custom-responsive .mc-header
{
   background-image: url('images/header.jpg');
   background-position: center top;
}

.default-responsive .mc-header,
.default-responsive #mc-header-bg
{
   background-image: url('images/header.jpg');
   background-position: left center;
   background-size: contain;
}

.mc-header-inner{
   position: relative;
   width: 940px;
   z-index: auto !important;
   margin: 0 auto;
}

.mc-header>.widget 
{
   position:absolute;
   z-index:101;
}

.mc-nav
{
   background: #000000;
   margin:0 auto;
   position: relative;
   z-index: 499;
}

ul.mc-hmenu a, ul.mc-hmenu a:link, ul.mc-hmenu a:visited, ul.mc-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.mc-hmenu, ul.mc-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.mc-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.mc-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.mc-hmenu:after, ul.mc-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.mc-hmenu, ul.mc-hmenu ul 
{
   min-height: 0;
}

ul.mc-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
   padding-left: 0;
   padding-right: 0;
white-space:nowrap;
}

.mc-nav-inner:before 
{
   content:' ';
}

.mc-nav-inner{
   text-align: left;
   margin:0 auto;
max-width: 960px;
}

.desktop  .mc-nav-inner{
width: 960px;
background-color: #000;
   padding-left: 0;
   padding-right: 0;
height: 54px;
}

.desktop .mc-nav
{
width: 100%;
   padding-left: 0;
   padding-right: 0;
height: 54px;
}

.mc-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.mc-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.mc-hmenu
{
   float: right;

}

.mc-menuitemcontainer
{
   margin:0 auto;

}
ul.mc-hmenu>li {
   margin-left: 0;
}
ul.mc-hmenu>li:first-child {
   margin-left: 0;
}
ul.mc-hmenu>li:last-child, ul.mc-hmenu>li.last-child {

margin-right: 0;
}

ul.mc-hmenu>li>a
{
   padding:0 40px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 54px;
   cursor: pointer;
   text-decoration: none;
   color: #FFFFFF;
   line-height: 54px;
   text-align: center;
}

.mc-hmenu>li>a, 
.mc-hmenu>li>a:link, 
.mc-hmenu>li>a:visited, 
.mc-hmenu>li>a.active, 
.mc-hmenu>li>a:hover
{
   font-size: 100%;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   text-transform: uppercase;
   font-variant: normal;
   text-align: left;
}

ul.mc-hmenu>li>a.active
{
   background: #808185;
   
   margin:0 auto;
   color: #292929;
   text-decoration: none;
}

ul.mc-hmenu>li>a:visited, 
ul.mc-hmenu>li>a:hover, 
ul.mc-hmenu>li:hover>a {
   text-decoration: none;
}

ul.mc-hmenu>li>a:hover, .desktop ul.mc-hmenu>li:hover>a
{
   background: #fff600;
   
   margin:0 auto;
}
ul.mc-hmenu>li>a:hover, 
.desktop ul.mc-hmenu>li:hover>a {
   color: #262626;
   text-decoration: none;
}

ul.mc-hmenu li li a
{
   background: #E1E1D6;
   padding:0 40px;
   margin:0 auto;
}
ul.mc-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop ul.mc-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.mc-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.mc-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 36px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 36px;
   color: #6E6F71;
   font-size: 13px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.mc-hmenu ul a:link, 
.mc-hmenu ul a:visited, 
.mc-hmenu ul a.active, 
.mc-hmenu ul a:hover
{
   text-align: left;
   line-height: 36px;
   color: #6E6F71;
   font-size: 13px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.mc-hmenu ul li a:hover, .desktop ul.mc-hmenu ul li:hover>a
{
   background: #7A7A7A;
   margin:0 auto;
}
.mc-hmenu ul a:hover
{
   color: #141414;
}

.desktop .mc-hmenu ul li:hover>a
{
   color: #141414;
}

ul.mc-hmenu ul:before
{
   background: #EFF2F5;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop ul.mc-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop ul.mc-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.mc-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('images/spacer.gif');
}

.desktop ul.mc-hmenu>li>ul
{
   padding: 10px 30px 30px 30px;
   margin: -10px 0 0 -30px;
}

.desktop ul.mc-hmenu ul ul
{
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop ul.mc-hmenu ul.mc-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop ul.mc-hmenu ul.mc-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop ul.mc-hmenu li li:hover>ul.mc-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop ul.mc-hmenu li li:hover>ul.mc-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop ul.mc-hmenu ul ul.mc-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 30px 30px 30px 10px;
   margin: -30px 0 0 -10px;
}

.desktop ul.mc-hmenu ul ul.mc-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 30px 10px 30px 30px;
   margin: -30px -10px 0 0;
}

.desktop ul.mc-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop ul.mc-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop ul.mc-hmenu ul ul:before
{
   border-radius: 0;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 10px;
}

.desktop ul.mc-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop ul.mc-hmenu>li>ul.mc-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop ul.mc-hmenu>li>ul.mc-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop ul.mc-hmenu ul ul.mc-hmenu-left-to-right:before {
   right: 30px;
   left: 10px;
}
.desktop ul.mc-hmenu ul ul.mc-hmenu-right-to-left:before {
   right: 10px;
   left: 30px;
}

.desktop ul.mc-hmenu>li.ext>a
{
   white-space: nowrap;
}

.desktop ul.mc-hmenu>li.ext>a:hover,
.desktop ul.mc-hmenu>li.ext:hover>a,
.desktop ul.mc-hmenu>li.ext:hover>a.active  
{
   background: none;
   /* default padding + border size */
  padding:0 40px;
   /* margin for shadow */
  margin: -0 -0 0 -0;
   overflow: hidden;
   position: relative;
   border: none;
   border-radius: 0;
   box-shadow: none;
   color: #000000;
}

.desktop ul.mc-hmenu>li.ext>a:hover:before,
.desktop ul.mc-hmenu>li.ext:hover>a:before,
.desktop ul.mc-hmenu>li.ext:hover>a.active:before  
{
   position: absolute;
   content: '';
   /* top, right, left - for shadow */
  top: 0;
   right: 0;
   left: 0;
   /* border + shadow */
  bottom: -0;
   background-color: #fff600;
   border: 0 solid transparent;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
   z-index: -1;
}

.desktop ul.mc-hmenu>li.ext:hover>ul 
{
   padding-top: 0;
   /* menu bar padding */
  margin-top: 0;
}

.desktop ul.mc-hmenu>li.ext:hover>ul:before 
{
   /* border + shadow */
  top: -0;
   clip: rect(0, auto, auto, auto);
   border-top-left-radius: 0;
   border-top-right-radius: 0;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

ul.mc-hmenu>li.ext>.ext-r,
ul.mc-hmenu>li.ext>.ext-l,
ul.mc-hmenu>li.ext>.ext-m,
ul.mc-hmenu>li.ext>.ext-off
{
   display: none;
   z-index: 12;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.desktop ul.mc-hmenu>li.ext>ul 
{
   z-index: 13;
}

.desktop ul.mc-hmenu>li.ext.ext-r:hover>.ext-r,
.desktop ul.mc-hmenu>li.ext.ext-l:hover>.ext-l
{
   position: absolute;
   display: block;
   overflow: hidden;
   /* size of radius 
   * if size if 0 we should now generate script 
   * that adds ext-r and ext-m divs
   */
  height: 0;
   top: 100%;
   padding-top: 0;
   margin-top: -0;
/* border width + shadow */}

.desktop ul.mc-hmenu>li.ext:hover>.ext-r:before,
.desktop ul.mc-hmenu>li.ext:hover>.ext-l:before
{
   position: absolute;
   content: ' ';
   top: 0;
   /* border + shadow */
  bottom: -0;
   background-color: #EFF2F5;
   border: 0 solid transparent;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop ul.mc-hmenu>li.ext.ext-r:hover>.ext-r
{
   left: 100%;
   right: auto;
   padding-left: 0;
   margin-left: 0;
   padding-right: 0;
   margin-right: -0;
/* only shadow */}

.desktop ul.mc-hmenu>li.ext.ext-r:hover>.ext-r:before
{
   right: 0;
   left: -0;
   border-top-left-radius: 0;
   border-top-right-radius: 0;
}

.desktop ul.mc-hmenu>li.ext.ext-l:hover>.ext-l
{
   right: 100%;
   left: auto;
   padding-right: 0;
   margin-right: 0;
   padding-left: 0;
   margin-left: -0;
/* only shadow */}

.desktop ul.mc-hmenu>li.ext.ext-l:hover>.ext-l:before
{
   right: -0;
   left: 0;
   border-top-right-radius: 0;
   border-top-left-radius: 0;
}

.desktop ul.mc-hmenu>li.ext:hover>.ext-m, 
.desktop ul.mc-hmenu>li.ext:hover>.ext-off 
{
   position: absolute;
   display: block;
   overflow: hidden;
   height: 0;
   top: 100%;
}

.desktop ul.mc-hmenu>li.ext.ext-r:hover>.ext-m 
{
   /* shadow offset */
  left: -0;
   right: 0;
   /* shadow offset */
  padding-right: 0;
   padding-left: 0;
}

.desktop ul.mc-hmenu>li.ext:hover>.ext-off 
{
   /* shadow offset */
  left: -0;
   right: -0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop ul.mc-hmenu>li.ext.ext-l:hover>.ext-m
{
   /* shadow offset */
  right: -0;
   left: 0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop ul.mc-hmenu>li.ext.ext-l.ext-r:hover>.ext-m
{
   /* shadow offset */
  right: -0;
   left: -0;
   /* shadow offset */
  padding-left: 0;
   padding-right: 0;
}

.desktop ul.mc-hmenu>li.ext:hover>.ext-m:before, 
.desktop ul.mc-hmenu>li.ext:hover>.ext-off:before 
{
   position: absolute;
   content: ' ';
   top: -0;
   bottom: -0;
   /* shadow offset */
  background-color: #EFF2F5;
   border: 0 solid transparent;
   box-shadow: 0 0 0 rgba(0, 0, 0, 0.8);
}

.desktop ul.mc-hmenu>li.ext.ext-r:hover>.ext-m:before
{
   right: -0;
   left: 0;
}

.desktop ul.mc-hmenu>li.ext.ext-l:hover>.ext-m:before
{
   left: -0;
   right: 0;
}

.desktop ul.mc-hmenu>li.ext.ext-l.ext-r:hover>.ext-m:before
{
   left: -0;
   right: -0
;
}

.mc-sheet
{
   background: #FFFFFF;
   background: transparent;
   margin:0 auto;
   position:relative;
   cursor:auto;
   width: 940px;
   z-index: auto !important;
}

.mc-layout-wrapper
{
   position: relative;
   margin: 0 auto 0 auto;
   z-index: auto !important;
}

.mc-content-layout
{
   display: table;
   width: 100%;
   table-layout: fixed;
}

.mc-content-layout-row 
{
   display: table-row;
}

.mc-layout-cell
{
   display: table-cell;
   vertical-align: top;
}

/* need only for content layout in post content */ 
.mc-postcontent .mc-content-layout
{
   border-collapse: collapse;
}

.mc-block
{
   margin:10px;
}
div.mc-block img
{
   border: none;
   margin: 0;
}

.mc-blockheader
{
   padding:6px 5px;
   margin:0 auto;
}
.mc-blockheader .t,
.mc-blockheader .t a,
.mc-blockheader .t a:link,
.mc-blockheader .t a:visited, 
.mc-blockheader .t a:hover
{
   color: #404040;
   font-size: 14px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   margin: 0 5px;
}

.mc-blockcontent
{
   padding:5px;
   margin:0 auto;
   color: #292929;
   font-size: 12px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}
.mc-blockcontent table,
.mc-blockcontent li, 
.mc-blockcontent a,
.mc-blockcontent a:link,
.mc-blockcontent a:visited,
.mc-blockcontent a:hover
{
   color: #292929;
   font-size: 12px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-blockcontent p
{
   margin: 12px 0;
}

.mc-blockcontent a, .mc-blockcontent a:link
{
   color: #9C9C9C;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.mc-blockcontent a:visited, .mc-blockcontent a.visited
{
   color: #B8B8B8;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.mc-blockcontent a:hover, .mc-blockcontent a.hover
{
   color: #B8B8B8;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}
.mc-block ul>li:before
{
   content:url('images/blockbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -12px;
}
.opera .mc-block ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.mc-block li
{
   font-size: 13px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 125%;
   color: #141414;
   margin: 5px 0 0 10px;
}

.mc-block ul>li, .mc-block ol
{
   padding: 0;
}

.mc-block ul>li
{
   padding-left: 12px;
}

.mc-breadcrumbs
{
   margin:0 auto;
}
a.buttons	,
a.buttons:link,
a:link.buttons:link,
body a.buttons:link,
a.buttons:visited,
body a.buttons:visited,
input.buttons,
button.buttons,
a.mc-button,
a.mc-button:link,
a:link.mc-button:link,
body a.mc-button:link,
a.mc-button:visited,
body a.mc-button:visited,
input.mc-button,
button.mc-button
{
   text-decoration: none;
   font-size: 13px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   position:relative;
   display: inline-block;
   vertical-align: middle;
   white-space: nowrap;
   text-align: center;
   color: #FFF700;
   margin: 0 5px 0 0 !important;
   overflow: visible;
   cursor: pointer;
   text-indent: 0;
   line-height: 34px;
   -webkit-box-sizing: content-box;
   -moz-box-sizing: content-box;
   box-sizing: content-box;
}

.buttons img
.mc-button img
{
   margin: 0;
   vertical-align: middle;
}

.firefox2 .buttons
.firefox2 .mc-button
{
   display: block;
   float: left;
}

input, select, textarea, a.mc-search-button span
{
   vertical-align: middle;
   font-size: 13px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
}

.mc-block select 
{
   width:96%;
}

input.buttons,
input.mc-button

{
   float: none !important;
   -webkit-appearance: none;
}

.buttons.active, .buttons.active:hover
.mc-button.active, .mc-button.active:hover
{
   background: #6C6D71;
   border-width: 0;
   padding:0 15px;
   margin:0 auto;
}

.buttons.active, .buttons.active:hover,
.mc-button.active, .mc-button.active:hover {
   color: #FFFFFF !important;
}

.buttons.hover, .buttons:hover,
.mc-button.hover, .mc-button:hover
{
   background: #F3BC39;
   border-width: 0;
   padding:0 15px;
   margin:0 auto;
}

.buttons.hover, .buttons:hover, .mc-button.hover, .mc-button:hover {
   color: #000000 !important;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"],  textarea
{
   background: #FFFCC2;
   -webkit-border-radius:15px;
   -moz-border-radius:15px;
   border-radius:15px;
   -webkit-box-shadow:-1px -1px 0 0 rgba(0, 0, 0, 0.5);
   -moz-box-shadow:-1px -1px 0 0 rgba(0, 0, 0, 0.5);
   box-shadow:-1px -1px 0 0 rgba(0, 0, 0, 0.5);
   border-width: 0;
   margin:0 auto;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="tel"], 
textarea
{
   width: 100%;
   padding: 5px;
   color: #818285 !important;
   font-size: 13px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-shadow: none;
}
input.mc-error, textarea.mc-error
{
   background: #F9FAFB;
   border:1px solid #E2341D;
   margin:0 auto;
}
input.mc-error, textarea.mc-error {
   color: #A38D00 !important;
   font-size: 13px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.mc-search input[type="text"]
{
   background: #666666;
   background: rgba(102, 102, 102, 0.5);
   -webkit-border-radius:11px;
   -moz-border-radius:11px;
   border-radius:11px;
   -webkit-box-shadow:-1px -1px 0 0 rgba(0, 0, 0, 0.4);
   -moz-box-shadow:-1px -1px 0 0 rgba(0, 0, 0, 0.4);
   box-shadow:-1px -1px 0 0 rgba(0, 0, 0, 0.4);
   border-width: 0;
   margin:0 auto;
   width: 100%;
   height: 22px;
   padding: 0 10px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   color: #FFFFFF !important;
   font-size: 14px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
}
form.mc-search 
{
   background-image: none;
   border: 0;
   display:block;
   position:relative;
   top:0;
   padding:0;
   margin:5px;
   left:0;
   line-height: 0;
}

form.mc-search input, a.mc-search-button
{
   -webkit-appearance: none;
   top:0;
   right:0;
}

form.mc-search>input, a.mc-search-button{
   bottom:0;
   left:10px;
   vertical-align: middle;
}

form.mc-search input[type="submit"], input.mc-search-button, a.mc-search-button
{
   border-radius: 0;
   margin:0 auto;
}
form.mc-search input[type="submit"], input.mc-search-button, a.mc-search-button {
   position:absolute;
   left:auto;
   display:block;
   border:none;
   background:url('images/searchicon.png') center center no-repeat;
   width:30px;
   height: 100%;
   padding:0;
   color: #FFFFFF !important;
   cursor: pointer;
}

a.mc-search-button span.mc-search-button-text {
   display: none;
}

label.mc-checkbox:before
{
   background: #5E5F5F;
   border:3px solid #000000;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
   vertical-align: top;
   content: ' ';
}
label.mc-checkbox
{
   cursor: pointer;
   font-size: 13px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
   color: #404040 !important;
   position: relative;
}

.mc-checkbox>input[type="checkbox"]
{
   margin: 0 5px 0 0;
}

label.mc-checkbox.active:before
{
   background: #000000;
   border:3px solid #000000;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.mc-checkbox.hovered:before
{
   background: #000000;
   border:3px solid #000000;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.mc-radiobutton:before
{
   background: #5E5F5F;
   -webkit-border-radius:8px;
   -moz-border-radius:8px;
   border-radius:8px;
   border:3px solid #000000;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
   vertical-align: top;
   content: ' ';
}
label.mc-radiobutton
{
   cursor: pointer;
   font-size: 13px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   line-height: 16px;
   display: inline-block;
   color: #404040 !important;
   position: relative;
}

.mc-radiobutton>input[type="radio"]
{
   vertical-align: baseline;
   margin: 0 5px 0 0;
}

label.mc-radiobutton.active:before
{
   background: #000000;
   -webkit-border-radius:8px;
   -moz-border-radius:8px;
   border-radius:8px;
   border:3px solid #000000;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.mc-radiobutton.hovered:before
{
   background: #000000;
   -webkit-border-radius:8px;
   -moz-border-radius:8px;
   border-radius:8px;
   border:3px solid #000000;
   margin:0 auto;
   width:16px;
   height:16px;
   display: inline-block;
}

label.mc-radiobutton input[type="radio"]
{
   display: none;
}

label.mc-radiobutton.mc-checked:after
{
   content: url('images/radiobuttonicon.png');
   position: absolute;
   line-height: 12px;
   left: 2px;
   top: 2px;
}

label.mc-checkbox input[type="checkbox"]
{
   display: none;
}

label.mc-checkbox.mc-checked:after
{
   content: url('images/checkboxicon.png');
   position: absolute;
   left: 3px;
   top: 0;
}

.mc-comments
{
   border-top:1px dotted #696969;
   margin:0 auto;
   margin-top: 25px;
}

.mc-comments h2
{
   color: #292929;
}

.mc-comment-inner
{
   background: #E2E8EE;
   background: transparent;
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:5px;
   margin:0 auto;
   margin-left: 94px;
}
.mc-comment-avatar 
{
   float:left;
   width:80px;
   height:80px;
   padding:1px;
   background:#fff;
   border:1px solid #E2E8EE;
}

.mc-comment-avatar>img
{
   margin:0 !important;
   border:none !important;
}

.mc-comment-content
{
   padding:10px 0;
   color: #806E00;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-comment
{
   margin-top: 6px;
}

#comment-list>li:first-child>.mc-comment
{
   margin-top: 0;
}

.mc-comment-header
{
   color: #292929;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 100%;
}

.mc-comment-header a, 
.mc-comment-header a:link, 
.mc-comment-header a:visited,
.mc-comment-header a.visited,
.mc-comment-header a:hover,
.mc-comment-header a.hovered
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   line-height: 100%;
}

.mc-comment-header a, .mc-comment-header a:link
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #878787;
}

.mc-comment-header a:visited, .mc-comment-header a.visited
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #878787;
}

.mc-comment-header a:hover,  .mc-comment-header a.hovered
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #878787;
}

.mc-comment-content a, 
.mc-comment-content a:link, 
.mc-comment-content a:visited,
.mc-comment-content a.visited,
.mc-comment-content a:hover,
.mc-comment-content a.hovered
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-comment-content a, .mc-comment-content a:link
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #696969;
}

.mc-comment-content a:visited, .mc-comment-content a.visited
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #A89200;
}

.mc-comment-content a:hover,  .mc-comment-content a.hovered
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #696969;
}

.mc-pager
{
   -webkit-border-radius:2px;
   -moz-border-radius:2px;
   border-radius:2px;
   padding:5px;
   text-align:center;
}

.mc-pager>*:last-child
{
   margin-right:0 !important;
}

.mc-pager>span {
   cursor:default;
}

.mc-pager>*
{
   background: #000000;
   padding:6px 9px;
   margin:0 1px 0 auto;
   line-height: normal;
   position:relative;
   display:inline-block;
   margin-left: 0;
}

.mc-pager a:link,
.mc-pager a:visited,
.mc-pager .active
{
   line-height: normal;
   font-size: 14px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #818285
;
}

.mc-pager .active
{
   background: #6C6D71;
   padding:6px 9px;
   margin:0 1px 0 auto;
   text-decoration: none;
   color: #FFFFFF
;
}

.mc-pager .more
{
   background: #000000;
   margin:0 1px 0 auto;
}
.mc-pager a.more:link,
.mc-pager a.more:visited
{
   text-decoration: none;
   color: #FFFFFF
;
}
.mc-pager a:hover
{
   background: #F3BC39;
   background: -webkit-linear-gradient(top, #F8D482 0, #F1AD0E 80%, #D4980C 100%) no-repeat;
   background: -moz-linear-gradient(top, #F8D482 0, #F1AD0E 80%, #D4980C 100%) no-repeat;
   background: -o-linear-gradient(top, #F8D482 0, #F1AD0E 80%, #D4980C 100%) no-repeat;
   background: -ms-linear-gradient(top, #F8D482 0, #F1AD0E 80%, #D4980C 100%) no-repeat;
   /*-svg-background: linear-gradient(top, #F8D482 0, #F1AD0E 80%, #D4980C 100%) no-repeat;*/
   background: linear-gradient(to bottom, #F8D482 0, #F1AD0E 80%, #D4980C 100%) no-repeat;
   padding:6px 9px;
   margin:0 1px 0 auto;
}
.mc-pager  a:hover,
.mc-pager  a.more:hover
{
   color: #000000
;
}
.mc-pager>*:after
{
   margin:0 0 0 auto;
   display:inline-block;
   position:absolute;
   content: ' ';
   top:0;
   width:0;
   height:100%;
   right: 0;
   text-decoration:none;
}

.mc-pager>*:last-child:after{
   display:none;
}

.mc-commentsform
{
   background: #E2E8EE;
   background: transparent;
   padding:10px;
   margin:0 auto;
   margin-top:25px;
   color: #292929;
}

.mc-commentsform h2{
   padding-bottom:10px;
   margin: 0;
   color: #292929;
}

.mc-commentsform label {
   display: inline-block;
   line-height: 25px;
}

.mc-commentsform input:not([type=submit]), .mc-commentsform textarea {
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   width:100%;
   max-width:100%;
}

.mc-commentsform .form-submit
{
   margin-top: 10px;
}
.mc-post
{
   padding:10px;
}
a img
{
   border: 0;
}

.mc-article img, img.mc-article, .mc-block img, .mc-footer-text img
{
   margin: 0 0 0 0;
}

.mc-metadata-icons img
{
   border: none;
   vertical-align: middle;
   margin: 2px;
}

.mc-article table, table.mc-article
{
   border-collapse: collapse;
   margin: 0;
}

.mc-post .mc-content-layout-br
{
   height: 0;
}

.mc-article th, .mc-article td
{
   padding: 2px;
   
   vertical-align: top;
   text-align: left;
}

.mc-article th
{
   text-align: center;
   vertical-align: middle;
   padding: 7px;
}

pre
{
   overflow: auto;
   padding: 0.1em;
}

.preview-cms-logo
{
   border: 0;
   margin: 1em 1em 0 0;
   float: left;
}

.image-caption-wrapper
{
   padding: 0 0 0 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper img
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper div.mc-collage
{
   margin: 0 !important;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.image-caption-wrapper p
{
   font-size: 80%;
   text-align: right;
   margin: 0;
}

.mc-postheader
{
   
   margin: 5px 0;
   font-size: 20px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-postheader a, 
.mc-postheader a:link, 
.mc-postheader a:visited,
.mc-postheader a.visited,
.mc-postheader a:hover,
.mc-postheader a.hovered
{
   font-size: 20px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-postheader a, .mc-postheader a:link
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-align: left;
   color: #000000;
}

.mc-postheader a:visited, .mc-postheader a.visited
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-align: left;
   color: #818285;
}

.mc-postheader a:hover,  .mc-postheader a.hovered
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: bold;
   font-style: normal;
   text-decoration: none;
   text-align: left;
   color: #E7940D;
}

.mc-postheadericons,
.mc-postheadericons a,
.mc-postheadericons a:link,
.mc-postheadericons a:visited,
.mc-postheadericons a:hover
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #545454;
}

.mc-postheadericons
{
   padding: 1px;
}

.mc-postheadericons a, .mc-postheadericons a:link
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #1C1C1C;
}

.mc-postheadericons a:visited, .mc-postheadericons a.visited
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   color: #595959;
}

.mc-postheadericons a:hover, .mc-postheadericons a.hover
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-decoration: underline;
   color: #949494;
}

.mc-postpdficon:before
{
   content:url('images/postpdficon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .mc-postpdficon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.mc-postprinticon:before
{
   content:url('images/postprinticon.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .mc-postprinticon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.mc-postemailicon:before
{
   content:url('images/postemailicon.png');
   margin-right:6px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   bottom: auto;
}
.opera .mc-postemailicon:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.mc-postcontent ul>li:before,  .mc-post ul>li:before,  .mc-textblock ul>li:before
{
   content:url('images/postbullets.png');
   margin-right:6px;
   bottom: 2px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
}
.opera .mc-postcontent ul>li:before, .opera   .mc-post ul>li:before, .opera   .mc-textblock ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.mc-postcontent li, .mc-post li, .mc-textblock li
{
   font-size: 16px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #818285;
   margin: 3px 0 0 11px;
}

.mc-postcontent ul>li, .mc-post ul>li, .mc-textblock ul>li, .mc-postcontent ol, .mc-post ol, .mc-textblock ol
{
   padding: 0;
}

.mc-postcontent ul>li, .mc-post ul>li, .mc-textblock ul>li
{
   padding-left: 16px;
}

.mc-postcontent ul>li:before,  .mc-post ul>li:before,  .mc-textblock ul>li:before
{
   margin-left: -16px;
}

.mc-postcontent ol, .mc-post ol, .mc-textblock ol, .mc-postcontent ul, .mc-post ul, .mc-textblock ul
{
   margin: 1em 0 1em 11px;
}

.mc-postcontent li ol, .mc-post li ol, .mc-textblock li ol, .mc-postcontent li ul, .mc-post li ul, .mc-textblock li ul
{
   margin: 0.5em 0 0.5em 11px;
}

.mc-postcontent li, .mc-post li, .mc-textblock li
{
   margin: 3px 0 0 0;
}

.mc-postcontent ol>li, .mc-post ol>li, .mc-textblock ol>li
{
   /* overrides overflow for "ul li" and sets the default value */
  overflow: visible;
}

.mc-postcontent ul>li, .mc-post ul>li, .mc-textblock ul>li
{
   /* makes "ul li" not to align behind the image if they are in the same line */
  overflow-x: visible;
   overflow-y: hidden;
}

blockquote
{
   background: #FFFFFF;
   margin:10px 10px 10px 50px;
   color: #000000;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
   /* makes block not to align behind the image if they are in the same line */
  overflow: auto;
   clear:both;
}
blockquote a, .mc-postcontent blockquote a, .mc-blockcontent blockquote a, .mc-footer-text blockquote a,
blockquote a:link, .mc-postcontent blockquote a:link, .mc-blockcontent blockquote a:link, .mc-footer-text blockquote a:link,
blockquote a:visited, .mc-postcontent blockquote a:visited, .mc-blockcontent blockquote a:visited, .mc-footer-text blockquote a:visited,
blockquote a:hover, .mc-postcontent blockquote a:hover, .mc-blockcontent blockquote a:hover, .mc-footer-text blockquote a:hover
{
   color: #000000;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: italic;
   text-align: left;
}

/* Override native 'p' margins*/
blockquote p,
.mc-postcontent blockquote p,
.mc-blockcontent blockquote p,
.mc-footer-text blockquote p
{
   margin: 0;
   margin: 5px 0;
}

.mc-postmetadatafooter
{
   background: #7A7A7A;
   background: transparent;
   border-bottom:1px solid #696969;
   margin:0 auto;
   position:relative;
   z-index:1;
   padding: 1px;
}

.mc-postfootericons,
.mc-postfootericons a,
.mc-postfootericons a:link,
.mc-postfootericons a:visited,
.mc-postfootericons a:hover
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #696969;
}

.mc-postfootericons
{
   padding: 1px;
}

.mc-postfootericons a, .mc-postfootericons a:link
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #1C1C1C;
}

.mc-postfootericons a:visited, .mc-postfootericons a.visited
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #595959;
}

.mc-postfootericons a:hover, .mc-postfootericons a.hover
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   color: #949494;
}

.Navigator .mc-ccs-navigator img, .Navigator img
{
   border: 0;
   margin: 0;
   vertical-align: middle;
}
tr.Navigator td, td span.Navigator
{
   text-align: center;
   vertical-align: middle;
}

.Sorter img
{
   border:0;
   vertical-align:middle;
   padding:0;
   margin:0;
   position:static;
   z-index:1;
   width: 12px;
   height: 6px;
}

.Sorter a
{
   position:relative;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #757575;
}

.Sorter a:link
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #757575;
}

.Sorter a:visited, .Sorter a.visited
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #757575;
}

.Sorter a:hover, .Sorter a.hover
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #595959;
}

.Sorter
{
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color:#404040;
}

.mc-footer
{
   background: url('images/bg_cinza_footer.png') repeat-y;
   background-attachment: fixed;
   background-size: contain;
   background-position-x: center;
   min-height: 350px;
   border-top:1px solid #5E5F5F;
   margin:0 auto;
   position: relative;
   color: #808080;
   font-size: 11px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-align: center;
   padding: 0;
}

.mc-footer-text a,
.mc-footer-text a:link,
.mc-footer-text a:visited,
.mc-footer-text a:hover,
.mc-footer-text td, 
.mc-footer-text th,
.mc-footer-text caption
{
   color: #808080;
   font-size: 11px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-footer-text p 
{
   padding:0;
   text-align: center;
}

.mc-footer-text a,
.mc-footer-text a:link
{
   color: #808080;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.mc-footer-text a:visited
{
   color: #020FC5;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
}

.mc-footer-text a:hover
{
   color: #E7940D;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: underline;
}

.mc-footer-text h1
{
   color: #595959;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-footer-text h2
{
   color: #696969;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-footer-text h3
{
   color: #696969;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-footer-text h4
{
   color: #FFEA61;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-footer-text h5
{
   color: #FFEA61;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-footer-text h6
{
   color: #FFEA61;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
}

.mc-footer-text img
{
   border: none;
   margin: 0;
}

.mc-footer-inner
{
   margin: 0 auto;
   width:940px;
   padding-right: 0;
   padding-left: 0;
}

.mc-rss-tag-icon
{
   background:  url('images/footerrssicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.mc-rss-tag-icon:empty
{
   vertical-align: middle;
}

.mc-facebook-tag-icon
{
   background:  url('images/footerfacebookicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:34px;
   min-width:33px;
   display: inline-block;
   text-indent: 36px;
   background-position: left center;
   vertical-align: middle;
}

.mc-facebook-tag-icon:empty
{
   vertical-align: middle;
}

.mc-twitter-tag-icon
{
   background:  url('images/footertwittericon.png') no-repeat scroll;
   margin:0 auto;
   min-height:33px;
   min-width:33px;
   display: inline-block;
   text-indent: 36px;
   background-position: left center;
   vertical-align: middle;
}

.mc-twitter-tag-icon:empty
{
   vertical-align: middle;
}

.mc-tumblr-tag-icon
{
   background:  url('images/tumblricon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.mc-tumblr-tag-icon:empty
{
   vertical-align: middle;
}

.mc-pinterest-tag-icon
{
   background:  url('images/pinteresticon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.mc-pinterest-tag-icon:empty
{
   vertical-align: middle;
}

.mc-vimeo-tag-icon
{
   background:  url('images/vimeoicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:33px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.mc-vimeo-tag-icon:empty
{
   vertical-align: middle;
}

.mc-youtube-tag-icon
{
   background:  url('images/youtubeicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:33px;
   min-width:33px;
   display: inline-block;
   text-indent: 36px;
   background-position: left center;
   vertical-align: middle;
}

.mc-youtube-tag-icon:empty
{
   vertical-align: middle;
}

.mc-linkedin-tag-icon
{
   background:  url('images/linkedinicon.png') no-repeat scroll;
   margin:0 auto;
   min-height:32px;
   min-width:32px;
   display: inline-block;
   text-indent: 35px;
   background-position: left center;
   vertical-align: middle;
}

.mc-linkedin-tag-icon:empty
{
   vertical-align: middle;
}

.mc-footer-text ul>li:before
{
   content:url('images/footerbullets.png');
   margin-right:6px;
   bottom: 1px;
   position:relative;
   display:inline-block;
   vertical-align:middle;
   font-size:0;
   line-height:0;
   margin-left: -13px;
}
.opera .mc-footer-text ul>li:before
{
   /* Vertical-align:middle in Opera doesn't need additional offset */
    bottom: 0;
}

.mc-footer-text li
{
   font-size: 11px;
   font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
   color: #949494;
}

.mc-footer-text ul>li, .mc-footer-text ol
{
   padding: 0;
}

.mc-footer-text ul>li
{
   padding-left: 13px;
}

.mc-page-footer, 
.mc-page-footer a,
.mc-page-footer a:link,
.mc-page-footer a:visited,
.mc-page-footer a:hover
{
   font-family: Arial;
   font-size: 10px;
   letter-spacing: normal;
   word-spacing: normal;
   font-style: normal;
   font-weight: normal;
   text-decoration: underline;
   color: #696969;
}

.mc-page-footer
{
   position: relative;
   z-index: auto !important;
   padding: 1em;
   text-align: center !important;
   text-decoration: none;
   color: #E0E0E0;
}

.mc-lightbox-wrapper 
{
   background: #333;
   background: rgba(0, 0, 0, .8);
   bottom: 0;
   left: 0;
   padding: 0 100px;
   position: fixed;
   right: 0;
   text-align: center;
   top: 0;
   z-index: 1000000;
}

.mc-lightbox,
.mc-lightbox-wrapper .mc-lightbox-image
{
   cursor: pointer;
}

.mc-lightbox-wrapper .mc-lightbox-image
{
   border: 6px solid #fff;
   border-radius: 3px;
   display: none;
   max-width: 100%;
   vertical-align: middle;
}

.mc-lightbox-wrapper .mc-lightbox-image.active
{
   display: inline-block;
}

.mc-lightbox-wrapper .lightbox-error
{
   background: #fff;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 80px;
   opacity: .95;
   padding: 20px;
   position: fixed;
   width: 300px;
   z-index: 100;
}

.mc-lightbox-wrapper .loading
{
   background: #fff url('images/preloader-01.gif') center center no-repeat;
   border: 1px solid #b4b4b4;
   border-radius: 10px;
   box-shadow: 0 2px 5px #333;
   height: 32px;
   opacity: .5;
   padding: 10px;
   position: fixed;
   width: 32px;
   z-index: 10100;
}

.mc-lightbox-wrapper .arrow
{
   cursor: pointer;
   height: 100px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   width: 82px;
   z-index: 10003;
}

.mc-lightbox-wrapper .arrow.left
{
   left: 9px;
}

.mc-lightbox-wrapper .arrow.right
{
   right: 9px;
}

.mc-lightbox-wrapper .arrow:hover
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.mc-lightbox-wrapper .arrow.disabled 
{
   display: none;
}

.mc-lightbox-wrapper .arrow-t, 
.mc-lightbox-wrapper .arrow-b
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   left: 26px;
   position: relative;
   width: 30px;
}

.mc-lightbox-wrapper .arrow-t
{
   top: 38px;
}

.mc-lightbox-wrapper .arrow-b
{
   top: 50px;
}

.mc-lightbox-wrapper .close
{
   cursor: pointer;
   height: 22px;
   opacity: .5;
   filter: alpha(opacity=50);
   position: fixed;
   right: 39px;
   top: 30px;
   width: 22px;
   z-index: 10003;
}

.mc-lightbox-wrapper .close:hover 
{
   opacity: 1;
   filter: alpha(opacity=100);
}

.mc-lightbox-wrapper .close .cw, 
.mc-lightbox-wrapper .close .ccw
{
   background-color: #fff;
   border-radius: 3px;
   height: 6px;
   position: absolute;
   left: -4px;
   top: 8px;
   width: 30px;
}

.mc-lightbox-wrapper .cw
{
   transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   /* IE 9 */
    -webkit-transform: rotate(45deg);
   /* Safari and Chrome */
    -o-transform: rotate(45deg);
   /* Opera */
    -moz-transform: rotate(45deg);
/* Firefox */}

.mc-lightbox-wrapper .ccw
{
   transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   /* IE 9 */
    -webkit-transform: rotate(-45deg);
   /* Safari and Chrome */
    -o-transform: rotate(-45deg);
   /* Opera */
    -moz-transform: rotate(-45deg);
/* Firefox */}

.mc-lightbox-wrapper .close-alt, 
.mc-lightbox-wrapper .arrow-right-alt, 
.mc-lightbox-wrapper .arrow-left-alt 
{
   color: #fff;
   display: none;
   font-size: 2.5em;
   line-height: 100%;
}

.ie8 .mc-lightbox-wrapper .close-alt, 
.ie8 .mc-lightbox-wrapper .arrow-right-alt, 
.ie8 .mc-lightbox-wrapper .arrow-left-alt 
{
   display: block;
}

.ie8 .mc-lightbox-wrapper .cw, 
.ie8 .mc-lightbox-wrapper .ccw 
{
   display: none;
}

.mc-content-layout .mc-content
{
   margin:0 auto;
}



#comment
{
    width:99%;
}

#comments-list, #comments-list .comment 
{
  background: none;
  padding:0;
  margin:0;
  overflow: visible;
}

#comments-list .comment:before, #comments-list .comment:after
{
  display:none;
}

#comments-list .comment .comment 
{
  margin-left: 20px;
}

span.page-navi-outer, span.page-navi-inner 
{
    position:relative;
    display:block;
    float:left;
    margin:0;
    padding:0;
}

span.page-navi-outer
{
  margin: 1px;
  border: 1px solid #aaa;
}

span.page-navi-inner 
{
  padding: 1px;
  min-width:14px;
  line-height:18px;
  text-align:center;
  border: 2px solid #fff;
  font-weight:bold;
}

a span.page-navi-inner, span.page-navi-caption span.page-navi-inner 
{
    border-width:1px;
    font-weight:normal;
}

a span.page-navi-outer, span.page-navi-caption
{
    margin:2px 1px;
}

ul#comments-list li cite
{
  font-size: 1.2em;
}

#commentform textarea
{
  width: 100%;
}

#commentform
{
  text-align:left;
}

.rtl #commentform
{
  text-align:right;
}

img.wp-smiley
{
  border: none;
  margin: 1px;
  vertical-align:middle;
  padding: 0;
}

.navigation
{
  display: block;
  text-align: center;
}

/* Recommended by http://codex.wordpress.org/CSS */
/* Begin */
.aligncenter, div.aligncenter, .mc-article .aligncenter img, .aligncenter img.mc-article, .aligncenter img, img.aligncenter
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.aligncenter , p.center 
{
   text-align: center; 
}

.alignleft
{
  float: left;
}

.alignright
{
  float: right;
}

.wp-caption
{
  border: 1px solid #ddd;
  background-color: #f3f3f3;
  padding-top: 4px;
  margin: 10px;
}

.wp-caption img
{
  margin: 0;
  padding: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text
{
  font-size: 11px;
  line-height: 17px;
  padding: 0 4px 5px;
  margin: 0;
}

.wp-caption, .wp-caption p
{
    text-align: center;
}

.gallery {
	margin: 0 auto 18px;
    clear:both;
    overflow:hidden;
}

.gallery .gallery-item {
	float: left;
	margin-top: 0;
	text-align: center;
	width: 33%;
}
.gallery img {
	border: 2px solid #cfcfcf;
}

.gallery .gallery-caption {
	color: #888;
	font-size: 12px;
	margin: 0 0 12px;
}

.gallery dl {
	margin: 0;
}

.gallery img {
	border: 10px solid #f1f1f1;
}

.gallery br+br {
	display: none;
}
/* End */


.hidden
{
  display: none;
}

/* Calendar */
#wp-calendar {
  empty-cells: show;
  margin: 10px auto 0;
  width: 155px;
}

#wp-calendar #next a {
  padding-right: 10px;
  text-align: right;
}

#wp-calendar #prev a {
  padding-left: 10px;
  text-align: left;
}

#wp-calendar a {
  display: block;
}

#wp-calendar caption {
  text-align: center;
  width: 100%;
}

#wp-calendar td {
  padding: 3px 0;
  text-align: center;
}

.gallery {
  letter-spacing: normal;
}

.mc-content {
  position: relative;
  z-index: 1;   
}

#todays-events{
  position: relative;
  z-index: 11;    
}

#upcoming-events{
  position: relative;
  z-index: 10;    
}

img.wp-post-image 
{
    margin:0 5px 5px 0 !important;
}

ul#comments-list li
{
    list-style-image: none;
    background:none;
    list-style-type:none;
    
}

div.mc-footer div.mc-content-layout
{
    margin:0 auto;
    width:100%;
}

div.mc-layout-cell-size1 
{
    width:100%;
}

div.mc-layout-cell-size2 
{
    width:50%;
}
div.mc-layout-cell-size3 
{
    width:33%;
}

div.mc-layout-cell-size4
{
    width:25%;
}

.mc-widget-title
{
    padding:0 0 0 24px;
    margin-bottom:0;
}

div.mc-center-wrapper
{
  position: relative;
  float: right;
  right: 50%;

}

div.mc-center-inner
{
  position: relative;
  float: left;
  left: 50%;
}

.firefox2 div.mc-center-inner
{
  float: none;
}

.mc-hmenu-extra1, .mc-hmenu-extra2 {
 font-size:12px;
}

div.breadcrumbs h4, 
div.breadcrumbs p, 
li.pingback p, 
#respond p,
h3#reply-title, 
h4#comments, 
h4.box-title
{
    margin:0;
}

#respond .comment-notes {
	margin-bottom: 1em;
}

.form-allowed-tags {
	line-height: 1em;
}

#comments-list #respond {
	/*margin-left: NaNpx !important; TODO NodeJS*/
}

#cancel-comment-reply-link {
	font-size: 12px;
	font-weight: normal;
	line-height: 18px;
}

#respond .required {
	color: #ff4b33;
	font-weight: bold;
}

#respond label {
	font-size: 12px;
}

#respond input {
	margin: 0 0 9px;
	width: 98%;
}

#respond textarea {
	width: 98%;
}

#respond .form-allowed-tags {
	font-size: 12px;
	line-height: 18px;
}

#respond .form-allowed-tags code {
	font-size: 11px;
}

#respond .form-submit {
	margin: 12px 0;
}

#respond .form-submit input {
	width: auto;
}

.mc-footer .mc-widget-title 
{
    font-size:1.2em;
    padding: 0;
}

.mc-footer .mc-widget,
.mc-footer .mc-widget a,
.mc-footer .mc-widget a:link,
.mc-footer .mc-widget a:visited,
.mc-footer .mc-widget a:hover
{
    text-align: left;

}

DIV[id^="GMPmap"] IMG 
{
    margin: 0px;
}

/* Begin Additional CSS Styles  >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.mc-blockheader .t, .mc-vmenublockheader .t {white-space: nowrap;}


h1,
h1.mc-postheader,
.mc-postcontent h1 {

font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-size: 23px;
color: #a8a891;
font-weight: normal;


}

h2, 
.mc-postcontent h2 {

font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-size: 23px;
color: #000000;
font-weight: normal;
}

h3,
.mc-postcontent h3 {

font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-size: 21px;
color: #818285;
font-weight: normal;
}

h4,
.mc-postcontent h4 {

font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-size: 18px;
color: #818285;
font-weight: normal;
}

h5,
.mc-postcontent h5 {

font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-size: 16px;
color: #818285;
font-weight: normal;
}




.desktop ul.mc-hmenu>li:last-child>a{
float: right;
color: #000000 !important; 
font-family: mccain_sunshine_proregular;
font-size: 26px;
font-weight: normal;
text-transform: none;
background-color: #fff600;
} 

.mc-hmenu li>a:after { 

color: #fff600;
content: '\25be' !important;
font-family:  mccain_sunshine_proregular; 
font-size:20px !important;
margin-left: 5px;

} 


.ie8 ul.mc-hmenu>li.menu-item-177>a {

color: #000000 !important; 
font-family: mccain_sunshine_proregular;
font-size: 26px;
font-weight: normal;
text-transform: none;
background-color: #fff600;

}


.ie8 .mc-hmenu li>a:after{

display: none;

}




.mc-hmenu li:hover>a:after { 

color: #000;
}

ul.mc-hmenu>li>a.active,
.mc-hmenu li>a.active:after{ 

color: #000;
}

.mc-hmenu li:last-child>a:after {

color: #000;
}


.mc-hmenu li>a:only-child:after { 
content: '' !important; 

}

.mc-footer{
padding: 0 0 70px;
margin-top: 40px;
}


.mc-footer ul>li:before{

content: '' !important;
margin: 0;
}

.mc-footer ul>li>a:hover{

color: #ccc;
}

.mc-footer ul>li>a{
font-size: 13px !important;
text-decoration: none !important;
text-transform: uppercase;
color: #fffbc8 !important;
list-style: none;
text-align: left !important;
}

.mc-footer ul>li{

padding-left: 0;
text-align: left !important;
}

.mc-footer ul>li>a:hover,
.mc-footer ul.sub-menu>li>a:hover{

color: #ddd !important;
}

.mc-footer ul.sub-menu>li  {
margin-top: 10px !important;
margin-left: 0;
}

.mc-footer ul.sub-menu li>a{

text-decoration: none !important;
text-transform: none;
color: #87888a !important;

}
.mc-footer .mc-content-layout{
padding: 30px 0 20px;
border-bottom: 1px solid #5e5f5f;
}

.mc-footer-text p{

color: #ddd;
text-align: right ;
}

.mc-footer .mc-layout-cell:first-child{
display: inline-block;
margin: 0 50px;
}

.iconcont{

position: relative;
float: right;
bottom: 70px;
height: 33px;
width: auto;
 }

.iconfb{background: url('images/icon_fb.png') no-repeat;display: inline-block;width: 33px;height: 33px;margin-left:3px;}
.icontt{background: url('images/icon_tt.png') no-repeat;display: inline-block;width: 33px;height: 33px;margin-left:3px;}
.iconyt{background: url('images/icon_yt.png') no-repeat;display: inline-block;width: 33px;height: 33px;margin-left:3px;}

.responsive .bg_amarelo{
display: none;
}

.bg_amarelo{
position: absolute;
float: right;
right: 0;
display: block;
width: 29%;
height: 100%;
background-color: #fff600;
z-index: 1;
}

.responsive .gridthubox,
.responsive .gridthumbs li
{

width: 100%;
}

.responsive .gridthumbs{

padding-right: 20px;
}

.responsive .gridthubox img{

width: 100%;
height: auto;
margin-top: -20%;
}

.gridthubox{
display: block;
width: 220px;
height: 220px;
overflow: hidden;

}

.gridthumbs{
margin: -20px -20px 0 0;
display: block;
}

.gridthubox img{
height: 220px;
min-width: 220px;

}



.gridthumbs li{
border-bottom: 1px solid #DCDDD4;
float: left;
margin: 20px 20px 0 0;
width: 220px;
height: auto; 
overflow: hidden;
}

.gridthumbs li prod {

height: 15px;
}

.gridthumbs li p.rec {

height: 40px;
}

.gridthumbs li p{

color: #818285;
font-size: 17px;
padding: 5px 0;
width: 210px;
word-break: break-word;
}

.gridthumbs li a{

text-decoration: none !important;
}

.gridthumbs li a:hover p{

color: #000;
}

.bl_cont{

margin: 10px 0;
}



.bl_tit{

margin: 10px 20px;

}

.bl_bar{

max-height: 300px;
overflow: hidden;

}

.bl_bar img{
margin-top: -20%;
}

.bl_main{
float: left;
max-width:620px;
min-height: 500px;

}

.bl_side{
float: right;
width: 300px;
margin-left: 20px;
}

.bt_pdf{

float: left;
}

.responsive .bl_main{
float: left;
width: 100%;
}

.responsive .bl_side{
float: left;
width: 100%;
margin: 0;
}

/* RECEITAS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.imgrec{

max-height: 300px;
overflow: hidden;
}

.imgrec img{

margin-top: 0;
width: 100%;
}

.imgbatcomb{

width: 100%;
overflow: hidden;
}

.imgbatcomb img{
width: 100%;
}

.imgbatcomb .callimg{
display: block;
background-image: url('images/batata_combina.png');
width: 293px;
height: 81px;
margin: 10px auto;
}

.listrec1,
.listrec2,
.listrec3{

border-bottom: 1px solid #a8a891;
padding: 20px;
}

.listrec1 ul>li,
.listrec2 ul>li,
.listrec3 ul>li{

list-style-image: url('images/postbullets.png');
margin-left: 20px;
font-size: 16px;
color: #818285 !important;
}

.listrec1 ul,
.listrec2 ul,
.listrec3 ul{
margin: 20px 0;
}

/* PRODUTOS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.procat{
	display: inline-table;
	width: 100%;
	margin: 40px 0;
	
}
.procatxt{
	display: table-cell;
	vertical-align: bottom;
}
.procat h2{
	font-family: mccain_sunshine_proregular;
	line-height: 40px;
	color: #a8a892;
	font-size: 40px;	
	
}

.procat h3{
	font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
	line-height: 20px;
	color: #6d6e71;
	font-size: 18px;
	
}

.procat img{
	display: inline-block;
	float: left;
}

.caract {

border-bottom: 1px solid #a8a891;
padding: 20px;
}

.caract ul {

padding: 20px;
}

.caract ul>li {

list-style-image: url('images/postbullets.png');
font-size: 16px;
color: #818285 !important;
}

.dadtec{
float: left;
width: 50%;
padding: 20px;
}

.imgprodemb{

float: left;
width: 40%;
padding: 20px 0;
}

.imgprodemb img{

width: 100%;
height: auto
}

.dadtec p{

margin: 10px 0;
font-family: arial_narrowregular, 'Arial Unicode MS', Helvetica, Sans-Serif;
font-size: 15px;
font-weight: normal;
}


.dicprep{
margin: 15px 0;
padding: 10px;
background-color: #f6f7f1;
counter-reset: dic-counter;
}

.dicprep .callimg{
display: block;
background-image: url('images/dicas.png');
width: 280px;
height: 89px;
margin: 0 auto;
}



.dicprep ol > li{
position: relative;
font-size: 15px;
list-style-type: none;
padding:  12px 0 12px 40px;
word-break:break-word;

}

.dicprep ol > li:nth-child(2n+1){

background-color: #fffefe;
}

.dicprep ol > li:before{
position: absolute;
display: inline-block;
font-size: 15px;
line-height: 30px;
width: 30px;
color: #fff600;
margin: -5px 0 0 -35px;
text-align: center;

background-image: url('images/bullet_ol.png');
background-repeat: no-repeat;
background-position: center center;
content: counter(dic-counter);
counter-increment: dic-counter;

}

.linkrec{

padding: 10px;
margin-bottom: -30px;
}

.linkrec a{
text-decoration: none;
}

.linkrec .callimg{
display: block;
background-image: url('images/icon_receitas.png');
width: 287px;
height: 95px;
margin: 0 auto;
}

.tabindpara{
margin-top: 40px;
border-top: 2px solid #a8a891;
}

.taband{
margin-top: -9px;
background-image: url('images/abavideo.png');
background-repeat: no-repeat;
width: 100%;
height: 75px;
border-bottom: 1px solid #a8a891;
}

.taband p{

white-space: nowrap;
font-size: 14px;
text-transform: uppercase;
color: #000;
padding: 17px;

}

.tabindpara td  {
margin:0;
padding: 10px;
}

.tabindpara tr>td {

border-bottom: 1px solid #a8a891;
}

.tabindpara tr>td:last-child{

text-transform: lowercase;
color: #818285;
}

.tabindpara tr>td:first-child{

text-transform: uppercase;
color: #000;
}

.bt_indic {
padding: 20px 10px;
font-size: 16px
}

.bt_indic p{

margin-bottom: 10px;
}

.tabnut{

float: left;
}

.tabnut table{
max-width: 100%;
margin: 20px 0 30px;
 
border-collapse: collapse;

}

.tabnut tr:hover{
background-color: #eee;

}

.tabnut td{
padding: 2px 10px;
border: 1px solid #a8a891;
}

.bt_distr {
	margin-top: 20px;
	}
	
.bt_distr img {
	
	}	

/* NOTICIAS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.bt_not ul > li{

margin: 10px 10px;
padding: 10px 15px;
}

.bt_not ul > li:nth-child(2n+1){

background-color: #f6f7f1;
}

.bt_not a{

text-decoration: none;
}

.bt_not li{}

.textnot{
margin: 20px;
font-size: 16px;
}

.textnot a{
color: #000;
text-decoration: none;

}

.textnot a:hover{

color: #F3BC39;

}

/* HOME >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

.flexslider {

margin: 0 0 -20px !important;
background: #fff;
border: 0px !important;
position: relative;
-webkit-border-radius: 0 !important;
-moz-border-radius: 0 !important;
-o-border-radius: 0 !important;
border-radius: 0 !important;
box-shadow: none !important;
-webkit-box-shadow: none !important;
-moz-box-shadow:none !important;
-o-box-shadow:none !important;
zoom: 1;
}

.bl_tithome{

position: relative;
margin-top: 40px;
padding: 15px 20px;
border-top: 1px solid #a8a891;
color: #a8a891;
font-size: 21px;
font-weight: normal;

}

.responsive .bl_tithome{

font-size: 16px;
}

.bl_mainhome{

display: block;
width: 100%;
height: auto;

}

.linkcontainer{

float: left;
height: 100%;
}

.linkcontainer tr>td{
padding-top: 5px;
border-top: 1px solid #a8a891;
}

.linkcontainer tr>td:first-child{
border-right: 1px solid #a8a891;
}

.responsive .linkcontainer{

width: 100%;

}

.recbanhome{

width: 300px;
max-height: 317px;
overflow: hidden;
float: right;
}

.responsive .recbanhome{

width: 100%;
height: auto;

}

.recbanhome img{

height: 100%;
width: auto;
}

.responsive .recbanhome img{
width: 100%;
height: auto;
}

.recbanhome p{
position: absolute;
display: block;
color: #fff !important;
font-family: mccain_sunshine_proregular;
font-size: 42px;
font-weight: normal;
text-transform: none;
text-shadow: 3px 3px 7px black;
z-index: 500;
transform:rotate(-10deg);
-ms-transform:rotate(-10deg); /* IE 9 */
-webkit-transform:rotate(-10deg); /* Opera, Chrome, and Safari */
padding: 30px;
word-wrap: normal;

}

.bl_home{
float: left;
display: block;
background-image:url('images/bg_paisagem.jpg');
background-repeat: no-repeat;
background-position: center bottom;
width: 100%;
min-height:410px;
margin: 20px 0 -41px;
border-top: 1px solid #a8a891;
}



.infohome{

display: block;
float: left;
width: 40%;
padding: 0 40px;
margin-bottom: 40px;
}

.infohome .taband{

border: none;
}

.infohome .taband p{
font-size: 15px;
padding-left: 20px
}

.hpcall2{

font-family: mccain_sunshine_proregular;
font-size: 60px;
font-weight: normal;
text-transform: none;
 
}

.hpcall2:after{
content: '';
position: relative;
background-image: url('images/trace.png');
background-position: right bottom;
background-size: contain;
background-repeat: no-repeat;
width: 100%;
height: 33px;
display: block;

}

.responsive .hpcall2:after{

background-position: center bottom;

}

.infohome h4{

margin: 20px 0

}

.vidhome{

display: inline-block;
width: 460px;
height: 260px;
margin: 50px auto;

}

.responsive .infohome{


display: block;
width: 80%;

margin: 0 auto;

}

.responsive .vidhome{
float: none;
position: relative;
display: inline-block;
width: 90%;
height: 50%;
padding: 5%;


}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> HEADER */

.headbar{


width: 940px;
height: 20px;
top: 0;
z-index: 0;
margin: 0 auto;
}

.responsive .logbar{

display: none;

}
.logbar{
display:inline-block;
background-color: #222;
width: 540px;
height: 40px;
float: right;
}

.reslogbar{
width: 100%;
display: none;
background-color: #333;
}

.reslogbar .logcont{
text-align: center;
float: none;
}



.responsive .reslogbar{

display: inline-block;

}


.responsive .mc-nav-inner::before{
position: absolute;
content: 'MENU';
left: 40px;
padding: 10px;
}


.logcont{


float: right;
margin: 8px 20px;
}

.loglinks,
.salute,
.avabar
{
display: inline-block;
vertical-align: middle;

}

.salute{
color: #fff;
margin-right: 40px;
}

.avabar{

}

.loglinks a
{
color: #fff600;
text-decoration: none;
margin: 0 10px;
}

.headcontainer{
text-shadow: 1px 1px 1px black;
position: relative;
width: 940px;
height: 110px;

margin: 5px auto 0;
}

.responsive .headcontainer{

display: none;

}

.headcontent{
display: block;
width: 660px;
height: 100%;
margin-left: 280px;

}


.headcontl{
float: left;
width: 400px;

}

.headcontr{

float: right;
width: 240px;
text-align: center;
}


.headcontr a{
	display: inline-block;
	text-align: center;
}

.headrs {

padding: 12px 0 10px;
margin-right: 10px;
width: 100%;
height: 33px;
float: left;
}

.headrs p{
vertical-align: top;
line-height: 33px;
display: inline-block;
color: #fff;
font-size: 15px;
margin-right: 12px;
}

.distlink a,
.clubelink a{
float: left;
display: inline-block;
text-decoration: none;
color: #fff;
font-size: 15px;
line-height: 30px;
height: 30px;
padding: 0 35px 0 0;
margin: 15px 0;

}


.pesqlink{
float: left;
display:inline-block;
font-size: 14px;
color: #fff;
padding: 10px 0 0 10px;

}

.pesqlink a{

color: #fff600;
text-decoration: none;

}


.linkvisite {
background: url('images/visite.png') no-repeat;
background-position: center center;
width: 185px;
height:60px;
float: right;
display: block;
}

.headbusca{
width: 240px;
height: 25px;
float: right;
display: inline-block;
padding: 10px 0;
}

.resheadbusca{

width: 250px;

margin: 0 auto 10px;
}


.banie{
display: none;
}

.ie8 .banie{

display: inline-block;
width: 100%;
height: auto;

}

.ie8 .banie img{

width: 100%;
height: auto;
margin: 0 auto;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>DISTRIBUIDORES */

.bl_dist{
display: inline-block;
background: #f8f8f5;
}

.bl_dist a{

color: #000;
text-decoration: none;
font-weight: bold;

}

.bl_map{
display: inline-block;
width: 620px;
float: left;

}

.responsive .bl_map{

width: 100%;
}

.distside{
display: inline-block;
width: 300px;
float: right;
background: #f8f8f5;
}

.responsive .distside{

float: left;
width: 100%;


padding: 0 10px 30px;
}

.est_nome{
width: 100%;
display: inline-block;
padding: 20px 0;
margin: 20px 0;
border-top: 1px solid #a8a891;
border-bottom: 1px solid #a8a891;

}
#distlist{
margin-right: 15px;

}

.responsive .distlinha{

width: 270px;


}

#map_canvas {
overflow:hidden;
width:620px;
height: 50%;
}

.responsive #map_canvas {

display: none;
}

#map_canvas #map_canvas_1 {
margin-left:-150px;
margin-top:0;
}

.distlinha{

background: #f8f8f5;
}


#map_canvas_1 path:not([fill^="#ffffff"]):hover {
fill:#656556;
}

select{

border: 0 !important;
-webkit-appearance: none;
-moz-appearance: none;
background: #fff url(images/seta_branca.png) no-repeat right center;
width: auto;/*Width of select dropdown to give space for arrow image*/
text-indent: 0.01px; /* Removes default arrow from firefox*/
text-overflow: "";  /*Removes default arrow from firefox*/ /*My custom style for fonts*/
padding: 5px 50px 5px 10px;		
margin: 2px;
		
   -webkit-border-radius:13px;
   -moz-border-radius:13px;
   border-radius:13px;
   -webkit-box-shadow:-1px -1px 0 0 rgba(0, 0, 0, 0.4);
   -moz-box-shadow:-1px -1px 0 0 rgba(0, 0, 0, 0.4);
   box-shadow:-1px -1px 0 0 rgba(0, 0, 0, 0.4);
   
   
}

select::-ms-expand {
    display: none;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> WP Members*/

.wpmem_msg{
color: red;

}

fieldset{

border: none;

}

.button_div{

margin: 20px 0;
}

#recaptcha_area{

margin-top: 20px;
text-align: left;

}

.req-text{
color: #000;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> Calculadora */

.info1 {
margin: 20px 0;
width: 70%;
font-size: 24px;
color: #000;
}

.info1 .section_break{


border-top: 1px solid #a8a891 !important; 
}


.info2{

font-size: 14px;
}

.custos fields{

width: 70%;
float: left;

}

.responsive .custos{

width: 100%;
}

.lucros{

width: 30%;
float: left;
position: absolute;
right: 20px;
top: 315px;
}

.responsive .lucros{

width: 90%;
position: relative;
right: auto;
top: auto;
}

.custos .summary-field-value,
.lucros .summary-field-value{

font-size: 40px;
text-align: left;

}

.custos .summary-field-title,
.lucros .summary-field-title{

line-height: 3.2em;

}
.custos .summary-field-value{

min-width: 20% !important;
}

.custos .summary-field-title{

width: 45% !important;
}

.lucros .cff-summary-item{

border-top: 1px solid #a8a891; 
}



#fbuilder{

width: 80% !important;
}

.responsive #fbuilder{

width: 100% !important;
}

.cff-summary-item{display: inline-block; width: 100%; }
.summary-field-title, cff-summary-title{float:left;width:30%;text-align:right;padding:3px 10px;}
.summary-field-value, cff-summary-value{vertical-align: middle;font-weight: bold; font-size: 16px; float:left;min-width:60%;text-align:left;padding:3px 0px;}

#fbuilder .small,
#fbuilder .medium {padding-left: 10px !important;}
#fbuilder .fields {padding: 5px 20px !important;}

.responsive .summary-field-title, cff-summary-title,
.responsive .summary-field-value, cff-summary-value{float:none;width:100%;text-align:left;padding:3px 5px}

.responsive #fbuilder .right_aligned .fields label,
.responsive #fbuilder .right_aligned .fields dfield
{
float:left;width:100%;text-align:left;

}

.responsive #fbuilder .small {
float: left;
width: 80% !important;
text-align: left;
}

.responsive #fbuilder .medium{

float: left;
width: 100% !important;
text-align: left;
padding-right: 20px !important;
}

.depItem{
font-weight: bold;

}

.bl_calc::before{
content: ' ';
border-top: 1px solid #a8a891;
width: 100%;
height: 40px;
margin: -30px 0;
padding: 0;
display: block;
}

.bl_calc{
width: 920px;
display: inline-block;
font-size: 18px;
background-color: #f8f8f5;
margin: 10px;
padding: 10px 0;

}


.bl_calcpost{

width: 600px;
float: left;
}


.bl_calcside{
display: inline-block;
font-size: 16px;
width: 248px;
padding: 10px;
float:right;
margin: 10px;
border-top: 1px solid #a8a891;
}

.responsive .bl_calcpost,
.responsive .bl_calcside,
.responsive .bl_calc{
float: left;
width: 94%;
margin: 0;
padding: 3%;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> FOOTER */

.foocont{

display: inline-block;
width: 100%;
}

.foologo{
display: inline-block;
float: left;
margin-left: -30px;
}

.foowidcont{
display: inline-block;
float: right;
margin-left: 10px;
width: auto;
}

.foowid{
display: inline-block;
float: left;
margin: 0px 10px;
padding: 20px 0;
max-width: 125px;


}



.responsive .foowidcont,
.responsive .foowid,
.responsive .foologo,
.responsive .foocont{

width: 230px;
float: none;
padding: 5px 0;
margin: 0;
}

.footericons{
padding: 10px 0 5px;
margin-bottom: 10px;
border-bottom: 1px solid #a8a891;
width: 100%;
text-align: right;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> NEWS */


.newsheader{
width: 100%;
max-width: 920px;
position: absolute;

border-bottom: 1px solid #fff600;
background-color: #fff;	
z-index: 999;
}

.newsinfos{
position: absolute;
top: 0;
right: 0;
padding: 40px 10px;
width: 130px;

text-align: center;
}

.newsinfos h2, 
.newsinfos p{
display: inline-block;
color: #ccc !important;
}

#cat{
position: absolute;
margin-top:-35px;
right: 15px;
border: 1px solid red;
height: 25px;
}

#cat select{

padding: 0 50px auto 10px !important;
}

.newsheader li{

float: left;
padding: 3px 10px;
border-right: 1px solid #000;
line-height: 10px;
margin: 10px 0;

}

.newsheader li:last-child{

border: none;
}

.newsheader a{

text-decoration: none;
font-size: 16px;
color: #000;
}



.newsheader a:hover{

color: #999;
}

.news{

	margin-top: 228px;	
}
.new{
	border-bottom: 1px solid #fff600;
	margin: -225px auto 20px -10px;
padding-top:228px;
max-width: 940px;
}
.new p{
	font-size: 16px;
	line-height: 20px;
	margin: 10px 0;
	}
.new h1{
	font-size: 25px;
	text-transform: uppercase;
}
.new ul>li{
	list-style-image: url('images/postbullets.png');
	font-size: 16px;
	color: #818285 !important;
}
.new ul{
	margin: 0;
	padding: 5px 30px 20px;
}

.new img{
	margin: 20px 0; 
}

.linkdown{
border-top: 2px solid #a8a891;
padding: 10px;
margin-bottom: -30px;
margin-top: 30px;
}

.linkdown .callimg{
display: block;
background-image: url('images/prod_foto.png');
width: 287px;
height: 95px;
margin: 10px auto;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> VIDEOS */

#carousel{
	
	max-height: 120px;
	overflow: hidden;
	margin-top: 30px;
	border-top: 1px solid #a8a891;
}

.vidcarousel h2{
	margin: 30px 0px 10px 5px;
	font-size: 20px;
	color: #818285;
}

#carousel li img{
	
	max-width: 210px;
	height: auto;
}

#carousel li{
	background-image: url("images/videoplaym.png");
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0 5px;
}

#carousel li:hover{
	
	opacity: 0.7;
}

.vidbox{
	
	width: 210px;
	height: 120px;
	position: absolute;
	
}

.setaplay{
	background-image: url("images/videoplaym.png");
	background-position: center center;
	width: 210px;
	height: 60px;
	background-repeat: no-repeat;
	
}

.nomeplay{
	width: 210px;
	height: 60px;
	color: #fff;
	text-align: center;
	vertical-align: top;
	font-size: 15px;
	line-height: 15px;
	padding: 5px;
}

.sli_vid{
	
	width: 560px;
	display: inline-block;
}

.sli_info{
	width: 300px;
	padding: 20px 30px;
display: inline-block;
	vertical-align: top;
}

.sli_info h1{
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #a8a891;
}

/* End Additional CSS Styles 
list-style-image:url('images/bullet_ol.png');*/
