<div class="container-fluid">
    <div class="row bg-yellow">
        <div class="col-12 mapa-infos-right">
            <h1>Descubra onde adquirir os produtos McCain na sua região </h1>
            <h6>Comece selecionando o seu estado no mapa</h6>
        </div>
        <div class="col-lg-6 col-md-12 mapa-contato text-center">
            <div id="box-mapa-brasil" style="display:block">
                <div class="mapa">
                    <div class="relative">
                        <div class="absolute">
                            <div *ngFor="let state of mapaData"  
                            [ngClass]="{'active': state.selected}"
                              class="{{ state.uf }}"
                            [attr.data-label]="state.name"
                            (click)="changeValueOfSelect(state.uf)">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-9 ">
            <div class="row">
                <div class="col-lg-8 col-md-10 infos mx-auto font-koho">
                  
                    <div class="search-top position-sticky" >
                        <h6 class="text-uppercase">Seleção por Estado</h6>
                        <select [formControl]="stateCtrl" class="form-control" >
                            <option value="">Todos estados</option>
                            <option *ngFor="let state of mapaData" [value]="state.uf" >
                                 {{ state.uf | uppercase  }} - {{ state.name }}
                            </option>
                        </select>
                    </div>
                    <div class="distributors-info" *ngFor="let distributor of  distributors">
                        <p class="pt-3">
                            <span class="bold d-block"> {{ distributor.title }} </span>
                            {{ distributor.action_locate }}
                        </p>
                        <p>Telefone: {{ distributor.tel }}</p>
                        <p>E-mail: {{ distributor.email }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-yellow">
    <div class="row">
        <div class="col-12 mx-auto seja text-center">
            <h2>Seja um distribuidor McCain</h2>
            <div class="col-lg-3 col-md-10 px-0 mx-auto">
                <a class="btn btn-warning-2 btn-block rounded-0 text-uppercase mt-3" routerLinkActive='active'
                    routerLink='/contact'>Fale Conosco</a>
            </div>
        </div>
    </div>
</div>