@import "helpers";
@import "variables";


.search-top {
    top: 0;
    width: 100%;
    left: 0;
    background: #fff;
}

.mapa-infos-right {
    padding: 40px 30px;
}

h1 {
    font-family: McCainSunshinePro;
    color: #000;
    font-size: 32px;
    letter-spacing: 1px;
}

h6 {
    font-family: KoHoBold;
    color: #000;
    font-size: 18px;
    letter-spacing: 2px;
}

.infos::-webkit-scrollbar-track {
    background-color: #fff;
}

.infos::-webkit-scrollbar {
    width: 6px;
    background: #707070;
}

.infos::-webkit-scrollbar-thumb {
    background: #707070;
    border-radius: 100px;
}

.infos {
    background-color: #fff;
    box-shadow: -1px 3px 16px -2px rgba(0, 0, 0, 0.75);
    height: 400px;
    overflow: auto;

    h5,
    h6 {
        font-family: KoHoBold;
        padding: 20px 5px;
    }

    p {
        padding: 5px 5px;
        font-family: KoHoRegular;
    }

    select {
        font-family: KoHoRegular;
        border: none;
        border-bottom: 2px solid $theme-color-3;
    }
}

.btn-warning-2 {
    color: #2c2c2c;
    font-family: KoHoBold;
    background-color: transparent;
    border: 2px solid #2c2c2c;
    padding: 10px 0px;
}

.btn-warning-2:hover {
    color: $theme-color-2;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
}

.seja {
    padding: 100px;

    h2 {
        font-family: McCainSunshinePro;
        color: #000;
        font-size: 48px;
    }
}

#box-mapa-brasil {
    background: $theme-color-3;
}




div.mapa {
    /*border: 1px solid #000000;*/
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

div.mapa.debug {
    background: transparent url("/assets/mapa-brasil/map.svg") no-repeat center center;
    background-size: contain;
}

div.mapa .relative {
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

div.mapa .absolute {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 2;
}

div.mapa .absolute div {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    transition: all 0.3s;
}

*[data-label]::before {
    content: attr(data-label);
    position: relative;
    background: #fff;
    color: #000;
    padding: 20px;
    box-shadow: 0 7px 15px -7px #333;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: arial;
    font-size: 0.8em;
    z-index: 1001;
    left: 40%;
    top: 25px;
    white-space: pre;
    visibility: hidden;
}

/**[data-label]:after {
	content: "";
	background: url(../../../../src/assets/mapa-brasil/seta-label.svg) no-repeat center bottom;
}*/


div.mapa .absolute div:hover {
    transition: all 0.3s;
}

*[data-label]:hover:before,
*[data-label].active:before {
    visibility: visible;
}

.rr {
    background-image: url("/assets/mapa-brasil/map-rr.svg");
    width: 16.3%;
    height: 19.5%;
    top: -.5%;
    left: 23%;
    z-index: 12;
}

.rr:before {
    left: -60%;
    top: 20%;
}

.rr:hover,
.rr.active {
    background-image: url("/assets/mapa-brasil/map-rr-hover.svg");
}

.ap {
    background-image: url("/assets/mapa-brasil/map-ap.svg");
    width: 13%;
    height: 17.2%;
    top: 0.9%;
    left: 48.3%;
    z-index: 13;
}

.ap:before {
    left: -60%;
    top: 22%;
}

.ap:hover,
.ap.active {
    background-image: url("/assets/mapa-brasil/map-ap-hover.svg");
}

.am {
    background-image: url("/assets/mapa-brasil/map-am.svg");
    width: 46.5%;
    height: 31.5%;
    top: 7.5%;
    z-index: 10;
}

.am:before {
    left: 20%;
    top: 50%;
}

.am:hover,
.am.active {
    background-image: url("/assets/mapa-brasil/map-am-hover.svg");
}

.pa {
    background-image: url("/assets/mapa-brasil/map-pa.svg");
    width: 32.3%;
    height: 32.5%;
    top: 6.5%;
    left: 38.2%;
    z-index: 11;
}

.pa:before {
    left: 18%;
    top: 55%;
}

.pa:hover,
.pa.active {
    background-image: url("/assets/mapa-brasil/map-pa-hover.svg");
}

.ac {
    background-image: url("/assets/mapa-brasil/map-ac.svg");
    width: 19.5%;
    height: 10.3%;
    top: 31.7%;
    left: 1.1%;
    z-index: 14;
}

.ac:before {
    left: 37%;
    top: -20%;
}

.ac:hover,
.ac.active {
    background-image: url("/assets/mapa-brasil/map-ac-hover.svg");
}

.ro {
    background-image: url("/assets/mapa-brasil/map-ro.svg");
    width: 18.9%;
    height: 14.6%;
    top: 34.0%;
    left: 18.6%;
    z-index: 15;
}

.ro:before {
    left: -39%;
    top: 78%;
}

.ro:hover,
.ro.active {
    background-image: url("/assets/mapa-brasil/map-ro-hover.svg");
}

.to {
    background-image: url("/assets/mapa-brasil/map-to.svg");
    width: 13.4%;
    height: 22%;
    top: 26%;
    left: 58%;
    z-index: 16;
}

.to:before {
    left: -110%;
    top: 20%;
}

.to:hover,
.to.active {
    background-image: url("/assets/mapa-brasil/map-to-hover.svg");
}

.ma {
    background-image: url("/assets/mapa-brasil/map-ma.svg");
    width: 18.4%;
    height: 24%;
    top: 16.3%;
    left: 63.1%;
    z-index: 17;
}

.ma:before {
    left: -10%;
    top: -10%;
}

.ma:hover,
.ma.active {
    background-image: url("/assets/mapa-brasil/map-ma-hover.svg");
}

.pi {
    background-image: url("/assets/mapa-brasil/map-pi.svg");
    width: 14.4%;
    height: 22%;
    top: 19.5%;
    left: 70.1%;
    z-index: 18;
}

.pi:before {
    left: -8%;
    top: 40%;
}

.pi:hover,
.pi.active {
    background-image: url("/assets/mapa-brasil/map-pi-hover.svg");
}

.ce {
    background-image: url("/assets/mapa-brasil/map-ce.svg");
    width: 12.4%;
    height: 13.5%;
    top: 20.5%;
    left: 80.8%;
    z-index: 17;
}

.ce:before {
    left: 40%;
    top: 0%;
}

.ce:hover,
.ce.active {
    background-image: url("/assets/mapa-brasil/map-ce-hover.svg");
}

.rn {
    background-image: url("/assets/mapa-brasil/map-rn.svg");
    width: 10.6%;
    height: 7.7%;
    top: 25.0%;
    left: 88.0%;
    z-index: 20;
}

.rn:before {
    left: -45%;
    top: -113%;
}

.rn:hover,
.rn.active {
    background-image: url("/assets/mapa-brasil/map-rn-hover.svg");
}

.pb {
    background-image: url("/assets/mapa-brasil/map-pb.svg");
    width: 11%;
    height: 7.6%;
    top: 28.1%;
    left: 87.5%;
    z-index: 21;
}

.pb:before {
    left: 110%;
    top: 0%;
}

.pb:hover,
.pb.active {
    background-image: url("/assets/mapa-brasil/map-pb-hover.svg");
}

.pe {
    background-image: url("/assets/mapa-brasil/map-pe.svg");
    width: 16.2%;
    height: 7.2%;
    top: 31.3%;
    left: 82.0%;
    z-index: 22;
}

.pe:before {
	left: 76%;
    top: 0%;
}

.pe:hover,
.pe.active {
    background-image: url("/assets/mapa-brasil/map-pe-hover.svg");
}

.al {
    background-image: url("/assets/mapa-brasil/map-al.svg");
    width: 8.3%;
    height: 7.6%;
    top: 34.1%;
    left: 89.2%;
    z-index: 23;
}

.al:before {
    left: 110%;
    top: 40%;
}

.al:hover,
.al.active {
    background-image: url("/assets/mapa-brasil/map-al-hover.svg");
}

.se {
    background-image: url("/assets/mapa-brasil/map-se.svg");
    width: 6.3%;
    height: 6.4%;
    top: 36.5%;
    left: 88.5%;
    z-index: 24;
}

.se:before {
    left: 140%;
    top: 8%;
}

.se:hover,
.se.active {
    background-image: url("/assets/mapa-brasil/map-se-hover.svg");
}

.ba {
    background-image: url("/assets/mapa-brasil/map-ba.svg");
    width: 23.5%;
    height: 25.7%;
    top: 34.8%;
    left: 68.5%;
    z-index: 25;
}

.ba:before {
    left: 30%;
    top: 30%;
}

.ba:hover,
.ba.active {
    background-image: url("/assets/mapa-brasil/map-ba-hover.svg");
}

.mt {
    background-image: url("/assets/mapa-brasil/map-mt.svg");
    width: 29.5%;
    height: 29.7%;
    top: 31.7%;
    left: 30.8%;
    z-index: 26;
}

.mt:before {
    left: 5%;
    top: 40%;
}

.mt:hover,
.mt.active {
    background-image: url("/assets/mapa-brasil/map-mt-hover.svg");
}

.go {
    background-image: url("/assets/mapa-brasil/map-go.svg");
    width: 20.5%;
    height: 19%;
    top: 44.7%;
    left: 51.0%;
    z-index: 29;
}

.go:before {
    left: 10%;
    top: 40%;
}

.go:hover,
.go.active {
    background-image: url("/assets/mapa-brasil/map-go-hover.svg");
}

.ms {
    background-image: url("/assets/mapa-brasil/map-ms.svg");
    width: 20.5%;
    height: 18%;
    top: 57%;
    left: 39%;
    z-index: 28;
}

.ms:before {
    left: -110%;
    top: 40%;
}

.ms:hover,
.ms.active {
    background-image: url("/assets/mapa-brasil/map-ms-hover.svg");
}

.mg {
    background-image: url("/assets/mapa-brasil/map-mg.svg");
    width: 28.5%;
    height: 24%;
    top: 48.9%;
    left: 57.5%;
    z-index: 27;
}

.mg:before {
    left: 30%;
    top: 16%;
}

.mg:hover,
.mg.active {
    background-image: url("/assets/mapa-brasil/map-mg-hover.svg");
}

.es {
    background-image: url("/assets/mapa-brasil/map-es.svg");
    width: 6.7%;
    height: 8.7%;
    top: 59.0%;
    left: 80%;
    z-index: 30;
}

.es:before {
    left: 110%;
    top: 40%;
}

.es:hover,
.es.active {
    background-image: url("/assets/mapa-brasil/map-es-hover.svg");
}

.sp {
    background-image: url("/assets/mapa-brasil/map-sp.svg");
    width: 22%;
    height: 15.7%;
    top: 63%;
    left: 52%;
    z-index: 31;
}

.sp:before {
    left: 0%;
    top: -15%;
}

.sp:hover,
.sp.active {
    background-image: url("/assets/mapa-brasil/map-sp-hover.svg");
}

.rj {
    background-image: url("/assets/mapa-brasil/map-rj.svg");
    width: 11%;
    height: 6.4%;
    top: 66%;
    left: 72.4%;
    z-index: 32;
}

.rj:before {
    left: 90%;
    top: 40%;
}

.rj:hover,
.rj.active {
    background-image: url("/assets/mapa-brasil/map-rj-hover.svg");
}

.pr {
    background-image: url("/assets/mapa-brasil/map-pr.svg");
    width: 18%;
    height: 11.2%;
    top: 70.5%;
    left: 48.4%;
    z-index: 33;
}

.pr:before {
    left: 10%;
    top: 10%;
}

.pr:hover,
.pr.active {
    background-image: url("/assets/mapa-brasil/map-pr-hover.svg");
}

.sc {
    background-image: url("/assets/mapa-brasil/map-sc.svg");
    width: 14%;
    height: 10.2%;
    top: 78.5%;
    left: 50.4%;
    z-index: 34;
}

.sc:before {
    left: 80%;
    top: 30%;
}

.sc:hover,
.sc.active {
    background-image: url("/assets/mapa-brasil/map-sc-hover.svg");
}

.rs {
    background-image: url("/assets/mapa-brasil/map-rs.svg");
    width: 21%;
    height: 18.9%;
    top: 81.4%;
    left: 40.4%;
    z-index: 35;
}

.rs:before {
    left: 60%;
    top: 40%;
}

.rs:hover,
.rs.active {
    background-image: url("/assets/mapa-brasil/map-rs-hover.svg");
}


/* Extra small devices (phones, 540px and down) */

@media only screen and (max-width: 540px) {
    #box-mapa-brasil {
        width: 100%;
        margin: 0px auto;

    }

    .mapa {
        width: 300px !important;
        height: 300px !important;
    }

    .mg:before {
        left: -80%;
        top: 16%;
    }

    .ce:before {
        left: -90%;
        top: 0%;
    }

    .pb:before {
        left: -230%;
        top: 55%;
    }

    .al:before {
        left: -290%;
        top: 40%;
    }

    .se:before {
        left: -320%;
        top: 8%;
    }

    .rn:before {
        left: -500%;
        top: -20%;
    }

    .pe:before {
        left: -180%;
        top: 0%;
    }

    .es:before {
        left: -420%;
        top: 40%;
    }

    .rj:before {
        left: -195%;
        top: 40%;
    }

    .sc:before {
        left: -30%;
        top: 30%;
    }

    .rs:before {
        left: -30%;
        top: 40%;
    }

    .ba:before {
        left: -30%;
        top: 30%;
    }


    .mapa-infos {
        width: 100%;
        margin-left: 0;
    }
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 768px) {
    #box-mapa-brasil {
        width: 100%;
        margin: 0px auto;

    }


    .mapa-infos {
        width: 100%;
        margin-left: 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
    #box-mapa-brasil {
        width: 100%;
        margin: 0px auto;
    }


    .mapa-infos {
        width: 350px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (min-width: 992px) {
    #box-mapa-brasil {
        width: 315px;
        margin: 0px auto;
    }


    .mapa-infos {
        width: 350px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */

@media only screen and (min-width: 1200px) {
    #box-mapa-brasil {
        width: 295px;
        margin: 96px auto;
        // transform: scale(1.3);
    }

    .mapa-infos {
        width: 350px;
    }
}