@import 'helpers';
@import 'variables';

//  nav aqui
#nav-history {
    z-index: 555;
    transition: all 1s;
    @include media-breakpoint-down(md) {
        position: relative;
        margin: 33px 0;
        width: 100%;
        li {
            display: inline;
            padding: 0px 5px;
            margin-top: 0;
            a {
                letter-spacing: 0px;
                font-size: 12px;
            }
        }
        ul {
            text-align: center;
            width: 100%;
        }
    }
    @include media-breakpoint-up(md) {
        position: relative;
        margin: 33px 0;
        width: 100%;
        li {
            display: inline;
            padding: 0px 5px;
            margin-top: 0;
            a {
                letter-spacing: 2px;
                font-size: 15px;
            }
        }
        ul {
            text-align: center;
            width: 100%;
        }
    }
    
    @include media-breakpoint-up(lg) {
        position: fixed;
        margin-top: 0px;
        top: calc( 40% - 10px ); // Descontado altura do elemento e do header
        left: 0;
        width: 0;
        height: 200px;
        li {
            display: flex;
            padding-left: 140px;
            margin-top: 30px;
            &.active::before {
                content: '';
                position: absolute;
                top: 45%;
                left: 0;
                margin-right: 10px;
                width: 30%;
                height: 2px;
                background:  $theme-color-3;
            }

            a {
               letter-spacing: 0px;
                font-size: 17px;
            }
        }
        ul {
            text-align: left;
            width: 400px;
        }
    }

    ul {
        display: block;
        padding-inline-start: 0;
    }

    li {
        transition: all 1s, color 400ms;
        list-style: none;
        width: 100%;
        position: relative;
        a:hover, &.active  a {
            color: $theme-color-3;
        }

        a {
            color:  $grey-color;
            text-decoration: none;
            transition: all  0.5s;
            line-height: 1.3cm;
            text-transform: uppercase;
           
            font: {
                family: 'KoHoBold';
                
            }
            
        }
    }
}



#carrousel-section {
    height: auto;
    overflow-x: hidden;
    background-size: cover;
    position: relative;
    &::before {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        width: 40%;
        height: 100%;
        z-index: 1;
    }
    
    @include media-breakpoint-down(md) {
        padding: 130px 0;
        transform: translateY(-150px);
        &::before {
            content: none;
        }
    }
    @include media-breakpoint-up(md) {
        padding: 120px 0;
        transform: translateY(-120px);
        &::before {
            content: none;
        }
    }

    @include media-breakpoint-up(lg) {
        padding: 100px 0;
        transform: translateY(0);
        &::before {
            content: '';
            background: linear-gradient(to right, #141414 20%, rgba(20,20,20,0.808) 50%, transparent)
        }
    }
}

#slip-arrow {
    padding: 0 0;
    color:  $white-color;
    font-family: "KoHoRegular";
    text-transform: uppercase;
    font-size: 20px;
}




#mission, #curiosity, #history {
    transition: all 1s;
    @include media-breakpoint-down(md) {
        margin-top: 0px;
    }
    @include media-breakpoint-up(md) {
        margin-top: 0px;
    }
    @include media-breakpoint-up(lg) {
        margin-top: 50px;
    }
}

@keyframes slipEffect {
    from {
        transform: translate(-120px, 0);
        opacity: 0;
    }
    to {
        transform: translate(50px, 0);
        opacity: 1;
    }
}



#slip-arrow {
   
    img {
        animation: slipEffect 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate-reverse

    }
}

.has-arrow .arrows {
    position: absolute;
    top: -25px;
    left: 45%;
    width: 55%;
    
    img {
        width: 100%;
        cursor: pointer;
        transition: all 600ms;
        position: relative;
    }

    .arrow {
        display: inline-block;
        width: 70px;
        height: 70px;
        margin: 0 10px;
        position: relative;
        background-color: rgba(255, 255, 255, 0.555);
        &:hover {
            transform: scale(1.2);
            transition: all 500ms;
        }
    }
}