<div class="bg-black">
    <nav id="nav-history">
        <ul>
            <li routerLinkActive="active" [routerLink]="['/mccain/historia']">
                <a href="javascript:void(0)" class="scroll-suave link-nav-history">História</a>
            </li>
            <li routerLinkActive="active" [routerLink]="['/mccain/missao']">
                <a href="javascript:void(0)" class="scroll-suave link-nav-history">Missão, visão e valores</a>
            </li>
            <li routerLinkActive="active" [routerLink]="['/mccain/curiosidade']">
                <a href="javascript:void(0)" class="scroll-suave link-nav-history">
                    Curiosidades
                </a>
            </li>
        </ul>
    </nav>

    <!-- #fim Navegação -->

    <div class="container-fluid" id="carrousel-section"
        style="background-image: url(./assets/backgrounds/background-historia-mccain.jpg)">
        <!-- <div class="load-carrousel">
        <div class="load-content">
            <img src="./assets/loading.gif" alt="loading mc-cain">
        </div>
    </div> -->
        <div class="row">
            <div class="col-md-12" style="position: relative;">
                <router-outlet></router-outlet>
            </div>
            <div class="col-md-12  mobile-devices" style="text-align: center;" id="slip-arrow" *ngIf="helper.isMobile">
                Arraste para o lado <br>
                <img src="./assets/icons/left-arrow.svg">
            </div>
        </div>
    </div>



</div>