<div class="container-fluid bg-yellow">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="pt-5">Dicas para o seu negócio</h1>
            <p class="pt-2">A McCain investigou a realidade de cada segmento para ser assertiva na hora de ajudar <br>
                todos
                os tipos de negócio. Veja aqui algumas dicas preciosas.</p>
        </div>
        <div class="col-10 mx-auto dicas">
            <div class="row">
                <div class="col-lg-3 col-md-10 text-center dicas-item mt-4" *ngFor="let dica of dicas"
                [routerLink]="['/dicas', dica.blogID]">
                    <div class="dicas-content">
                        <img [src]="dica.images[0].url" [alt]="dica.title" class="w-100 produto-image">
                        <div class="space">
                            <span>{{ dica.title }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>