@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variables';
@import 'helpers';
@import 'carousel-history';

#cover-home{
    .slick-dots{
        bottom: 10px;
        position: absolute;
    }
    .slick-dotted.slick-slider{
        margin-bottom: 0;
    } 
    .slick-dots li button:before{
        color: $theme-color-3;
    }
}

body::-webkit-scrollbar-track, .mat-drawer-inner-container::-webkit-scrollbar-track{
    background-color: $theme-color-1;
}
body::-webkit-scrollbar, .mat-drawer-inner-container::-webkit-scrollbar {
    width: 6px;
    background: $theme-color;
}
body::-webkit-scrollbar-thumb, .mat-drawer-inner-container::-webkit-scrollbar-thumb {
    background:  $theme-color;
}


.bg-default {
    background-repeat: no-repeat; 
    background-size: cover;
    &.bg-top {
        background-position: top;
    }

    &.bg-center {
        background-position: 100%;
    }
}

.bg-yellow{
    background-color: $theme-color-3;
}

.bg-black {
    background-color: $theme-color-1;
}


.btn {
    &.btn-warning-2 {
        color: #2C2C2C;
        font-family: KoHoBold;
        background-color: #fff;
        border: 2px solid #fff;
        padding: 5px 150px;
        &:hover {
            color: #2C2C2C;
            background-color: transparent;
            border-color: #2C2C2C;
        }
    }

    &.btn-theme-3 {
        background-color: $theme-color-3;
        border: 2px solid $theme-color-3;
    }
    &.btn-outline-theme-3 {
        background-color: transparent;
        color: $theme-color-3;
        border: 2px solid $theme-color-3;
        &:hover {
            color:  $theme-color-1;;
            background-color:  $theme-color-3;
        }
    }
    
}


.font-koho {
    font-family: 'KoHoRegular';
    .regular, &.regular {
        font-family: 'KoHoRegular'!important;
    }
    .bold, &.bold {
        font-family: 'KoHoBold' !important;
    }
    b {
        font-family: 'KoHoBold'!important;
    }
}

.font-sunshine {
    font-family: 'McCainSunshinePro';
    .pro, &.pro {
        font-family: 'McCainSunshinePro';
    }
    
}
.produto-sozinho .infos {
    

    h1,
    h6 {
        color: #2C2C2C;
        font-family: KoHoBold;
    }

    p {
        color: #2C2C2C;
        font-family: KoHoRegular;
    }

    li {
        color: #2C2C2C;
        font-family: KoHoRegular;
        padding: 10px 0px;
    }

    h5 {
        color: #2C2C2C;
        font-family: KoHoBold;
    }
}

.no-decoration:hover {
    text-decoration: none;
}

.receitas-single-page .infos {
    
    @include media-breakpoint-down(md) { 
        padding: 20px;
    }
    @include media-breakpoint-up(md) { 
        padding: 50px;
    }
    h1,
    h4 {
        color: #2C2C2C;
        font-family: McCainSunshinePro;
    }
    p {
        color: #2C2C2C;
        font-family: KoHoRegular;
    }
    li {
        color: #2C2C2C;
        font-family: KoHoRegular;
        padding: 10px 0px;
    }
    h5 {
        color: #2C2C2C;
        font-family: KoHoBold;
    }
}

.dicas {
    position: relative;
    padding: 20px;
    
    .dicas-item {
        cursor: pointer;
        transition:  all 1s;
    }
    .dicas-item:hover {
        transform: scale(1.05);
        transition: all 0.5s;
        .dicas-content {
            box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.397);
            transition: all 0.5s;
        }
    }
    .produto-image {
        height: 180px;
        object-fit: cover;
    }
}

.space {
    background-color: #fff;
    display: block;
    padding: 5px 0 5px 10px;
    width: 100%;
}


.disable {
    pointer-events: none;
    opacity: 0.5;
}


#dica {
    @include media-breakpoint-down(md) { 
        h1 {
            font-size: 19px;
        }
        h2 {
            font-size: 17px;
        }
        h3 {
            font-size: 16px;
        }
    }
    @include media-breakpoint-up(md) { 
        h1 {
            font-size: 20px;
        }
        h2 {
            font-size: 21px;
        }
        h3 {
            font-size: 19px;
        }
    }
    @include media-breakpoint-up(lg) { 
        h1 {
            font-size: 24px;
        }
        h2 {
            font-size: 21px;
        }
        h3 {
            font-size: 19px;
        }
    }
}


.input-tip  ~  .form-control   {
    padding-right: 30px !important;
}
.input-tip.left  ~  .form-control   {
    padding-left: 30px !important;
    padding-right: 0 !important;
}
@include font-face('KoHoBold','./assets/fonts/KoHoBold');
@include font-face('KoHoRegular','./assets/fonts/KoHoRegular');
@include font-face('McCainSunshinePro','./assets/fonts/McCainSunshinePro');

