@import 'helpers';
@import 'variables';

.container-curiosity {
	@extend %container-carrousel;
	.position-curiosity {
        .begin-text {
            text-transform: uppercase;
            width: 90%;
			color:  $white-color;
			@include media-breakpoint-down(md) {
				font-size: 18px;
            }
            @include media-breakpoint-up(md) {
				font-size: 24px;
            }
        }
	}
}
#curiosity {
	.curiosity-squares {
		.curiosity-square {
			height: 165px;
			margin-bottom: 15px;
			
			font-size: 13px;
            text-align: left;
            transition: all 1s;
            @include media-breakpoint-down(md) {
				width: 165px;
				padding: 10px  0 0 5px;
            }
            @include media-breakpoint-up(md) {
				width: 170px;
				padding: 10px;
            }
            @include media-breakpoint-up(lg) {
				width: 200px;
				padding: 20px;
            }
		}

		&.yellow-first {
			.curiosity-square:nth-child(1){
				background-color: $white-color;
				color: #000;
			}

			.curiosity-square:nth-child(2){
				background-color:$theme-color-3;
				color: $white-color;
			}
		}
	
		
		.curiosity-square:nth-child(1) {
			background-color:  $theme-color-3;
			color:$white-color;
		}
		
		.curiosity-square:nth-child(2){
			background-color: $white-color;
			color: #000;
		}
		
	}
	
}