<!-- Carrossel Curiosidades -->
<section class="container-curiosity carrossel-container font-koho">
    <div class="position-curiosity">
        <div id="curiosity" class="history-carrousel has-arrow">
            <ngx-slick-carousel class="carousel slider" 
            #slickModal="slick-carousel" 
            [config]="slideConfig"
            (init)="slickInit($event)" 
            (breakpoint)="breakpoint($event)" 
            (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">
                
                <div ngxSlickItem class="slide" *ngFor="let slide of slides">
                    <div class="curiosity-item curiosity-squares regular"  
                    [ngClass]="{'yellow-first': slide.type}" *ngIf="slide.type !== 2">
                        <div class="curiosity-square">
                            {{ slide.line }}
                        </div>
                        <div class="curiosity-square " >
                            {{ slide.line2 }}
                        </div>
                    </div>

                    <div *ngIf="slide.type == 2">
                        <div class="curiosity-item">
                            &nbsp;
                        </div>
                        <div class="curiosity-item">
                            <h3 class="text-koho begin-text regular">O mundo das batatas é cheio de sabor e curiosidades</h3>
                        </div>
                    </div>
                </div>
            </ngx-slick-carousel>
            <div class="arrows" *ngIf="!helper.isMobile">
                <div class=" arrow ml-3" (click)="slickModal.slickPrev()">
                    <img src="./assets/icons/icone-setinha-branco.svg" alt="" style="transform: rotateZ(180deg)">
                </div>
                <div class="arrow mr-3 " (click)="slickModal.slickNext()">
                    <img src="./assets/icons/icone-setinha-branco.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>