@import 'helpers';
@import 'variables';


.photo {
   position: sticky;
   top: 0;
   width: 100%;
   object-fit: cover;
   @include media-breakpoint-down(md) {
        height: 50vh;
    }
    @include media-breakpoint-up(md) {
        height:100vh;
    }
   
    
}
.bold-text {
    font-family: KoHoBold;
}

.btn-warning-2 {
    color: #2c2c2c;
    font-family: KoHoBold;
    background-color: transparent;
    border: 2px solid #2c2c2c;
   
    @include media-breakpoint-down(md) {
        padding: 15px 30px;
      }
      @include media-breakpoint-up(md) {
        padding: 15px 70px;
      }
      @include media-breakpoint-up(lg) {
        padding: 15px 120px;
      }
  }
  
  .btn-warning-2:hover {
    color: $theme-color-2;
    background-color: #2c2c2c;
    border-color: #2c2c2c;
  }