<div class="container-fluid receitas-single-page" *ngIf="receita">
    <div class="row">
        <div class="col-lg-6  px-0" >
            <img [src]="receita.images[0].url" [alt]="'imagem de '+ receita.title" class="photo">
        </div>
        <div class="col-lg-6 infos bg-yellow">
            <h1>{{ receita.title }}</h1>
            <h4 class="pt-4">Ingredientes</h4>
            <span [innerHTML]="receita.prepare_modes.ingredient"></span>
            <h4>Modo de Preparo</h4>
            <span [innerHTML]="receita.prepare_modes.prepare" class="d-block pl-3"></span>
            <button class="btn btn-warning-2 text-center mx-auto text-uppercase my-4 py-3" [routerLink]="['/receitas']">
                Voltar para receitas
            </button>
        </div>
    </div>
</div>