<!-- Carrossel Missão, Visão e Valores -->
<section class="container-mission carrossel-container font-koho">
    <div class="position-mission">
        <div id="mission" class="history-carrousel has-arrow">
            <ngx-slick-carousel class="carousel slider" 
            #slickModal="slick-carousel" 
            [config]="slideConfig"
            (init)="slickInit($event)" 
            (breakpoint)="breakpoint($event)" 
            (afterChange)="afterChange($event)"
            (beforeChange)="beforeChange($event)">

                <div ngxSlickItem class="slide" *ngFor="let slide of slides" >
                    <div class="mission-item" >
                        <div class="row" *ngIf="!helper.isMobile " >
                            <ng-container *ngIf="!slide.type; else type2">
                                <div class="col-md-4 image-mission-1">
                                    <img [src]="slide.img" [alt]="slide.imgAlt">
                                </div>
                            
                                <div class="col-md-7 regular" [innerHTML]="slide.text">
                                </div>
                            </ng-container>
                            <ng-template #type2>
                                <div class="col-md-8">
                                    <p class="text-mission regular">
                                        {{ slide.text }}
                                    </p>
                                </div>
                                <div class="col-md-4 image-mission-2">
                                    <img [src]="slide.img" [alt]="slide.imgAlt">
                                </div>
                            </ng-template>
                        </div>

                        <span [innerHTML]="slide.text" *ngIf="helper.isMobile "></span>
                    </div>
                </div>
            </ngx-slick-carousel>
        
        </div>
    </div>
</section>
